{% extends "dialog_base.html" %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/style.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/fonts.css" type="text/css">
  {{ form.media.css }}
{% endblock %}

{% block body %}
  <span style="display:block;text-align:center;">Welcome <h3 style="display:inline;">{{ user.name }}</h3></span>
  <form style="display:block;margin-top:10px" class="uniForm" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.uniform }}
    <input style='margin-left:10px' class='input-button' type="submit" value = "Submit" />
  </form>
{% endblock body %}
