.header
{
  height:50px;
  width:100%;
  background-color:#eee;
  border-bottom:1px solid #ccc;
  box-shadow:0px 1px 1px #ddd;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index:2;
}

.container
{
  margin-bottom:50px;
}
.app-name
{
  font-size:20px;
  font-weight:bold;
  float:left;
  color:#2565B6;
  height:50px;
  line-height:50px;
}
#dropdown
{
  float:right;
  margin-top:10px;
  margin-left:10px;
}

.search
{
  float:right;
  width:220px;
  height:28px;
  border:1px solid #ccc;
  border-radius:4px;
  margin-top:10px;
  background-color:#fff;
}
#search-text
{
  height:28px;
  width:190px;
  border:0px;

}
#search-text:focus
{
  border:0px;
  box-shadow:0px;
  outline:none;
}
.search-image
{
  width:18px;
  height:18px;
  margin-right:4px;
  margin-top:-10px;
}

.results
{
  margin-top:20px;
  border:1px solid #ccc;
}

.equip-place
{
  height:50px;
  margin-top:40px;
  line-height:50px;  
}
.dept-name
{
margin-top:50px;
}

#footer
{
  position:fixed;
  height:40px;
  line-height:40px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:20;
  text-align:center;
  border-top:1px solid #ccc;
  background: #eee;
}
