<div class="app-heading">Games </div>
<div class="appbox-container">
{{#each games }}
  <a target="_blank" href="/games/{{ game_data.url }}">
    <div class="appbox">
      <img class="app-pic" data-app="{{ game }}" src="/static/images/games/icons/{{ game }}.png"/>
        <div class="app-name">{{ game_data.name }}</div>
    </div>
  </a>
{{/each}}
</div>
<div class="clear-both"></div>
