<div class="app-heading">Links </div>
<div class="appbox-container">
{{#each links }}
  <a target="_blank" href="{{ url }}">
    <div class="linkbox appbox">
        <div class="app-name">{{ name }}</div>
    </div>
  </a>
{{/each}}
</div>
<div class="clear-both"></div>
