<div class="app-heading">Links </div>
<div class="appbox-container">
{{#each links }}
  <div class="linkbox appbox">
    <a target="_blank" href="{{ url }}">
      <div class="app-name">{{ name }}</div>
    </a>
  </div>
{{/each}}
</div>
<div class="clear-both"></div>
