<div class="app-heading">IMG tools </div>
<div class="appbox-container">
{{#each img_tools }}
  <div class="appbox">
    <img class="app-pic" data-app="{{ name }}" src="/static/images/nucleus/imgtools/{{ icon }}"/>
    <a target="_blank" href="{{ url }}">
      <div class="app-name">{{ name }}</div>
    </a>
  </div>
{{/each}}
</div>
<div class="clear-both"></div>

