<div class="app-heading">IMG tools </div>
<div class="appbox-container">
{{#each img_tools }}
  <a target="_blank" href="{{ url }}">
    <div class="appbox">
      <img class="app-pic" data-app="{{ name }}" src="/static/images/nucleus/imgtools/{{ icon }}"/>
        <div class="app-name">{{ name }}</div>
    </div>
  </a>
{{/each}}
</div>
<div class="clear-both"></div>

