/*======= Colors/Typography and other common element styles =======*/

$grey: #eee;
$med-grey: #bbb;
$dark-grey: #999;
$white: #fff;
$black: #444;
$primary: #059b89;
//$hashtag: #4099ff; //Twitter Blue
$hashtag: $primary;
$danger: #ff9494;

$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$script-font: "Pacifico";

$gigantic: 36px;
$massive: 30px;
$huge: 24px;
$big: 18px;
$med: 16px;
$small: 14px;
$tiny: 12px;

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
