@charset "UTF-8";

@font-face {
  font-family: "yaadein";
  src:url("../fonts/yaadein.eot");
  src:url("../fonts/yaadein.eot?#iefix") format("embedded-opentype"),
    url("../fonts/yaadein.woff") format("woff"),
    url("../fonts/yaadein.ttf") format("truetype"),
    url("../fonts/yaadein.svg#yaadein") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "yaadein" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "yaadein" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "a";
}
.icon-search:before {
  content: "b";
}
.icon-instagram:before {
  content: "c";
}
.icon-user:before {
  content: "d";
}
.icon-compose:before {
  content: "e";
}
.icon-pin:before {
  content: "f";
}
.icon-play:before {
  content: "g";
}
.icon-close:before {
  content: "h";
}
.icon-heart:before {
  content: "i";
}
.icon-out:before {
  content: "j";
}
.icon-settings:before {
  content: "k";
}
.icon-users:before {
  content: "l";
}
.icon-attachment:before {
  content: "m";
}
.icon-store:before {
  content: "n";
}
.icon-arrow-right:before {
  content: "o";
}
.icon-device-camera:before {
  content: "p";
}
.icon-gear:before {
  content: "q";
}
.icon-list-unordered:before {
  content: "r";
}
.icon-menu:before {
  content: "t";
}
.icon-heart-1:before {
  content: "s";
}
.icon-comment:before {
  content: "u";
}
.icon-location:before {
  content: "v";
}
.icon-organization:before {
  content: "w";
}
.icon-person:before {
  content: "x";
}
.icon-pin-1:before {
  content: "y";
}
.icon-plus:before {
  content: "z";
}
.icon-add:before {
  content: "A";
}
.icon-subtract:before {
  content: "B";
}
.icon-check:before {
  content: "C";
}
.icon-quote:before {
  content: "D";
}
.icon-sign-out:before {
  content: "E";
}
.icon-search-1:before {
  content: "F";
}
.icon-settings-1:before {
  content: "G";
}
.icon-three-bars:before {
  content: "H";
}
.icon-triangle-right:before {
  content: "I";
}
.icon-x:before {
  content: "J";
}
.icon-zap:before {
  content: "K";
}
.icon-arrow-right-1:before {
  content: "L";
}
.icon-align-justify:before {
  content: "M";
}
.icon-check-1:before {
  content: "N";
}
.icon-camera:before {
  content: "O";
}
.icon-clipboard-pencil:before {
  content: "P";
}
.icon-comment-1:before {
  content: "Q";
}
.icon-comment-quotes:before {
  content: "R";
}
.icon-pencil:before {
  content: "S";
}
.icon-heart-2:before {
  content: "T";
}
.icon-list:before {
  content: "U";
}
.icon-magnifying-glass:before {
  content: "V";
}
.icon-marker:before {
  content: "W";
}
.icon-map:before {
  content: "X";
}
.icon-minus:before {
  content: "Y";
}
.icon-pencil-1:before {
  content: "Z";
}
.icon-photo:before {
  content: "0";
}
.icon-paperclip:before {
  content: "1";
}
.icon-plus-1:before {
  content: "2";
}
.icon-power:before {
  content: "3";
}
.icon-quote-1:before {
  content: "4";
}
.icon-sheriff-badge:before {
  content: "5";
}
.icon-skull:before {
  content: "6";
}
.icon-social-instagram:before {
  content: "7";
}
.icon-social-myspace:before {
  content: "8";
}
.icon-star:before {
  content: "9";
}
.icon-thumbnails:before {
  content: "!";
}
.icon-torsos-all:before {
  content: "\"";
}
.icon-torso:before {
  content: "#";
}
.icon-widget:before {
  content: "$";
}
.icon-x-1:before {
  content: "%";
}
.icon-wrench:before {
  content: "&";
}
.icon-attach:before {
  content: "'";
}
.icon-cancel:before {
  content: "(";
}
.icon-camera-1:before {
  content: ")";
}
.icon-chat-1:before {
  content: "*";
}
.icon-check-2:before {
  content: "+";
}
.icon-cog:before {
  content: ",";
}
.icon-comment-2:before {
  content: "-";
}
.icon-compass:before {
  content: ".";
}
.icon-heart-empty:before {
  content: "/";
}
.icon-heart-3:before {
  content: ":";
}
.icon-instagrem:before {
  content: ";";
}
.icon-location-1:before {
  content: "<";
}
.icon-logout:before {
  content: "=";
}
.icon-menu-1:before {
  content: ">";
}
.icon-minus-1:before {
  content: "?";
}
.icon-pencil-2:before {
  content: "@";
}
.icon-plus-2:before {
  content: "[";
}
.icon-quote-2:before {
  content: "]";
}
.icon-right:before {
  content: "^";
}
.icon-right-open:before {
  content: "_";
}
.icon-star-1:before {
  content: "`";
}
.icon-star-empty:before {
  content: "{";
}
.icon-user-1:before {
  content: "|";
}
.icon-user-add:before {
  content: "}";
}
.icon-arrow-right-2:before {
  content: "~";
}
.icon-bubble-3:before {
  content: "\\";
}
.icon-checkmark:before {
  content: "\e000";
}
.icon-camera-2:before {
  content: "\e001";
}
.icon-heart-4:before {
  content: "\e002";
}
.icon-paperclip-1:before {
  content: "\e003";
}
.icon-pencil-3:before {
  content: "\e004";
}
.icon-picture:before {
  content: "\e005";
}
.icon-power-1:before {
  content: "\e006";
}
.icon-pin-2:before {
  content: "\e007";
}
.icon-settings-2:before {
  content: "\e008";
}
.icon-star-2:before {
  content: "\e009";
}
.icon-user-2:before {
  content: "\e00a";
}
.icon-users-1:before {
  content: "\e00b";
}
.icon-zoom:before {
  content: "\e00c";
}
.icon-camera-3:before {
  content: "\e00d";
}
.icon-clip:before {
  content: "\e00e";
}
.icon-heart-5:before {
  content: "\e00f";
}
.icon-location-2:before {
  content: "\e010";
}
.icon-pen:before {
  content: "\e011";
}
.icon-params:before {
  content: "\e012";
}
.icon-photo-1:before {
  content: "\e013";
}
.icon-settings-3:before {
  content: "\e014";
}
.icon-search-2:before {
  content: "\e015";
}
.icon-star-3:before {
  content: "\e016";
}
.icon-user-3:before {
  content: "\e017";
}
.icon-bubble:before {
  content: "\e018";
}
