/*======= Profile page specific styles =======*/
//begin -- .cover-pic
.cover-pic {
	position: relative;
	width: 100%;
	height: 300px;
	background: $white;
	background-repeat: no-repeat !important;
	background-position: 50% !important;
	background-size: 100% !important;
  overflow: visible;
  @include transition(all 150ms ease-out);
  #cover-upload {
    cursor: pointer;
    color: $white;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    font-size: $massive;
    text-shadow: 0px 0px 7px $black;
    text-align: center;
    padding: 0 8px;
    @include transition(all 150ms ease-out);
    &:hover {
      font-size: $huge;
    }
  }
  #cover-upload-hint {
    color: $white;
    position: absolute;
    right: 58px;
    top: 24px;
    background: lighten($black, 5%);
    border: 1px black solid;
    border-radius: 3px;
    padding: 4px 8px;
    display: none;
  }
	//begin -- .user-details
	.profile-user-details {
		position: absolute;
    height: 86px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: visible;
		text-align: left;
		padding: 20px 35px;
		@include background-image( linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 130%) );
    z-index: 802;
    & > div {
      position: relative;
      width: 100%;
      max-width: 850px;
      margin: 0 auto;
      height: 46px;
      div.profile-pic {
        width: 120px;
        height: 120px;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: -34px;
        z-index: 801;
        & > div {
          width: 120px;
          height: 120px;
          //border-radius: 50%;
          .pic {
            width: 116px;
            height: 116px;
            border: 4px solid $white;
            border-radius: 4px;
            background-color: $grey;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            //box-shadow: inset 0 1px 2px 1px $med-grey;
          }
        }
      }
      div.details {
        position: absolute;
        top: 0;
        left: 137px;
		    h1 {
			    font-size: $huge;
			    margin: 0;
			    text-shadow: 0 1px 1px #333;
			    font-weight: 700;
			    color: $white;
		    }
		    p {
			    font-size: 14px;
			    color: $white;
          margin: 0;
          margin-top: 3px;
		    }
      }
    }
	}//end -- .user-details
}//end -- .cover-pic
