/*======= Search Styles =======*/
//begin -- .lightbox
.lightbox {
	position: fixed;
	width: calc(100vw - 200px);
	height: 100vh;
	top: 0;
  left: 200px;
	background: rgba(255, 255, 255, 0.85);
	z-index: 1001;
	//Close lightbox icon
	.close-lightbox {
	  color: $black;
	  position: absolute;
	  top: 15px;
	  right: 15px;
	  font-size: $massive;
	  cursor: pointer;
	}


.angucomplete-holder {
  position: relative;
  i.fa {
    position: absolute;
    font-size: $huge;
    top: 58px;
    left: 50%;
    margin-left: 17%;
    color: $dark-grey;
  }
  .search-input {
    position: absolute;
    width: 40%;
    top: 40px;
    left: 50%;
    margin-left: -20%;
    font-size: $huge;
    padding: 14px;
    padding-right: 48px;
    border-bottom: 1px solid $dark-grey;
    background: rgba(0,0,0,0);
    color: $black;
  }
}

.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 500px;
  width: calc(40%);
  padding: 0;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  top: 108px;
  left: 50%;
  margin-left: -20%;
  background: rgba(255,255,255,0);
  border: 0;
}

.angucomplete-searching {
  text-align: left;
  padding: 20px;
  color: $dark-grey;
  font-size: $huge;
}

.angucomplete-description {
  font-size: $small;
  color: $dark-grey;
}

.angucomplete-row {
  padding: 14px;
  color: $black;
  margin-bottom: 4px;
  clear: both;
  font-size: $big;
  overflow: hidden;
}

.angucomplete-selected-row {
  background-color: $primary;
  * {
    color: $white;
  }
}

.angucomplete-image-holder {
  float: left;
  margin: 0 20px 0 14px;
}

.angucomplete-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
}

.angucomplete-image-default {
  //Add your own default image here
  //background-image: url('/assets/default.png');
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

}//end -- .lightbox

//.search-container {
//position: relative;
//width: 100%;
//overflow: hidden;
//text-align: center;
//
//.search-bar {
//width: 71%;
//line-height: 19px;
//height: 19px;
//font-weight: 300;
//border: 1px solid $grey;
//border-radius: 3px;
//padding-left: 6%;
//padding-right: 11%;
//padding-top: 5px;
//padding-bottom: 5px;
//margin-top: 20px;
//margin-bottom: 20px;
//color: $black;
//@include transition(all 300ms ease-out);
//
//&:focus {
//border-radius: 15px;
//border-color: $primary;
//}
//}
//
//.icon.icon-search-1 {
//position: absolute;
//right: 18px;
//top: 28px;
//color: $dark-grey;
//}
.highlight {
  color: $primary;
}
