/*
@font-face {
    font-family: 'Ancient geek';

   src:url('./fonts/GEEK.ttf') format('truetype');
    }

@font-face {
    font-family: 'bebas neue';

   src:url('./fonts/BebasNeue.otf') format('opentype');
    }

@font-face {
    font-family: 'crimson text';

   src:url('./fonts/crimson_text_roman.ttf') format('truetype');
    }
*/

@font-face {
    font-family: 'crimson text';
    src: url('./fonts/crimson_text_roman-webfont.eot');
    src: url('./fonts/crimson_text_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/crimson_text_roman-webfont.woff') format('woff'),
         url('./fonts/crimson_text_roman-webfont.ttf') format('truetype'),
         url('./fonts/crimson_text_roman-webfont.svg#CrimsonTextRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ancient geek';
    src: url('./fonts/geek-webfont.eot');
    src: url('./fonts/geek-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/geek-webfont.woff') format('woff'),
         url('./fonts/geek-webfont.ttf') format('truetype'),
         url('./fonts/geek-webfont.svg#AncientGeekRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas neue';
    src: url('./fonts/bebasneue-webfont.eot');
    src: url('./fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bebasneue-webfont.woff') format('woff'),
         url('./fonts/bebasneue-webfont.ttf') format('truetype'),
         url('./fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.dont-show {
			position: absolute;
			display: block;
			height: 18px;
			width: 100px;
			cursor: pointer;
			z-index: 10;
			color: #EC7700;
		}

		
.search{
			height:100%;
			width:100%;
			background-color:#6a4a61;
			color:#000;
			display:none;
			filter:alpha(opacity=85);
			-moz-opacity:0.65;
			-khtml-opacity: 0.65;
			opacity: 0.65;
			}
.search_unfocused
{
			filter:alpha(opacity=65);
			-moz-opacity:0.65;
			-khtml-opacity: 0.65;
			opacity: 0.65;

}
.search_focused
{
			filter:alpha(opacity=95);
			-moz-opacity:0.95;
			-khtml-opacity: 0.95;
			opacity: 0.95;

}
.search_focused:hover
{
			filter:alpha(opacity=95);
			-moz-opacity:0.95;
			-khtml-opacity: 0.95;
			opacity: 0.95;

}
.search_unfocused:hover
{
			height:100%;
			width:100%;
			background-color:#6a4a61;
			color:#000;
			display:none;
			filter:alpha(opacity=85);
			-moz-opacity:0.85;
			-khtml-opacity: 0.85;
			opacity: 0.85;
			}
			
.close-meerkat {
			height: 18px;
			width: 18px;
			color:#3a2a31;
			float:right;
			cursor: pointer;
			z-index: 10;
			font-family:bebas neue;
			font-size:20px;
			font-weight:bolder;
		}

.credits {		height:100%;
			width:100%;
			background-color:#6a4a61;
			display:none;
			text-align:center;
			color:white;
		}
.fadeout
{
z-index:-1000;
}
		
#search_box
{

width:1024px;
margin:auto;
height:100%;
}
#search_input
{
float:left;
margin-top:15px; 
height:30px;
width:600px;
margin-left:150px;
font-size:25px;
color:#6a4a61;

}
#search_submit
{

font-family:Ancient geek;
font-size:36px;
color:white;
letter-spacing:4px;
height:60px;
float:left;
text-decoration:none;
background-color:transparent;
border:none;
cursor:pointer;

}


#back_link_container_mc
{
font-family:bebas neue;
font-size:20px;
width:71px;
height:100%;
float:left;
margin-right:2px;
}


a{
outline:none;
color:white;
text-decoration:none;

}

body {		
		margin:0px;
		padding:0px;
		background-color:white;
			
}
.search_container
{
	float:left;
	height:100%;
	width:100%;
}

#my_courses{

		float:left;
		/*position:relative;*/
		top:-125px;
		margin-left:-512px;		
		padding-left:2px;
		padding-right:2px;
		background-color:white;
		
		height:100%;
		width:1024px;
		
		z-index:50;
}
		
#searchr
{
	float:left;
	width:50%;
	height:125px;
	background-color:#6a4a61;
	}
#mcl
{
	float:left;
	width:100%;
	height:125px;
	background-color:#bfcf04;
}

#mcl_container
{
height:100%;
width:50%;
float:left;
}



#my_courses_back
{
background-color:#bfcf04;
height:50px;
_padding-bottom:6px;
}

#my_courses_bbd_back
{
background-color:#00a0b0;
margin-top:4px;
height:50px;
overflow:hidden;
_position:relative;
}

.my_courses_back_link
{
padding-right:15px;
writing-mode:tb-rl;
filter:flipv fliph;
height:20px;
margin-top:-20px;
-o-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
}
.my_courses_bbd_back_link
{
padding-right:15px;
overflow:visible;
writing-mode:tb-rl;
filter:flipv fliph;
-o-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
margin-top:-20px;
position:relative;
top:0px;
}
.my_courses_back_link:hover
{
height:25px;
font-size:25px;
}
.my_courses_bbd_back_link:hover
{
height:25px;
font-size:25px;
}


.space
{

letter-spacing:3px;
}

#search_topbar
{
height:125px;
width:949px;
background-color:#6a4a61;
}

#search_logout_button
{
font-family:bebas neue;
text-decoration:none;
float:left;
text-align:right;
width:924px;
margin-right:25px;
letter-spacing:3px;
font-size:24px;
color:white;
}

#search_title
{
font-family:Ancient geek;
font-size:36px;
color:white;
float:left;
letter-spacing:10px;
margin-left:25px;
position:relative;
top:-20px;
margin-top:50px;
}
#search_page_container
{
width:949px;
float:left;
height:100%;
_position:absolute;
_top:0px;
}
#welcome_text
{
width:450px;
height:20px;
margin-top:55px;
text-align:right;
color:white;
margin-right:25px;
float:right;
font-family:crimson text;
}

#search_selection
{ 

float:left;
width:100%;
height:50px;
position:relative;
top:-11px;
margin-bottom:5px;

}

.search_selected_link
{
background-color:#6a4a61;
color:white;
}
.search_selection_link
{
float:left;
height:40px;
width:230px;
margin-top:2px;
margin-right:2px;

text-align:center;
font-size:25px;
padding-top:10px;
font-family:bebas neue;
letter-spacing:2px;
}
.search_inactive_link
{
color:#6a4a61;
}
.search_selection_link:hover 
{
background-color:#6a4a61;
color:white;
}

#search_course_selection
{

width:300px;
float:left;
overflow-y:scroll;
overflow-x:hidden;
letter-spacing:2px;
width:500px;
background-color:transparent;
padding-left:20px;

}
.search_course_link
{
width:100%;
background-color:white;
color:#6a4a61;
}

.search_course_link:hover
{
color:#6a4a61;
width:100%;
}
.search_course_link_selected
{
width:100%;
background-color:white;
color:#6a4a61;
}

.search_course_link_selected:hover
{
color:#6a4a61;
width:100%;
}
.course_code
{
margin-top:20px;
font-family:bebas neue;
font-size:35px;
line-height:30px;
margin-bottom:0px;
background-color:transparent;
}

.course_name
{
font-family:crimson text;
font-size:14px;
color:#6a4a61;
margin-top:-6px;
font-style:bold;
height:15px;
}
/*
#my_courses_files
{
height:340px;
width:400px;
overflow-y:hidden;
overflow-x:hidden;
}
*/
#search_files
{
height:340px;
width:949px;
overflow-y:hidden;
overflow-x:hidden;
float:left;
}
.file_link
{
letter-spacing:2px;
float:left;
text-align:center;
width:50%;
font-family:bebas neue;
font-size:16px;
color:#6a4a61;
}
.file_link:hover
{
background-color:#6a4a61;
color:white;
}

#ec101_lists
{
float:left;
height:150%; 
width:400%;
overflow-y:visible;
overflow-x:hidden;

}

.subjects
{
float:left;
width:4s00%;
height:100%;
}

.search_tabs
{
float:left;
width:400%;
height:100%;
/*margin-top:30px;*/
}

#ec101
{
float:left;
width:14%;
height:100%;
}


#ce101_lists
{
float:left;
height:150%; 
width:400%;
overflow-y:visible;
overflow-x:hidden;

}

#ce101
{
float:left;
width:14%;
height:100%;
}
/*
.list_selected
{
position:relative;
z-index:100;

}
.list_inactive
{
color:white;
position:relative;
z-index:-100;
}
*/

#search_box_link
{
	margin-top:20px;
	float:right; 
	width:410px; 
	text-align:center; 
	margin-right:15px; 
	color:#6a4a61; 
	font-family:bebas neue;
	letter-spacing:2px;
	font-size:20px;
		
	

}
#search_box_link:hover
{
text-decoration:none;
font-size:24px;
background-color:#6a4a61;
color:white;
padding-left:4px;
letter-spacing:4px;

}



#search_files .viewport{width:934px;; z-index:100;float:left;}
#search_files .scrollbarer{width:100%; z-index:100;float:left;overflow:hidden;height:100%;}





/*search results*/

.serial_no{width:5%;float:left;padding-left:7%;font-family:bebas neue;font-size:16px;color:#57435E;}
.prof_name{width:20%;float:left;font-family:bebas neue;font-size:16px;color:#57435E;}
.course_id{width:10%;float:left;font-family:bebas neue;font-size:16px;color:#57435E;}
.record{width:100%;margin-bottom:5px;}
.record:hover *{color:white;cursor:pointer}
.record:hover{background-color:#6a4a61;}











