<!DOCTYPE html>

<html>
  <head>
	  <title>Download Softwares</title>
		<link href="{{STATIC_URL}}/css/softwares/bootstrap.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}/css/softwares/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/smoothness/custom-jquery-ui.css"/>
		<!--<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />-->
		<link href="{{STATIC_URL}}css/softwares/style.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}css/softwares/bootstrap-lightbox.css" rel="stylesheet" />
    <!--	<link rel="stylesheet" href="css/fonts/specimen_files/specimen_stylesheet.css" type="text/css" charset="utf-8" />
    -->
	  <link rel="stylesheet" href="{{STATIC_URL}}css/softwares/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-ui.js"></script>
    <script type="text/javascript">
      $('body').ready(function($) {
          $('.search').autocomplete({
            source:'/softwares/software_search/',
            minLength:2
           });
        });
  </script>
  </head>
  <body>
  {% load extra_tags %}
	  <header>
      <div class="row-fluid">
		  <div id="span1" class="g9">
			  <div class="g4">
			    <img id="arrow" src="{{STATIC_URL}}images/softwares/logo.png"/>
			  </div>		
			  <div id="span3">
          <a href="{% url 'download' %}" class="link"><h3>&nbspSoftwares<h3></a>
			  </div>
		  </div>
		  <div id="span2" class="g10">
			 <a href="/" ><p class="g4 link">Channel I</p></a>
			 <a href="http://www.iitr.ac.in/" target="_blank"><p class="g4 link">IITR Home</p></a>
       <a href="http://www.iitr.ac.in/IMG/"> <img id = "imglogo" src ="{{STATIC_URL}}images/softwares/imglogo.png" /></a>
		  </div>
      </div>
	  </header>
	  <div class="cf"></div>
	  <div id="greenbg" class="g3" >
      <form action ="{% url 'search' %}" method ="GET" >
			  <div class="g3">
				  <div id="searchbox" class="g1">
           <input id="button" type="image" src="{{STATIC_URL}}images/softwares/search_icon.png"value="">
				  </div>	
					<input id="span4" class="g6 search" type="text" name="q" placeholder="Search" />
			  </div>
      </form>
	  </div>
    {% block content %} {% endblock %}
    <a href="#" data-toggle="tooltip" title="Back to top" class="scrollup">Scroll</a>
    <div id="footer" class ="g3">
      <p>Copyright &copy; <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script> Information Management Group, IIT Roorkee</p>
    </div>
<!-- Minimized jQuery from Google CDN -->
  <!-- HTML6 IE Enabling Script -->
	<!--[if lt IE 9]><script src="http://html6shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	
	<!-- CSS3 Media Queries -->
	<script src="{{STATIC_URL}}js/softwares/respond.min.js"></script>

	<!-- Optimized Google Analytics. Change UA-XXXXX-X to your site ID -->
	<script>var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
	
		<script type="text/javascript" src="{{STATIC_URL}}js/softwares/nagging-menu.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/softwares/jquery.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/softwares/bootstrap.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/softwares/scroll-top.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/softwares/jquery.nav.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/softwares/jquery.scrollTo.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {$('#nav').onePageNav();});  
  </script>
	<script type="text/javascript" src="{{STATIC_URL}}js/softwares/bootstrap-lightbox.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/piwik.js"></script>
  </body>
</html>
	
