{% extends "softwares/base.html" %}
{% load extra_tags %}
{% block content %}
<div  class="g3">
  <nav id="navbar1" class="g3">
		  <div class="row-fluid">
        <div id="menu" class="default">
          <div class="span3 offset1">
            <div id="w">
			        <img id="winsign" src="{{STATIC_URL}}images/softwares/windows-logo_03.png"/>
              <p>Windows</p>
			        <ul>
			          <li><a href="{% url 'download'  %}#page1">Internet</a></li>
			          <li><a href="{% url 'download'  %}#page2">Anti-Malware</a></li>
			          <li><a href="{% url 'download'  %}#page3">Mutimedia</a></li>
			          <li><a href="{% url 'download'  %}#page4">File-Sharing</a></li>
			          <li><a href="{% url 'download'  %}#page5">Security</a></li>
			          <li><a href="{% url 'download'  %}#page6">DVD Tools</a></li>
			          <li><a href="{% url 'download'  %}#page7">Messaging</a></li>
			          <li><a href="{% url 'download'  %}#page8">System Tuning</a></li>
			          <li><a href="{% url 'download'  %}#page9">Deskbottom</a></li>
			          <li><a href="{% url 'download'  %}#page10">File Transfer</a></li>
			          <li><a href="{% url 'download'  %}#page11">Archiving</a></li>			
			          <li><a href="{% url 'download'  %}#page12">Photos & Images</a></li>
			          <li><a href="{% url 'download'  %}#page13">Office & News</a></li>
			          <li><a href="{% url 'download'  %}#page14">Networking</a></li>
			          <li><a href="{% url 'download'  %}#page15">Drivers</a></li>
			          <li><a href="{% url 'download'  %}#page16">Developer Tools</a></li>
		          </ul>
		        </div>
          </div>
		    <div class="span3 offset5">
          <div id ="l">
		        <a href="{% url 'download' %}linux/"><img id="linsign" src="{{STATIC_URL}}images/softwares/linux-logo_03.png"/></a>
            <p>Linux</p>
          </div>
		    </div>
      </div>
    </div>
	</nav>
	<div style="height:160px">
 <div class="row-fluid" style="margin-top:130px">
                <div class="span2 offset1 font-b"> <img id="span12"  src="{{MEDIA_URL}}{{software.image}}"/>
                  <p style="margin-left:47px;margin-top:-7px"><a data-toggle = 'lightbox' href ="#demoLightbox-{{ software.soft_name|cutter }}" style="text-decoration:none;color:#333333">
                  <strong>{{software.soft_name}}</strong><br/>{{software.version }}</a></p></div>
                    <div class="lightbox fade" id="demoLightbox-{{ software.soft_name|cutter }}" style="display:none">
                      <div class="lightbox-content span10" style="min-width:770px">
                        <div class="row-fluid">
                          <div class="span3 font-b"><img id="span12" style="float:left;width:50px" src="{{MEDIA_URL}}{{software.image}}" />
                            <p><strong>{{software.soft_name}}</strong><br/>{{software.version}}</p>
                          </div>
                          <div class="span2 offset2 font-b"><p>Added On :<br/>{{software.date_added}}</p></div>
                          <div class="span2 offset3 font-s"><p>Size : <br/>{{ software.soft_file.size|div }}</p></div>
                        </div>
                        <hr/>
                        <div class="row-fluid">
                          <div class="span12 font"><p>{{ software.description}}</p></div>
                       </div>
                    </div>
                   </div> 
                  <!--<p>

                </div>-->
                <div class="span5 font" style="margin-top:-7px;margin-left:5px"><p class="offset2"><a data-toggle = 'lightbox' href ="#demoLightbox-{{ software.soft_name|cutter }}" style="text-decoration:none;color:#333333">{{ software.description}}</a></p><div class="lightbox fade" id="demoLightbox-{{ software.soft_ware|cutter }}" style="display:none"></div></div>
                <div class="span1 font-s"><p class="offset5" style="margin-top:-28px"><br/>{{ software.soft_file.size|div }}</p></div>
                <div class="span1 " style="margin-top:-10px"> <a href = "{{MEDIA_URL}}{{ software.soft_file }}"><img  src="{{STATIC_URL}}images/softwares/arrowsign_03.png" class="offset9" alt="Download"/></a></div>
             </div>   

  </div>   

  </div>
</div>
{% endblock %}
