#oneAlbumOpened{
	padding-left: 15px;
	padding-right: 15px;
}
#searchViewHeader{
		position: relative;
		margin-top: 45px;
		margin-bottom: 30px;
	
		height: 30px;

	border-bottom: 1px solid #d4d4d4;
		font-family: "Lato Bold";
		color: grey;
		font-size: 18px;
}
#searchViewHeader>p{
	color: black;
	display: inline-block;
}
#searchViewWrapper>div{
display: inline-table;
width: 380px;


}
#svLeftHeader{

border-bottom: 1px solid white;
font-size: 12px;
margin-bottom: 3px;
padding-bottom: 3px;
}
#svRightHeader{
	
border-bottom: 1px solid white;
font-size: 12px;
margin-bottom: 3px;
padding-bottom: 3px;
}
#svMiddleHeader{
	
border-bottom: 1px solid white;
font-size: 12px;
margin-bottom: 3px;
padding-bottom: 3px;
}

#searchViewWrapper>div>div>span{
	display: inline-block;
	float: right;
	color: grey;
	
}
#searchViewWrapper>div>div>span:hover{
	cursor: pointer;
}

#svLeft{
	margin-right: 40px;
}
#svMiddle{
	margin-right: 40px;
}


.svLItem{
	padding: 4px;
}
.svLItem:hover{
	cursor: pointer;
	background: white;
}

.svLItem>div{
	display: inline-block;
}
.LItemInfo{
	position: relative;
	margin-left: 10px;
	font-size: 11px;
	top: -14px;
}


.LItemInfo div:nth-child(2){
	color: grey;
}
.LItemInfo div{
	padding-bottom: 1px;
}
.LItemPic {
	background: url(../img/litempic.jpg);
	background-size: cover;
	top: 1px;
	width: 41px;
	height: 41px;
	position: relative;
}
.small_play_icon{

	display: block;
	position: relative;
	width: 18px;
	height: 22px;
	left: 28%;
	top: 22%;
	visibility: hidden;
	background: url(../img/smallplay.jpg) no-repeat;
}

.svLItem:hover .small_play_icon{
	visibility: visible;
}
.borderHeader{
	border-bottom: 1px solid #d0d0d0;
position: relative;
bottom: 1px;
height: 1px;
top: 3px;
width: inherit;
}
.small_Alb_icon{
	display: block;
	position: relative;
	width: 21px;
	height: 22px;
	left: 28%;
	top: 22%;
	visibility: hidden;
	background: url(../img/miniAlb.png) no-repeat;
}

.svMItem>div {
display: inline-block;
}
.svMItem {
padding: 4px;
}
.svMItem:hover .small_Alb_icon{
	visibility: visible;
}
.svMItem:hover {
cursor: pointer;
background: white;
}