<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.min.js"></script>

<!-- Add bootstrap files-->
<!--script type="text/javascript" src="{{ STATIC_URL }}/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" src="{{STATIC_URL }}/bootstrap/css/bootstrap.min.css"-->

<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ STATIC_URL }}/jquery/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}/jquery/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ STATIC_URL }}/jquery/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}/jquery/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ STAIC_URL }}/jquery/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}/jquery/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}/jquery/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Add video.js for embedding videos-->
<link href="{{ STATIC_URL }}/jquery/video-js/video-js.css" rel="stylesheet">
<script src="{{ STATIC_URL }}/jquery/video-js/video.js"></script>
<script>
  videojs.options.flash.swf = "{{ STATIC_URL }}/jquery/video-js/video-js.swf"
</script>

<body>
  {% if viewType == 'Coursepage' %}
    <h2>{{ batch.name }} ({{ batch.course.name}})</h2>
    <form action="{% url 'uploadFile' batch_id=batch.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      <p>
        {{text_form}}
        {{image_form}}
      </p>
      <!--iframe id="select"></iframe-->
      <input type="Submit" id=" Submit" value="Submit">
    </form>
    <a href="{% url 'useruploads' batch_id=batch.id %}"><input type="button" value="My uploads"></a>
    <a href="{% url 'userdownloads' batch_id=batch.id %}"><input type="button" value="My downloads"></a>
    <br>
    <div class="feeds">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#uploads">Uploads</a></li>
        <li><a href="#notices">Notices</a></li>
      </ul>
  {% endif %}
           <div class="tab-content">
                   <div id="uploads" class="tab-pane fade in active">
         <!--p id="choices"></p-->
           {% load staticfiles %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
{% endif %}
          {% if file_form.non_field_errors %}
            {% for error in file_form.non_field_errors %}
                {{error}}
             {% endfor %}
           {% endif %}
         {% for upload in previous_uploads%}
            <h4>{{upload.upload_user.name}}</h4>
            {% if upload.file_type == 'image'%}
              <a class="fancybox" rel="group1" href="{{ MEDIA_URL }}/{{upload}}"><img src="{{ MEDIA_URL }}/{{upload}}" height="100" width="100"></a>
              {{upload.name }}
              <br>
            {% elif upload.file_type == 'video'%}
              <video id="{{noti}}" class="video-js vjs-default-skin"
                controls preload="auto" width="640" height="264"
                poster="http://video-js.zencoder.com/oceans-clip.png"
                data-setup='{"example_option":true}'>
                <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                {{upload.name}}
              </video>
              <!--video width="100" height="100" controls>
              <source src="{{ MEDIA_URL }}/{{noti}}" type="video/mp4">
              <source src="{{ MEDIA_URL }}/{{noti}}" type="video/ogg">
              <object data="{{ MEDIA_URL }}/{{noti}}" width="320" height="240">
                <embed src="{{ MEDIA_URL }}/{{noti}}" width="320" height="240">
              </object> 
              </video--> 
            {%elif upload.file_type == 'pdf'%}
              <a href="{{ MEDIA_URL }}{{upload}}" target="_blank"><img src="{{ MEDIA_URL }}lectut/images/pdf.png" height="100" width="100"></a>
              {{upload.name}}
            {%endif%}
            <a href="/lectut/disp/download/{{ upload.id }}/">Download</a>
            {% if userType == '1' %}
              <a href="/lectut/disp/delete/{{ upload.id }}/">Delete</a>
            {% endif %}
          {% endfor %}
          </div>
          <div id="notices" class="tab-pane fade">
          <p>No notices yet</p>
          </div>
         </div> 
        </div>
<!--a class="fancybox" rel="group" href="image_2.jpg"><img src="{{ MEDIA_URL }}/lectut/images/images_2.jpg" alt="" /></a-->
<script>
  function choosetype()
  {
    var act_type=prompt("Please enter the type of file:\nLecture\nTutorial\nExam Paper\nSolution","Lecture");
  }
</script>
<script type="text/javascript">
         {% load staticfiles%}
  $(document).ready(function() {
                $(".fancybox").fancybox();
                            });

  $(document).ready(function(){
            $("#Submit").fancybox({
                    type : "iframe",
                    href : "login.html"
                                  });
                  });
</script>
</body>
