<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">



		<!-- Bootstrap -->
    {% block css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/buyandsell/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/buyandsell/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/buyandsell/jquery-ui.css">
    <link href="{{ STATIC_URL }}jquery/custom.css" type= "text/css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/buyandsell/index.css" type= "text/css" rel="stylesheet">
    {% endblock %}
    {% block scripts_head %}
		<script src="{{ STATIC_URL }}js/buyandsell/bootstrap.min.js"></script>

		<script src="{{ STATIC_URL }}js/buyandsell/sliderJquery.js"></script>
		<script src="{{ STATIC_URL }}js/buyandsell/sliderJqueryUi.js"></script>

		<script src="{{ STATIC_URL }}js/buyandsell/bootstrap.min.js"></script>

		<script src="{{ STATIC_URL }}js/buyandsell/main.js"></script>
    <script src="{{ STATIC_URL }}js/common.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script></head>

   {% endblock %}
	<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	-->
		<!--jquery and css for price range selector -->



		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->





	</head>
{% block header %}
	<body>
		<div class="headerBackground">
				<header class="header container">
					<div class="row">
						<div class="col-md-3 col-xl-2">
							<a href="/buyandsell/buy">
								<h1 class="logo">Buy & Sell</h1>
							</a>
						</div>
                        <!--Search box HTML starts here-->

                        <div class="col-md-5 search-area">
                            <form action="#" id="search_form">
                                <input class="search-form" type="search" maxlength="50" name="keyword" placeholder="What are you looking for... " autocomplete="off">
                                <span class="glyphicon glyphicon-search global-search-icon"></span>
                                <div class="search-result-box">

                                </div>
                            </form>
                        </div>
						<div class="col-md-1">
							<div class="dropdown" style="display:inline">
			          <button type="button" class="btn dropdown-toggle global-browse" id="menu2" data-toggle="dropdown">Browse</button>
                         <ul class="dropdown-menu used-dropdown-menu" style="margin-top:42%; margin-left:-188%;" role="menu" aria-labelledby="menu2">
                                    <div class="arrow-up-behind" style="margin-left:69.5%; margin-top:-11.5%"></div>
                                    <div class="arrow-up-front" style="margin-left:70.5%; margin-top:-10.5%"></div>

									<li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/buy">Latest</a></li>

                {% for key,value in cat_dict.iteritems %}
									<li role="presentation" class="dropdown-submenu">
										<a role="menuitem" tabindex="-1" href="/buyandsell/buy/{{key}}">{{ key }}</a>
										<ul class="dropdown-menu used-dropdown-menu" role="menu" aria-labelledby="menu2">
                  {% for row in value %}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/buy/{{row.main_category}}/{{row.code}}">{{row.name}}</a></li>
                  {% endfor %}
										</ul>
									</li>
                {% endfor %}
								</ul>
							</div>
						</div>

                       {% if login_flag %}
                          <div class="col-md-3">
                            <div class="dropdown" style="display:inline">
                            <button class="btn btn-default dropdown-toggle user-photo-button user-photo-circle-converter" type="button" id="menu1" data-toggle="dropdown">
                                    <img src="{{ user.photo_url }}" class="user-photo">
                                    <span class="caret user-photo-caret"></span>
                                </button>
                                <ul class="dropdown-menu used-dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <div class="arrow-up-behind" style="margin-left:81.5%; margin-top:-11.5%"></div>
                                    <div class="arrow-up-front" style="margin-left:82%; margin-top:-10.5%"></div>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/my-account">My Account</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Channel- i</a></li>
                                    <li role="presentation" ><a role="menuitem" tabindex="-1"  onclick = "logout(from_buyandsell = true)">Logout</a></li>
                                </ul>
                            </div>
                            <button type="button" data-toggle="modal" data-target="#request-item-modal" class="btn global-button">
                                Request
                            </button>
                            <button type="button" data-toggle="modal" data-target="#sell-item-modal" class="btn global-button" style="margin-left:60px">
                                Sell
                            </button>
                        </div>
                      {% endif %}
					</div>
				</header>
			</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block scripts_foot %}
<script src="{{ STATIC_URL }}js/buyandsell/base.js"></script>
{% endblock %}
    </body>
</html>
