{% extends "buyandsell/base.html" %}
{% block content %}
<body>
<div class="container" style="min-width: 765px;">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }} </div>
  {% endfor %}
  {% endif %}
  <div class="row sub-header">
    <div>
      <ol class="breadcrumb">
        {% if not mc and not category and not search_flag %}
        <li>
          <a class="active" href="/buyandsell/buy">Latest</a>
        </li>
        {% endif %}
        {% if mc and not category  %}
        <li>
          <a class="active" href="/buyandsell/buy/{{mc}}">{{mc}}</a>
        </li>
        {% endif %}
        {% if mc and category %}
        <li>
          <a  href="/buyandsell/buy/{{mc}}">{{mc}}</a>
        </li>
        <li>
          <a class="active" href="/buyandsell/buy/{{mc}}/{{c}}">{{ category}}</a>
        </li>
        {% endif %}
        {% if  search_flag %}
        <li>
          <a class="active">Searched</a>
        </li>
        <li>
          <a class="active">{{search_string}}</a>
        </li>
        {% endif %}
      </ol>

    </div>
  </div>
  {% if login_flag %}
  <a class="watch-button-anchor">

    {% if mc and not category %}
    {% if mc in main_watched %}
    <button type="button" id="watch_btn" class="btn global-button watch-button watch-button-watching" onclick='watch("{{mc}}","{{c}}" )'>
      Watching
    </button>
    {% else %}
    <button type="button" id="watch_btn" class="btn global-button watch-button" onclick='watch("{{mc}}","{{c}}" )'>
      Watch this category
    </button>
    {% endif %}
    {% endif %}

    {% if mc and  category %}
    {% if category in sub_watched %}
    <button type="button" id="watch_btn" class="btn global-button watch-button watch-button-watching" onclick='watch("{{mc}}","{{c}}" )'>
      Watching
    </button>
    {% else %}
    <button type="button" id="watch_btn" class="btn global-button watch-button" onclick='watch("{{mc}}","{{c}}" )'>
      Watch this category
    </button>
    {% endif %}
    {% endif %}

    {% if not mc and not category %}
    {% endif %}
  </a>
  {% endif %}
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <div class="division-line">
      </div>
    </div>
  </div>
  {% block leftbox %}
  <div class="row">
    <div>
      <div class="left-box">
        <div class="row">
          <div class="col-md-12">
            <form action="" class="input-group-addon view-what">
              <div>
                <input type="radio" name="radio" id="items-for-sale" class="radio" checked >
                <label for="items-for-sale">
                  {% if search_flag %}
                  <a href="/buyandsell/see_all/sell/?{% if queries %}{{queries.urlencode}}{% endif %}"><div></div>Items for Sale</a>
                  {% else %}
                  <a href="/buyandsell/buy{% if mc %}/{{mc}}{% endif %}{% if c %}/{{c}}{% endif %}"><div></div>Items for Sale</a>
                  {% endif %}
                </label>
              </div>

              <div>
                <input type="radio" name="radio" id="requests" class="radio"/>
                <label for="requests">
                  {% if search_flag %}
                  <a href="/buyandsell/see_all/requests/?{% if queries %}{{queries.urlencode}}{% endif %}"><div></div>Requests</a>
                  {% else %}
                  <a href="/buyandsell/viewrequests{% if mc %}/{{mc}}{% endif %}{% if c %}/{{c}}{% endif %}"><div></div>Requests</a>
                  {% endif %}
                </label>
              </div>
            </form>
            <div class="left-division-line">
            </div>
          </div>

          {% if not search_flag %}

          <div class="col-md-12">
            <p class="filter-by-category-heading">Filter by Category</p>
            <div class="dropdown" id="filter-by-category">
              <div class="active-category dropdown-toggle" data-toggle="dropdown" id="category-filter">
                <img class="dropdown-arrow" src="{{STATIC_URL}}images/buyandsell/dropdown-arrow.png">
                <ul class="active-category-text">
                  {% if not mc and not category and not search_flag %}
                  <li>
                    <a class="active" href="/buyandsell/buy">Latest</a>
                  </li>
                  {% endif %}
                  {% if mc and not category  %}
                  <li>
                    <a class="active" href="/buyandsell/buy/{{mc}}">{{mc}}</a>
                  </li>
                  {% endif %}
                  {% if mc and category %}
                  <li>
                    <a  href="/buyandsell/buy/{{mc}}">{{mc}}</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <ul class="dropdown-menu used-dropdown-menu" style="margin-top: 0; margin-left: 30px; " role="menu" aria-labelledby="category-filter">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/buy">Latest</a></li>
                {% for key,value in cat_dict.iteritems %}
                <li role="presentation" class="dropdown-submenu">
                  <a role="menuitem" tabindex="-1" href="/buyandsell/buy/{{key}}">{{ key }}</a>
                  <ul class="dropdown-menu used-dropdown-menu" role="menu" aria-labelledby="menu2">
                    {% for row in value %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/buy/{{row.main_category}}/{{row.code}}">{{row.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </div>

            <ul class="left-box-sub-category-list">
              {% for key,value in cat_dict.items %}
              {% if key == mc  %}

              {% for sub_cat in value %}


              {% if category == sub_cat.name %}
              <li class="left-box-sub-category left-box-sub-category-active">
                <a href="/buyandsell/buy/{{mc}}/{{sub_cat.code}}">{{sub_cat.name}}</a>
              </li>

              {% else %}
              <li class="left-box-sub-category">
                <a href="/buyandsell/buy/{{mc}}/{{sub_cat.code}}">{{sub_cat.name}}</a>
              </li>
              {% endif %}

              {% endfor %}

              {% endif %}
              {% endfor %}
            </ul>

            <div class="left-division-line">
            </div>
          </div>

          {% endif %}

        </div>

        <div class="row price-filter">
          <div class="col-md-12">
            <p>Price Range</p>

            <form action="" class="input-group-addon view-what" method="get" enctype = "text/plain">
              <div class="price-line">
                <div class="slider-back"></div>
                <div id="slider-range"></div>
                <div class="prices" style= "margin-top:20px;">
                  {% if ll and ul %}
                  <script>

                    $( "#slider-range" ).slider
                    ({
                      range: true,
                      min: 0,
                      max: 50000,
                      values:[{{ll}},{{ul}}],
                    slide: function( event, ui )
                    {
                      $( "#low" ).val(ui.values[ 0 ]);
                      $( "#high" ).val(ui.values[ 1 ] );
                    }
                    });
                  </script>
                  {% endif %}
                  <div class="price-range-text-input-group">
                    <img class="rupee-icon input-box-rupee-icon-min" src="{{STATIC_URL}}images/buyandsell/rupee-icon-with-white-bg.png">
                    <img class="rupee-icon input-box-rupee-icon-max" src="{{STATIC_URL}}images/buyandsell/rupee-icon-with-white-bg.png">
                    <input type="hidden"  name="keyword"  value="{% if search_string %}{{search_string}}{% endif %}">
                    <input type="text" id="low" class="price-range-text-input" value="{% if ll %}{{ll}}{% endif %}" name="ll">
                    <input type="text" id="high" class="price-range-text-input" value="{% if ul %}{{ul}}{% endif %}" name="ul">
                  </div>
                  <button class="global-browse price-range-submit">
                    <img class="price-range-submit-button-image"
                         src="{{STATIC_URL}}images/buyandsell/price-range-submit-button-image.png">
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    <div class="page-content">
      <div class="row">
        {% for row in table_data %}
        <div class="col-xs-6 col-sm-6 col-md-3">
          <a onclick='sell_details({{row.pk}},"{{row.item_name}}")'  class="item">
            <div class="thumbnailBG">
              <div class="thumbnail">
                {% if row.itempic.pic %}
                <img class="item-for-sale-image" src="{{row.itempic.pic.url}}" alt="Generic placeholder thumbnail">
                {% else %}
                <img class="item-for-sale-image" src="{{STATIC_URL}}images/buyandsell/default.png" alt="Generic placeholder thumbnail">
                {% endif %}
              </div>
              <div class="caption">
             <div class="itemName" style="display: inline-block; white-space: nowrap; width: 100px; overflow: hidden; text-overflow: ellipsis;">{{row.item_name}}</div>
                <span class="price">
                  <img class="rupee-icon rupee-icon-item-for-sale" src="{{STATIC_URL}}images/buyandsell/rupee-icon.png">
                  {{row.cost}}
                </span>
                <div class="expiresIn">Expires in {{row.expiry_date|timeuntil}}</div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      {% if paginator %}
      {% block paginator %}

      <nav>
        <ul class="pagination pagination-customized">

          {% if table_data.number != 1 %}
          <li>
            <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page=1" aria-label="Previous">
              <span aria-hidden="true">First</span>
            </a>
          </li>
          {% endif %}

          {% if table_data.has_previous %}
          <li>
            <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.previous_page_number }}"
               aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          {% for page in page_list %}
          {% if table_data.number == page %}
          <li class="active">
            <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.number }}">{{table_data.number}}
            </a>
          </li>
          {% else %}
          <li>
            <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ page }}">{{ page }}
            </a>
          </li>
          {% endif %}
          {% endfor %}

          {% if table_data.has_next %}
          <li>
            <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.next_page_number }}"
               aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}

          {% if table_data.number != table_data.paginator.num_pages %}
          <li>
            <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ paginator.num_pages }}"
               aria-label="Next">
              <span aria-hidden="true">last</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </nav>
      {% endblock %}
      {% endif %}

    </div>

  </div>

</div>
</div>
{% endblock %}

<!--

  {% block pagina %}
  <nav>
    <ul class="pagination pagination-customized">

      {% if table_data.number != 1 %}
      <li>
        <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page=1" aria-label="Previous">
          <span aria-hidden="true">First</span>
        </a>
      </li>
      {% endif %}

      {% if  table_data.has_previous %}
      <li>
        <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for page in page_list %}
      {% if table_data.number == page %}
      <li class="active">
        <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.number }}">{{table_data.number}}
        </a>
      </li>
      {% else %}
      <li>
        <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ page }}">{{ page }}
        </a>
      </li>
      {% endif %}
      {% endfor %}

      {% if table_data.has_next %}
      <li>
        <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

      {% if table_data.number != table_data.paginator.num_pages %}
      <li>
        <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ paginator.num_pages }}" aria-label="Next">
          <span aria-hidden="true">last</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
  {% endblock %}

-->

</body>
