<html>
<head>
<title>See sell items</title> 
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script></head>
<body>
<div id="search">
  <form action="/buyandsell/see_all" method="GET" id="search_form">
    <label for="search">Search</label>
    <input type="text" id="search_main" name="keyword">
  </form>
</div>
<a href="/buyandsell/my-account">My account</a>
<div id="sell_form" onclick="sell_form()">Sell form</div>
<div id="request_form" onclick="request_form()">Request form</div>
<p><a href="/buyandsell/viewrequests{% if mc %}/{{mc}}{% endif %}{% if c %}/{{c}}{% endif %}">View request items</a></p>
{% if  error_msg %}
{{ error_msg }}
{% endif %}
<h3>Sort by Category</h3>
{% if cat_dict %}
<li><a href="/buyandsell/buy">No filter</a></li>
{% for key,value in cat_dict.items %}
<ul><a href="/buyandsell/buy/{{key}}"><h4>{{key}}</h4></a>
{% for row in value %}
<li><a href="/buyandsell/buy/{{row.main_category}}/{{row.code}}">{{ row.name }}</a></li>
{% endfor %}
</ul>
{% endfor %}
{% endif %}

{% if table_data %}
{% for row in table_data %}
<div id="{{ row.pk }}" onclick="sell_details({{ row.pk }})">
<p>Name: {{ row.item_name }}</p>
<P> <img src="/media/{{row.item_image }}"></p>
<p>Cost: {{ row.cost }}</p>
<p>Expires after: {{ row.expiry_date|timeuntil }}</p>
</div>
{% endfor %}
{% endif %}
 {% if table_data %}
      <div id="pagination_bar">
        <div >
          {% if table_data.number !=  1 %}
            <span class="first_page_link">
              <a href="?page=1">First</a>
            </span>
          {% endif %}

          {% if table_data.has_previous %}
            <span class="previous_page_link">
              <a href="?page={{ table_data.previous_page_number }}">Previous</a>
            </span>
          {% endif %}

          {% for page in page_list %}
            {% if table_data.number == page %}
              <span class="active_page">
                <a href="?page={{ table_data.number }}">{{table_data.number}}</a>
              </span>
            {% else %}
              <span class="pageno">
                <a href="?page={{ page }}">{{ page }}</a>
              </span>
            {% endif %}
          {% endfor %}

          {% if table_data.has_next %}
            <span class="next_page_link">
              <a href="?page={{ table_data.next_page_number }}">Next</a>
            </span>
          {% endif %}

          {% if table_data.number !=  table_data.paginator.num_pages  %}
            <span class="last_page_link">
              <a href="?page={{ paginator.num_pages }}">Last</a>
            </span>
          {% endif %}
        </div>
      </div>
    {% endif %}
<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}js/buyandsell/base.js"></script>
</body>
</html>

