<!DOCTYPE html>
<html>
<head>
  <link href="../../static/css/buyandsell/jquery-ui.css" type="text/css" rel="stylesheet">
  <link href="../../static/css/buyandsell/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
  <link href="../../static/css/buyandsell/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="../../static/css/buyandsell/index.css" type="text/css" rel="stylesheet">
</head>


<body>

<form method="post" action="">
  <input type="hidden" name="csrfmiddlewaretoken" value="5H6YN35PrlAofBibGiNcFMgVe08lsPyV">

  <div manage-watched-box-category-group="">
    <div class="manage-watched-box-main">
      <input type="checkbox" id="Electronics" onchange="watch_subs('Electronics',2)" checked="">Electronics<br>
    </div>
    <div class="manage-watched-box-sub-group">

      <div class="manage-watched-box-sub">
        <input type="checkbox" value="1" id="Electronics_1" onchange="main_check('Electronics','Electronics_1',2)"
               name="watched_category" checked="">gadgets
      </div>

      <div class="manage-watched-box-sub">
        <input type="checkbox" value="2" id="Electronics_2" onchange="main_check('Electronics','Electronics_2',2)"
               name="watched_category" checked="">Computer accessories
      </div>

    </div>
    <br>
  </div>

  <div manage-watched-box-cateogry-group="">
    <div class="manage-watched-box-main">
      <input type="checkbox" id="Books" onchange="watch_subs('Books',1)" checked="">Books<br>
    </div>
    <div class="manage-watched-box-sub-group">

      <div class="manage-watched-box-sub">
        <input type="checkbox" value="3" id="Books_1" onchange="main_check('Books','Books_1',1)" name="watched_category"
               checked="">Fiction
      </div>

    </div>
    <br>
  </div>

  <input type="submit" value="Submit">
</form>

</body>
</html>
