<html>
<head>
<title>My account</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script></head>
<body>
<div id="search">
  <form action="/buyandsell/see_all" method="GET" id="search_form">
    <label for="search">Search</label>
    <input type="text" id="search_main" name="keyword">
  </form>
</div>
 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }} </div>
    {% endfor %}
    {% endif %}
<div id="sell_form" onclick="sell_form()">Sell form</div>
<div id="request_form" onclick="request_form()">Request form</div>
<input type="checkbox" id="show_contact" name="contact"  {% if show_contact %} checked {% endif %}>Show contact</input>
<h2>Main Watched Categories</h2>
<div id="main_watched_cat">
{% for item in main_watched_cat %}
<p>{{item}}</p>
{% endfor %}
</div>
<h2>Sub Watched Categories</h2>
<div id ="sub_watched_cat">
{% for item in sub_watched_cat %}
<p>{{ item.name }}</p>
{% endfor %}
</div>
<div id="manage" onclick="manage()"><h3>Manage Watched Categories</h3></div>
<h2>Sell Items</h2>
<div id="sell_items">
{% if sell_items %}
{% for row in sell_items %}
<div id="sell{{ row.pk }}">
<div id="{{ row.pk }}" onclick="sell_details({{ row.pk }})">
  <p>Name: {{ row.item_name }}</p>
</div>
<div id="edit_sell" onclick="edit_sell({{ row.pk }})">
  *Edit
</div>
<P> <img src="/media/{{row.item_image }}"></p>
<p>Cost: {{ row.cost }}</p>
<p>Expires after: {{ row.expiry_date|timeuntil }}</p>
</div>
{% endfor %}
{% endif %}
</div>

<h2>Request Items</h2>
<div id="request_items">
{% if request_items %}
{% for row in request_items %}
<div id="request{{ row.pk }}">
<div id="{{ row.pk }}" onclick="request_details({{ row.pk }})">
  <p>Name: {{ row.item_name }}</p>
</div>
<div id="edit_requests" onclick="edit_request({{ row.pk }})">
  *Edit
</div>
<p>Price upper: {{ row.price_upper }}</p>
<p>Expires after: {{ row.expiry_date|timeuntil }}</p>
</div>
{% endfor %}
{% endif %}
</div>
<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}js/buyandsell/base.js"></script>
</body>
</html>
