
{% extends "buyandsell/base.html" %}

{% block content %}
<body style="background-color: #ffffff;">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container request-details-dialog-container">

  <div class="col-xs-12">
    <table class="table request-details-table">
      <tbody>
      <tr>
        <td class="request-details-headings">
          Max Price
        </td>
        <td>
          <img class="rupee-icon" src="{{STATIC_URL}}images/buyandsell/rupee-icon.png">
          <span> {{ item.price_upper }} </span>
        </td>
      </tr>
      <tr>
        <td class="request-details-headings">
          Requested by
        </td>
        <td>
          <span>{{item.user.name}}</span>
        </td>
      </tr>
      {% if show_contact %}
      <tr>
        <td class="request-details-headings">
          Phone
        </td>
        <td>
          <p> {{ item.contact }}</p>
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>

  {% if not self_flag and login_flag %}

  <div class="row request-details-dialog-enquire-divs">
    <div class="col-xs-12">
      <div class="enquire-clicked">
        <p><strong>Following mail will be sent to the Owner</strong></p>

        <p class="mail-to-be-sent">
          Your request for {{item.item_name}}  has been answered!
          Your request {{item.item_name}} added by you on {{item.post_date}} has a prospective seller! {{ user.name }} has the item that you requested for. You can contact {% if user.gender == 'F' %} her{% else %} him {% endif %} at this number {{ user.contact_no }} or email {% if user.gender == 'F' %} her{% else %} him {% endif %} at {{user.email}}<br>
          Note: if there is no phone number or email id, that means that{{ user.name}} has not filled in his contact information in the channel-i database.


        </p>

        <form action="" method="POST">
          {% csrf_token %}
          <span class="request-details-dialog-password-field-label">Please enter your password:</span>
          <input class="dialog-password-field request-details-dialog-password-field" type="password" name="password">
          <input class="send-button" type="submit" value="Send">
        </form>

      </div>
    </div>
  </div>
  <div class="row request-details-dialog-enquire-divs">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary enquire enquire-button" style="margin:0px auto">Enquire</button>
    </div>
  </div>


  {% endif %}



</body>

{% endblock %}
