{% extends "buyandsell/base.html" %}

{% block header %}
<body style="background-color: #ffffff;">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container request-details-dialog-container">

  <div class="col-xs-12">
    <table class="table request-details-table">
      <tbody>
      <tr>
        <td class="request-details-headings">
          Max Price
        </td>
        <td>
          <span>Rs. </span>
          <span> {{ item.price_upper }} </span>
        </td>
      </tr>
      <tr>
        <td class="request-details-headings">
          Requested by
        </td>
        <td>
          <span> Insert owner's name here</span>
        </td>
      </tr>
      {% if show_contact %}
      <tr>
        <td class="request-details-headings">
          Phone
        </td>
        <td>
          <p> {{ item.contact }}</p>
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>

  {% if not self_flag and login_flag %}

  <div class="row request-details-dialog-enquire-divs">
    <div class="col-xs-12">
      <div class="enquire-clicked">
        <p><strong>Following mail will be sent to the Owner</strong></p>

        <p class="mail-to-be-sent">
          Lorem ipsum dolor sit amet, adipiscing ipsum sed sem, do enim imperdiet nullam libero. Nulla a odio elementum
          ut, sed arcu. Mauris tellus libero, est sed, donec eu habitant dui quis donec arcu, suscipit aenea
        </p>

        <form action="" method="POST">
          {% csrf_token %}
          <span class="request-details-dialog-password-field-label">Please enter your password:</span>
          <input class="dialog-password-field request-details-dialog-password-field" type="password" name="password">
          <input class="send-button" type="submit" value="Send">
        </form>

      </div>
    </div>
  </div>
  <div class="row request-details-dialog-enquire-divs">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary enquire enquire-button" style="margin:0px auto">Enquire</button>
    </div>
  </div>


  {% endif %}



</body>

{% endblock %}
