{% extends "buyandsell/base.html" %}
{% block header %}
<body>
<div class="headerBackground">
  <header class="header container">
    <div class="row">
      <div class="col-md-3 col-xl-2">
        <a href="/buyandsell/buy/">
          <h1 class="logo">Buy & Sell</h1>
        </a>
      </div>
      <!--Search box HTML starts here-->

      <div class="col-md-5 search-area">
        <form action="#" id="search_form">
          <input class="search-form" type="search" name="keyword" maxlength="50"
                 placeholder="What are you looking for... " autocomplete="off">
          <img class="search-icon" src="{{STATIC_URL}}images/buyandsell/search-icon.png">

          <div class="search-result-box">

          </div>
        </form>
      </div>
      <div class="col-md-1">
        <div class="dropdown" style="display:inline">
          <button type="button" class="btn dropdown-toggle global-browse" id="menu2" data-toggle="dropdown">Browse
          </button>
          <ul class="dropdown-menu used-dropdown-menu" style="margin-top:42%; margin-left:-188%;" role="menu"
              aria-labelledby="menu2">
            <div class="arrow-up-behind" style="margin-left:69.5%; margin-top:-11.5%"></div>
            <div class="arrow-up-front" style="margin-left:70.5%; margin-top:-10.5%"></div>

            <li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/viewrequests">Latest</a></li>

            {% for key,value in cat_dict.iteritems %}
            <li role="presentation" class="dropdown-submenu">
              <a role="menuitem" tabindex="-1" href="/buyandsell/viewrequests/{{key}}">{{ key }}</a>
              <ul class="dropdown-menu used-dropdown-menu" role="menu" aria-labelledby="menu2">
                {% for row in value %}
                <li role="presentation"><a role="menuitem" tabindex="-1"
                                           href="/buyandsell/viewrequests/{{row.main_category}}/{{row.code}}">{{row.name}}</a>
                </li>
                {% endfor %}

              </ul>
              {% endfor %}
        </div>
      </div>
      {% if login_flag %}
      <div class="col-md-3">
        <div class="dropdown" style="display:inline">
          <button class="btn btn-default dropdown-toggle user-photo-button user-photo-circle-converter" type="button"
                  id="menu1" data-toggle="dropdown">
            <img src="{{ user.photo_url }}" class="user-photo">
            <span class="caret user-photo-caret"></span>
          </button>
          <ul class="dropdown-menu used-dropdown-menu" role="menu" aria-labelledby="menu1">
            <div class="arrow-up-behind" style="margin-left:81.5%; margin-top:-11.5%"></div>
            <div class="arrow-up-front" style="margin-left:82%; margin-top:-10.5%"></div>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/buyandsell/my-account">My Account</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Channel- i</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="logout(from_buyandsell = true)">Logout</a>
            </li>
          </ul>
        </div>
        <button type="button" onclick="request_form()" class="btn global-button">
          Request
        </button>
        <button type="button" onclick="sell_form()" class="btn global-button" style="margin-left:60px">
          Sell
        </button>
      </div>

      {% else %}

      <div id="header-options">
        <div class="sign-in-button" onclick="open_login_dialog(from_buyandsell=true)">Sign In</div>
      </div>
      <div class="sign-in-request-text">
        Sign in to have a better experience
      </div>

      {% endif %}
    </div>
  </header>
</div>
{% endblock %}


{% block content %}
<div class="container">
 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }} </div>
    {% endfor %}
    {% endif %}
			<div class="row sub-header">
				<div class="col-md-3">
				</div>
				<div class="col-md-9">
					<ol class="breadcrumb">
          {% if not mc and not category  and not search_flag %}
              <li>
                <a class="active" href="/buyandsell/viewrequests">Latest</a>
              </li>
            {% endif %}
            {% if mc and not category  %}
              <li>
                <a class="active" href="/buyandsell/viewrequests/{{mc}}">{{mc}}</a>
              </li>
            {% endif %}
             {% if mc and category %}
               <li>
                <a  href="/buyandsell/viewrequests/{{mc}}">{{mc}}</a>
              </li>
               <li>
    <a class="active" href="/buyandsell/viewrequests/{{mc}}/{{c}}">{{ category}}</a>
              </li>
          {% endif %}

         {% if  search_flag %}
          <li>
                <a class="active">Searched</a>
          </li>
            <li>
                <a class="active">{{search_string}}</a>
            </li>
          {% endif %}
					</ol>
{% if login_flag %}
          <a>
          {% if mc and not category %}
            {% if mc in main_watched %}
             <button type="button"  id="watch_btn"  class="btn global-button watch-button watch-button-watching" onclick='watch("{{mc}}","{{c}}" )'>
             Watching
             </button>
             {% else %}
             <button type="button" id="watch_btn" class="btn global-button watch-button" onclick='watch("{{mc}}","{{c}}" )'>
             Watch this category
             </button>
              {% endif %}
          {% endif %}

          {% if mc and  category %}
            {% if category in sub_watched %}
             <button type="button" id="watch_btn" class="btn global-button watch-button watch-button-watching" onclick='watch("{{mc}}","{{c}}" )'>
             Watching
             </button>
              {% else %}
             <button type="button" id="watch_btn" class="btn global-button watch-button" onclick='watch("{{mc}}","{{c}}" )'>
             Watch this category
             </button>
              {% endif %}
            {% endif %}

          {% if not mc and not category %}
          {% endif %}

					</a>
        {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-9">
					<div class="division-line">
					</div>
				</div>
			</div>
{% block leftbox %}
			<div class="row">
				<div class="col-md-3">
					<div class="left-box">
						<div class="row">
							<div class="col-md-12">
								<form action="" class="input-group-addon view-what">
									<div>
										<input type="radio" name="radio" id="items-for-sale" class="radio">
									<label for="items-for-sale">
									{% if search_flag %}
                          <a href="/buyandsell/see_all/sell/?{% if queries %}{{queries.urlencode}}{% endif %}"><div></div>Items for Sale</a>
                 {% else %}
                  <a href="/buyandsell/buy{% if mc %}/{{mc}}{% endif %}{% if c %}/{{c}}{% endif %}">
                    <div></div>
                    Items for Sale</a>
                  {% endif %}

                </label>
              </div>

              <div>
                <input type="radio" name="radio" id="requests" class="radio"/ checked>
                <label for="requests">
                  {% if search_flag %}
                  <a href="/buyandsell/see_all/requests/?{% if queries %}{{queries.urlencode}}{% endif %}">
                    <div></div>
                    Requests</a>
                  {% else %}
                  <a href="/buyandsell/viewrequests{% if mc %}/{{mc}}{% endif %}{% if c %}/{{c}}{% endif %}">
                    <div></div>
                    Requests</a>
                  {% endif %}

                </label>
              </div>
            </form>
            <div class="left-division-line">
            </div>
          </div>
        </div>
        <div class="row price-filter">
          <div class="col-md-12">
            <p>Price Range</p>

            <form action="" class="input-group-addon view-what" method="get">
              <div class="price-line">
                <div class="slider-back"></div>
                <div id="slider-range"></div>
                <div class="prices" style="margin-top:20px;">
                  {% if ll and ul %}
                  <script>

                    $( "#slider-range" ).slider
                    ({
                      range: true,
                      min: 0,
                      max: 50000,
                      values:[{{ll}},{{ul}}],
                    slide: function( event, ui )
                    {
                      $( "#low" ).val(ui.values[ 0 ]);
                      $( "#high" ).val(ui.values[ 1 ] );
                    }
                    });
                  </script>
                  
                  {% endif %}
                  <input type="hidden" name="keyword" value="{% if search_string %}{{search_string}}{% endif %}">
                  <input type="text" id="low" class="price-range-text-input" value="{% if ll %}{{ll}}{% endif %}"
                         name="ll">
                  <input type="text" id="high" class="price-range-text-input" value="{% if ul %}{{ul}}{% endif %}"
                         name="ul">
                  <button class="global-browse price-range-submit">
                    <img class="price-range-submit-button-image"
                         src="{{STATIC_URL}}images/buyandsell/price-range-submit-button-image.png">
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="col-md-9 pageContent">
      {% if table_data %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Item</th>
          <th>Max Price (Rs)</th>
          <th>Expires in</th>
        </tr>
        </thead>
        <tbody>
        {% for row in table_data %}
        <tr onclick="request_details({{ row.pk }},'{{row.item_name}}')" class="request">
          <td class="requested-item-name">{{row.item_name}}</td>
          <td class="requested-item-price">{{row.price_upper}}</td>
          <td>{{ row.expiry_date|timeuntil }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    {% if paginator %}
    {% block paginator %}
    <nav>
      <ul class="pagination pagination-customized">

        {% if table_data.number != 1 %}
        <li>
          <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page=1" aria-label="Previous">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        {% endif %}

        {% if table_data.has_previous %}
        <li>
          <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.previous_page_number }}"
             aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}

        {% for page in page_list %}
        {% if table_data.number == page %}
        <li class="active">
          <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.number }}">{{table_data.number}}
          </a>
        </li>
        {% else %}
        <li>
          <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ page }}">{{ page }}
          </a>
        </li>
        {% endif %}
        {% endfor %}

        {% if table_data.has_next %}
        <li>
          <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ table_data.next_page_number }}"
             aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}

        {% if table_data.number != table_data.paginator.num_pages %}
        <li>
          <a href="?{% if queries %}{{queries.urlencode}}&amp;{% endif %}page={{ paginator.num_pages }}"
             aria-label="Next">
            <span aria-hidden="true">last</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </nav>
    {% endblock %}
    {% endif %}
  </div>

</div>
{% endblock %}







