<html>
<head>
<title>See requests</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script></head>

</head>
<body>
<div id="sell_form" onclick="sell_form()">Sell form</div>
<div id="request_form" onclick="request_form()">Request form</div>
<p><a href="/buyandsell/buy{% if mc %}/{{mc}}{% endif %}{% if c %}/{{c}}{%endif%}">View sell items</a></p>
{% if  error_msg %}
{{ error_msg }}
{% endif %}

{% if table_data %}
{% for row in table_data %}
<div id="{{ row.pk }}" onclick="request_details({{ row.pk }})">
<p>Name: {{ row.item_name }}</p>
<p>Price upper: {{ row.price_upper }}</p>
<p>Expires after: {{ row.expiry_date|timeuntil }}</p>
</div>
{% endfor %}
{% endif %}

<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}js/buyandsell/base.js"></script>
</body>
</html>

