body
{
  margin-top: 0px;
}
#parent
{
  padding-right: 6px;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  background-color: #f5f5f5;
}
#header
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding-left : 10px;
  padding-top: 20px;
}
#iitr
{
  width: 75px;
  padding-left: 10%;
}
#iitr_text
{
}
#heading
{
  margin-left:36%;
}
#logout
{
  float:right;
}
#upper-half
{
  width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  height: 185px;
  padding-top: 10px;
}
#photo_div
{
  margin-left: 10px;
  float:left;
}
#genform_pic-img
{
  border-radius: 6px !important;
  height : 150px !important;
  width : 132px !important;
}
#sign_div
{
  float:left;
  margin-left: 223px;
  margin-top: 18px;
  width: 200px;
}
div[role=dialog]
{
  top: 70px !important;
}
#upload
{
  margin-left: 11%;
}
#sign
{
  width: 167px;
  height: 100px;
  border-radius: 6px;
}
#id_blood_group
{
  width: 183px;
}
h3
{
  margin: 5px 0px 0px 42px;
  font-size: 18px;
  line-height: 27px;
}
#lower-half
{
  width: 725px;
  margin-left: 170px;
  padding-top: 10px;
}
.field-label-big
{
  width : 350px;
  font-size : 15px;
}
#first_time
{
  font-size : 16px;
  padding-left: 10px;
  margin-bottom: 9px;
}
input[type=submit]
{
  margin-left: 9px !important;
}
#footer
{
  border-top: 1px solid #e8e8e8;
  padding: 10px;
  height: 20px;
}
