// bower:scss
// endbower

// Main colors
 $primary: #333;

// shades from white to black

 $g0: #FFF;
 $g1: #FAFBFC;
 $g2: #FCFCFC;
 $g3: #FAFAFA;
 $g4: #F1F1F1;
 $g5: #EEEEEE;
 $g6: #EAEAEA;
 $g7: #E1E2E3;
 $g8: #E1E1E1;
 $g9: #DDDDDD;
 $g10: #CCCCCC;
 $g11: #AAAAAA;
 $g12: #929292;
 $g13: #808080;
 $g14: #656565;
 $g15: #5F5F5F;
 $g16: #555555;
 $g17: #545454;
 $g18: #444444;
 $g19: #333333;
 $g20: #000000;




.browsehappy {
  margin:0.2em 0;
  background:#ccc;
  color:#000;
  padding:0.2em 0;
}

/* Reset defaults */
*{
  margin: 0;
  padding:0;
}

body {
  background:red;
  font-family:arial;	
}

// Main blocks 

.header{
  position:fixed;
  width:100%;
  height:55px;
  background-color:$g0;
  border-bottom:1px solid $g1;
  z-index:99999;
}

.leftDiv{
  position:fixed;
  width:280px;
  height:100%;
  top:55px;
  bottom:0px;
  left:0px;
  background-color:$g0;  
  border-right: 1px solid rgba(0,0,0,.15);
  z-index: 1;  
}

.rightDiv{
  position:fixed;
  width:220px;
  top:55px;
  right:0px;
  bottom:0px;
  background-color:$g0;  
}

.centerDiv{
  position:absolute;
  left:280px;
  right:220px;
  top:55px;
  bottom:0;
  height:auto;
  background-color:$g0;
  padding: 20px; 
}
// Header Div Css

.header{
  border-bottom: 1px solid $g5;  
}

// Left Div Css

// UserBlock

#userblock{
  height:auto;
  background-color:$g0;  
  padding: 10px 5px;
  border-bottom: 1px solid $g5;
  >div{
    display: inline-table;  
  }
}

#userpic{
  border-radius: 100px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: 1px solid #888;
  margin-left: 10px;
  margin-right: 10px;
}


#userPicSource{
  
}

#userdata{
}

.myCourse{
   ul{
    li{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor:pointer;
      &:hover{
        background-color:$g6;
      }
    }
   }
}

.myCourseHeading{
  border-bottom:1px solid $g8;
  color: #919da8;
  font-size: 13px;
  letter-spacing: .035em;
  padding:7px 0px 7px 20px;
  cursor: default;
  a{
    
  }
}

.myCourseUl{
   

  .crsA{

   }
  .crsLi{
        padding: 10px 15px;
        color: #515253;
        letter-spacing: .025em;
        font-weight: 400;
        font-size:14px;
        border-left: 4px solid;
        border-left-color: $g0;
        &:hover{
          border-left-color: $g13; 
        }
        > div{
          display:inline-block;
        } 
       .crsIdName{
         div{
         
         } 
         .crsId{
           font-weight:bold;
           font-size:16px; 
         }
         .crsName{
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           width: 200px;
         }
       }
       .crsNotification{
          float: right;
          width: 20px;
          height: 20px;
          text-align: center;
          //background: rgb(29, 170, 197);
          background-image: linear-gradient(120deg, #910385, #FF2424);
          font-weight: bold;
          color: white;
          line-height: 20px;
          font-size: 13px;
          margin-top: 6px;	
       }
      }
}

// Right Div Css





// Center Div Css

.courseFullDiv{
  background-color:$g0;
  .courseHeading{
    height: 50px;
    background: $g4;
    font-size: 19px;
    line-height: 50px;
    padding: 0px 20px;
    border-bottom:1px solid $g9; 
    > div{
      display:inline-block;  
    } 
    .courseHeadingNameId{
      
    }
    .courseSearch{
      float: right;  
    }
  }
  .courseFilters{
    
    ul{
      list-style:none;
      a{
        text-decoration:none;
        display:inline-block;
        li{
          
        }  
      }  
    }
      
  }   
}




