{% extends "base.html" %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript">
    {% if close %}
      parent.display_messages({{ django_messages }});
      parent.feedback_dialog.dialog('close');
    {% endif %}
  </script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/fonts.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/style.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/helpcenter/login_help.css" type="text/css">
  {{ form.media.css }}
  <style type="text/css">
    #content{
      margin-left:10px;
    }
    #heading{
      margin:20px 10px;
      font:13px "Tahoma","Arial",sans-serif;
      color:#202020;
    }
  </style>
{% endblock %}

{% block body %}
   <div id="content">
   <div id="heading">We value your feedback highly.</div>
   <form action="" method="POST" class="uniForm">{% csrf_token %}
     {{ form.uniform }}
     <input type="submit" class="input-button" name="submit" style="margin-left:10px" value="Submit"/>
   </form>
   </div>
{% endblock body %}
