{% extends "base.html" %}

{% block scripts %}
  <script type="text/javascript">
    function close(){
      parent.social_like_message.dialog('close');
    }
  </script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nucleus/fonts.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nucleus/style.css" type="text/css">
  <style type="text/css">
    body{
      overflow: hidden;
    }  
    #content{
      margin:20px;
    } 
  .block{
    width:100px;
    margin-left:60px;
    float:left;
  }
  .fb-like{
    margin-top: 3px;
  }  
  </style>
{% endblock %}

{% block body %}
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div id="content">
     Like us on Facebook and follow us on Twitter to get the latest updates.
     <br><br>
     <div class="block">
       <div class="fb-like" data-href="https://www.facebook.com/IMGIITRoorkee" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
     </div>
     <div class="block">
        <a href="https://twitter.com/img_iitr" class="twitter-follow-button" data-show-count="false">Follow @img_iitr</a>
     </div>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   </div>
{% endblock body %}
