<div id="settings-links" class="right-column-inner-div">
  {{#each settings_tabs}}
    <div id="settings-label-{{name}}"
      class="settings-label"
      onclick="settings_label_clicked('{{name}}')"
    >
      <div class="label-name">{{show}}</div>
    </div>
  {{/each}}
</div>
