[submodule "third_party_apps/django-crispy-forms"]
	path = third_party_apps/django-crispy-forms
	url = https://github.com/IMGIITRoorkee/django-crispy-forms.git
[submodule "third_party_apps/django-taggit-jquery-tag-it"]
	path = third_party_apps/django-taggit-jquery-tag-it
	url = https://github.com/IMGIITRoorkee/django-taggit-jquery-tag-it.git
[submodule "third_party_apps/django-compressor"]
	path = third_party_apps/django-compressor
	url = https://github.com/django-compressor/django-compressor.git
[submodule "third_party_apps/django-cron"]
	path = third_party_apps/django-cron
	url = https://github.com/Tivix/django-cron.git
[submodule "third_party_apps/django-extensions"]
	path = third_party_apps/django-extensions
	url = https://github.com/django-extensions/django-extensions.git
[submodule "third_party_apps/django-rest-framework"]
	path = third_party_apps/django-rest-framework
	url = https://github.com/tomchristie/django-rest-framework.git
[submodule "third_party_apps/django-debug-toolbar"]
	path = third_party_apps/django-debug-toolbar
	url = https://github.com/django-debug-toolbar/django-debug-toolbar.git
[submodule "third_party_apps/django-taggit"]
	path = third_party_apps/django-taggit
	url = https://github.com/alex/django-taggit.git
[submodule "third_party_apps/django-threadedcomments"]
	path = third_party_apps/django-threadedcomments
	url = https://github.com/HonzaKral/django-threadedcomments.git
[submodule "third_party_apps/django-fluent-comments"]
	path = third_party_apps/django-fluent-comments
	url = https://github.com/edoburu/django-fluent-comments.git
[submodule "third_party_apps/django-filemanager"]
	path = third_party_apps/django-filemanager
	url = https://github.com/IMGIITRoorkee/django-filemanager.git
