*{
  font-family: sans-serif;
}

#container{
  min-height: 400px;
  position: absolute;
  top: 0px !important;
  bottom: 0px;
  width: 900px;
  left:50%;
  margin-left: -500px;
  padding: 20px 50px;
}

.control-label{
  font-size: 16px;
  font-weight: bold;
}

.rowd{
  font-size: 14px;
  margin-bottom: 15px;
}

#footer{
  position: absolute;
  height: 30px;
  bottom: 0px;
  padding-top: 10px;
  text-align: center;
  width: 900px;
  border-top: 1px solid #cfcfcf;
}

#note{
  position: absolute;
  height: 100px;
  bottom: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  width: 900px;
}

#header{
  margin-bottom:25px;
}

#header #heading{
  float:left;
  line-height:28px;
  font-size:18px;
  font-weight:bold;
}

#header a{
  float:right;
  margin-left:10px;
}

#content-left{
  float:left;
  width:200px;
}

#content-right{
  float:left;
  width:400px;
}

#person_photo-img{
  float:left;
}

#upload-photo{
  float:left;
  margin-top: 20px;
}
