<div>
<div class="padded">
    <!-- <div class="toggle-feed-container">
        <div>
        </div>
    </div> -->
	<h2 class="page-title">Trending posts with #{~{hash}~}</h2>
    <div class="feed-container fade" ng-repeat="post in posts">
    <div>
        <div class="user-data pull-left">
        <div>
            <a ng-href="#/profile/{~{post.post_owner_enrol}~}" ng-click="setCurrentNavItem({})">
                <div class="user-image" ng-style="{ 'background-image': 'url(' + post.post_owner_pic + ')' }"></div>
            </a>
            <p class="info"><i class="fa fa-graduation-cap"></i> {~{post.post_owner_branch}~}</p>
            <a ng-href="#/profile/{~{post.spot[0].id}~}" ng-show="post.spot[0]" ng-click="setCurrentNavItem({})">
              <p class="info" style="margin-top:5px;"><i class="fa fa-map-marker"></i> {~{post.spot[0].name}~}</p>
            </a>
            <p class="info"><i class="fa fa-clock-o"></i> <span am-time-ago="post.time"></span></p>
        </div>
        </div>
        <div class="post-data pull-left">
        <div>
            <button class="delete-post-bttn" ng-if="isLoggedUserPost(post.post_owner_enrol)" ng-click="deleteHashtagPost(post.post_id, $index)"><i class="fa fa-close"></i></button>
            <a ng-href="#/profile/{~{post.post_owner_enrol}~}" ng-click="setCurrentNavItem({})"><h1 ng-bind="post.post_owner"></h1></a>
            <h2 ng-show="post.taggedUsers.length">With
                <span ng-repeat="taggedUser in post.taggedUsers">
                    <span ng-show="$last && $index"> and </span><a ng-click="setCurrentNavItem({})" ng-href="#/profile/{~{taggedUser.username}~}">{~{taggedUser.name}~}</a><span ng-hide="(post.taggedUsers.length-1==$index)||(post.taggedUsers.length-2==$index)">, </span>
                </span>
            </h2>
            <p ng-bind-html="post.post_text | linky:'_blank' | emoji | hashtags"></p>
            <div class="images-container">
                <a ng-if="post.image_url.length > 1" ng-repeat="image in post.image_url" ng-click="enlargeImage(post.image_url, $index, $event)">
					<div ng-style="{'background':'url(' + image + ')'}"></div>
                </a>
				<a class="single-image" ng-if="post.image_url.length === 1" ng-repeat="image in post.image_url" ng-click="enlargeImage(post.image_url, $index, $event)">
					<img ng-src="{~{image}~}" alt="{~{$index}~}">
                </a>
            </div>
        </div>
        </div>
       <!-- <p class="info stars" ng-click="">{~{post.stars}~} <i class="fa fa-star"></i></p>-->
    </div>
    </div>
    <!-- <div class="loader">
        <img src="images/svg-loaders/three-dots.svg" alt="Loading...">
    </div> -->
</div>
</div>
