<html>
  <head>
    <title> {{album.album}} </title>
  </head>

  <body>
    Albums:
    <br>
      <p>Album Name --- {{album.album}}</p>
      Artist ---
      {% for artist in album.artists.all %}
        {{artist}} , &nbsp;
      {% endfor %}
      <br><br>
      <img src="{{ MEDIA_URL }}{{album.album_art}}" width="100px" height="100px"></img>
      <br><br>
      Songs:
      <br>
      {% for song in album.song_set.all %}
        {{song.song}} <br>
      {% endfor %}
    </div>
  </body>
<html>
