<div class="courseFeeds">
    
  <div class="createPost">
    <div class="uploadBox" ng-show="logIn && is_member == true" style="border-top: 1px solid #DDD;padding-top:20px;">
    <div class="cPPic">
       <img ng-src="{[base_domain]}{[auth.user.photo]}"></img> 
    </div>
    <div class="cPContent" ng-init="tab=1">
      <div class="postOverlay">
      </div>
      <div class="postType">
          <ul>
          <!--
              <li ng-class="{activePostType:tab===1}" style="border-right: 1px solid #EEE">
                   <i class="fa fa-pencil-square-o" style="padding-right:5px;"></i> 
                   <a href ng-click="tab = 1">Add Post</a>  
               </li>
               
               <li ng-class="{activePostType:tab===2}" style="border-right: 1px solid #EEE">
                   <i class="fa fa-calendar-o" style="padding-right:5px;"></i> 
                   <a href ng-click="tab = 2">Create Event</a> 
               </li>
               -->
          </ul>
      </div>
      <div class="postView">
               <!-- For posts -->
               <div ng-show="tab === 1">
                 <div class="inputTextPost">
                   <textarea type="text" ng-model="thing.content" placeholder="Write here ..."></textarea>
                 </div>
                 <div class="postOptions">
                   <div class="uploadFiles">
                   <div>
                       
                        <ul class="itemDisplay" ng-show="fileArray.Lecture.length != 0 || fileArray.Tutorial.length != 0 || fileArray.ExamPaper.length != 0 || fileArray.Solution.length != 0">
                        <!--LECTURE -->
                           <li style="font:smaller">
                              <div ng-show="fileArray.Lecture.length" class="headerTypeUpload"><i class="fa fa-circle c_Lecture" style="padding-right:5px;"></i>Lectures</div>
                              <ul>
                                <li ng-repeat="f in fileArray.Lecture">
                                  <span class="fileIcon">
                                    <!--<i class="fa fa-file-photo-o"></i>-->
                                  </span>
                                  <span class="dummyFileName">
                                    {[f.name]}
                                  </span>
                                  <span class="deleteIcon" ng-click='deleteItem($index,"Lecture")'>
                                    <i class="fa fa-times-circle-o"></i>
                                  </span>
                                </li>
                              </ul>
                           </li>
                        <!--TUTORIAL -->
                           <li style="font:smaller">
                              <div ng-show="fileArray.Tutorial.length" class="headerTypeUpload"><i class="fa fa-circle c_Tutorial" style="padding-right:5px;"></i>Tutorial</div>
                              <ul>
                                <li ng-repeat="f in fileArray.Tutorial">
                                  <span class="fileIcon">
                                    <!--<i class="fa fa-file-photo-o"></i>-->
                                  </span>
                                  <span class="dummyFileName">
                                    {[f.name]}
                                  </span>
                                  <span class="deleteIcon" ng-click='deleteItem($index,"Tutorial")'>
                                    <i class="fa fa-times-circle-o"></i>
                                  </span>
                                </li>
                              </ul>
                           </li>
                        <!--EXAMPAPAER -->
                           <li style="font:smaller">
                              <div ng-show="fileArray.ExamPaper.length" class="headerTypeUpload"><i class="fa fa-circle c_Exam" style="padding-right:5px;"></i>Exam Paper</div>
                              <ul>
                                <li ng-repeat="f in fileArray.ExamPaper">
                                  <span class="fileIcon">
                                    <!--<i class="fa fa-file-photo-o"></i>-->
                                  </span>
                                  <span class="dummyFileName">
                                    {[f.name]}
                                  </span>
                                  <span class="deleteIcon" ng-click='deleteItem($index,"ExamPaper")'>
                                    <i class="fa fa-times-circle-o"></i>
                                  </span>
                                </li>
                              </ul>
                           </li>
                        <!--SOLUTION -->
                           <li style="font:smaller">
                              <div ng-show="fileArray.Solution.length" class="headerTypeUpload"><i class="fa fa-circle c_Solution" style="padding-right:5px;"></i>Solution</div>
                              <ul>
                                <li ng-repeat="f in fileArray.Solution">
                                  <span class="fileIcon">
                                    <!--<i class="fa fa-file-photo-o"></i>-->
                                  </span>
                                  <span class="dummyFileName">
                                    {[f.name]}
                                    <!--<div class="dummyType">Solution</div> -->
                                  </span>
                                  <span class="deleteIcon" ng-click='deleteItem($index,"Solution")'>
                                    <i class="fa fa-times-circle-o"></i>
                                  </span>
                                </li>
                              </ul>
                           </li>
                        </ul>
                         <ul class="dropdown-menu fourChoice" ng-show="toggled">
                              <li ng-repeat="choice in uploadItems" ng-click='changeToggle()'  ng-file-select ng-model="fileArray" ng-file-change='update($files,"{[choice]}")' ng-multiple="true">
                                <span class="button"><i style="margin-left:0px;margin-right:10px;" class="fa fa-plus-square-o"></i>{[choice]}</span>
                              </li>
                         </ul>
                     </div>
                   </div>
                  <div class="postSettings">
                    <div class="postButton" ng-click="finalSend()">
                      Post
                    </div>
                    <div class="profPrivacy" ng-show='auth.user.role == "Faculty"'>
                      <div class="onoffswitch">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked ng-model="privacy">
                          <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                           <!-- <span class="onoffswitch-switch"></span>-->
                          </label>
                      </div>
                      <div style="float: right; font-size: 13px; color: #999; padding-right: 10px; line-height: 27px;">Only students in this batch can see private post.</div>
                    </div>
                    <div>
                       <span ng-click="changeToggle()" ng-class="{'addFiles': !toggled, 'addFilesWhite': toggled}">
                        <i class="fa fa-cloud-upload" style="padding-right:5px;vertical-align: middle;font-size:20px;"></i>
                        Add Files
                       </span>
                    </div>
                 </div>
               </div>
               
               <!-- For events-->
               <div ng-show="tab === 2"> I drink pulpy orange juice, mango milk shake... </div>
      </div>
          </div>
  </div>
   </div>

   <div class="noPosts" ng-show="posts.length == 0">
      No posts here.
   </div>
   <div class="postDiv" ng-repeat="post in posts">

    <div class="mainPost">
      <div class="postUserPic">
          <img ng-src="{[base_domain]}{[post.post.user_image]}"></img>
      </div>
      <div class="postData">
          <div class="postUserNameTime">
            <div class="postUser">
              <span ng-if="post.post.userType == '1'" class="postUserName">
                <a ng-href="#/faculty/{[post.post.upload_user_id]}/">{[post.post.upload_user]}</a>
              </span>
              <span ng-if="post.post.userType == '0'" class="postUserName">
                {[post.post.upload_user]}
              </span>
              <span class="removeFeedPost" ng-show="logIn && auth.user.name == post.post.upload_user" ng-click="removeFeedPost(post.post.id, $index)">
                  <i class="fa fa-times-circle-o"></i>
              </span>
            </div>
            <div class="postTime">
              <a am-time-ago="post.post.datetime_created" ng-href="#/course/{[coId.courseId]}/feeds/{[post.post.id]}"></a>
            </div>
          </div>
          <div class="postContentAll">
              <div class="postText">
                {[post.post.content]}
              </div>
              <div class="filesDisplay" ng-show="post.files.length > 0" >
                  <div class="postContent" ng-repeat="file in post.files">
                    <div class="removeFeedFile" ng-show="logIn && file.username == auth.user.name" ng-click="removeFeedFile(file.id,$parent.$index,$index)">
                      <i class="fa fa-times"></i>
                    </div>
                    <div class="fileOverlay">
                      <a download ng-href="{[base_domain]}/lectut_api/download/{[file.id]}"><i class="fa fa-arrow-down"></i></a>
                    </div>
                    <div class="fileImage">
                       <img ng-show='file.file_type == "image"' ng-src="{[base_domain]}/{[file.filepath]}"></img>
                       <i ng-show='file.file_type == "pdf"' class="fa fa-file-pdf-o"></i>
                       <i ng-show='file.file_type == "ppt"' class="fa fa-file-powerpoint-o"></i>
                       <i ng-show='file.file_type == "zip"' class="fa fa-file-archive-o"></i>
                       <i ng-show='file.file_type == "sheet"' class="fa fa-file-excel-o"></i>
                       <i ng-show='file.file_type == "doc"' class="fa fa-file-word-o"></i>
                       <i ng-show='file.file_type == "other"' class="fa fa-file-o"></i> 
                    </div>
                    <div class="fileData">
                       <div class="filename">
                          <a ng-href="#/course/{[coId.courseId]}/files/{[file.id]}" ng-click="updateCourseId(post.post.batch.id)">{[file.upload_file]}</a>
                       </div>
                       <div class="fileType">
                            <i class="fa fa-circle c_{[file.upload_type]}" style="padding-right: 3px;"></i>
                           {[file.upload_type]}
                       </div>
                    </div>
                  </div>   
              </div> 
          </div>
        </div>
        <div class="commentsBlock" ng-show="logIn && is_member">
          <div ng-click="loadCommentsFunc(post.post.id)" class="showHideComments">
            Comments <span class="commentsCount" ng-show="post.post.count != 0">{[post.post.count]}</span>
          </div>
          <div id="postComments_{[post.post.id]}" class="loadComments">
            
          </div>
        </div>
</div>


<!--
            <div class="postComments">
              <div class="commentTextDiv">
                  <div class="commentText">
                    Comments
                  </div>
                  <div class="totalComments">
                    3
                  </div>
              </div>
              <div class="allComments">
                This is it. 
              </div>           
            </div>

-->
