<div class="filteredContent">
<div class="courseFeeds">
<div class="postDiv">
<div class="mainPost">
      <div class="postUserPic">
          <img ng-src="{[base_domain]}{[onePost.post.user_image]}"></img>
      </div>
      <div class="postData">
          <div class="postUserNameTime">
            <div class="postUser">
              <span class="postUserName"><a ng-href="#/faculty/{[onePost.post.upload_user_id]}/">{[onePost.post.upload_user]}</a></span>
              <span class="removeFeedPost" ng-show="logIn && auth.user.name == onePost.post.upload_user" ng-click="removeFeedPost(onePost.post.id, $index)">
                  <i class="fa fa-times-circle-o"></i>
              </span>
            </div>
            <div class="postTime">
              <span am-time-ago="onePost.post.datetime_created"></span>
            </div>
          </div>
          <div class="postContentAll">
              <div class="postText">
                {[onePost.post.content]}
              </div>
              <div class="filesDisplay" ng-show="onePost.files.length > 0" >
                  <div class="postContent" ng-repeat="file in onePost.files">
                    <div class="removeFeedFile" ng-show="logIn && auth.user.name == file.username" ng-click="removeFeedFile(file.id,$parent.$index,$index)">
                      <i class="fa fa-times"></i>
                    </div>
                    <div class="fileOverlay" ng-click='downloadFeedFile(file.id)'>
                      <a download ng-href="{[base_domain]}/lectut_api/download/{[file.id]}"><i class="fa fa-arrow-down"></i></a>
                    </div>
                    <div class="fileImage">
                        <img ng-show='file.file_type == "image"' ng-src="{[base_domain]}/{[file.filepath]}"></img>
                        <i ng-show='file.file_type == "pdf"' class="fa fa-file-pdf-o"></i>
                        <i ng-show='file.file_type == "ppt"' class="fa fa-file-powerpoint-o"></i>
                        <i ng-show='file.file_type == "zip"' class="fa fa-file-archive-o"></i>
                        <i ng-show='file.file_type == "sheet"' class="fa fa-file-excel-o"></i>
                        <i ng-show='file.file_type == "doc"' class="fa fa-file-word-o"></i>
                        <i ng-show='file.file_type == "other"' class="fa fa-file-o"></i> 
                    </div>
                    <div class="fileData">
                       <div class="filename">
                          {[file.upload_file]}
                       </div>
                       <div class="fileType">
                           <i class="fa fa-circle c_{[file.upload_type]}" style="padding-right: 3px;"></i>
                           {[file.upload_type]}
                       </div>
                    </div>
                  </div>   
              </div> 
          </div>
   </div>
          <div class="commentsBlock" ng-show="logIn && is_member">
            <div ng-click="loadCommentsFunc(onePost.post.id)" class="showHideComments">
            Comments <span class="commentsCount" ng-show="onePost.post.count != 0">{[onePost.post.count]}</span>
            </div>
            <div id="postComments_{[onePost.post.id]}" class="loadComments">
            </div>
          </div>
</div>
</div>
</div>
