{% extends "nucleus/login.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
$( "#popup_box" ).dialog({
  autoOpen: true,
  height: 150,
  width: 320,
  modal: true,
  buttons: {
  {% if name %}
    "Yes": function() {
      $("#sure").val("Yes");
      $("#my_form").submit();
    },
    "No": function() {
      $("#sure").val("No");
      $("#my_form").submit();
    },
  {% else %}
    "Submit" : function() {
      $("#my_form").submit();
    },
  {% endif %}
    close: function() {
        $("#popup_box").dialog("close");
   }
 }
});
</script>
{% endblock %}

{% block body %}
  {{ block.super }}
  <div id="popup_box" style="display:none">
    <form method="POST" id="my_form">{% csrf_token %}
      {% if name %}
        Are you sure you are {{name}}
        <input type="hidden" name="sure" value="No" id="sure"/>
        <input type="hidden" name="enrollment_no" value="{{ enrollment_no }}"/>
      {% else %}
        Enrollment No :
        <input type="text" style="width:150px" name="enrollment_no"/>
      {% endif %}
      <input type="hidden" name="webmail_id" value="{{webmail_id}}"/>
    </form>
  </div>
{%endblock%}
