{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="/static/jquery/smoothness/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/static/jquery/custom.css" type="text/css">
  <link rel="stylesheet" href="/static/jquery/nanoscroller/nanoscroller.css" type="text/css">
  <link rel="stylesheet" href="/static/sass/nucleus/fonts.sass" type="text/sass">
  <link rel="stylesheet" href="/static/sass/nucleus/style.sass" type="text/sass">
  <link rel="stylesheet" href="/static/sass/nucleus/base.sass" type="text/sass">
  <link rel="stylesheet" href="/static/sass/events/events.sass" type="text/sass">
  <link rel="stylesheet" href="/static/sass/helpcenter/helpcenter.sass" type="text/sass">
{% endblock %}

{% block scripts %}
 {{ block.super }}
  <script src="/static/jquery/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/static/jquery/nanoscroller/jquery.nanoscroller.min.js" type="text/javascript"></script>
  <script src="/static/js/csrf.js" type="text/javascript"></script>
  <script src="/static/js/common.js" type="text/javascript"></script>
  <script src="/static/js/nucleus/apps_scripts.js" type="text/javascript"></script>
  <script src="/static/js/nucleus/base.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  {% pagelet "header" %}
  {% pagelet "sidebar" %}
  <div id="content"></div>
  <div id="free-area">
    <div id="content-back"></div>
    <div id="right-column">
      <div class="nano">
        <div class="content"></div>
      </div>
    </div>
  </div>
{% endblock %}
