.pickdiv
{
  position:absolute;
  width:210px;
  height:60px;      
  background:#fff;
  padding:10px;
  border:1px solid #dddbdb;
  z-index:500;
  display:none;
}

.name-info-div
{
  width:140px;
  float:left;      
} 

.name-info-div .name-div
{
  font:14px "Tahoma";
  overflow:hidden; 
  height:20px;         
}

.name-info-div .info-div
{
  font:11px "Tahoma";
  margin-top:4px;     
}

.pickdiv img
{
  width:auto;
  height:60px;
  float:right;
  max-width:60px;
}

.user-span
{
  cursor:pointer;
  color: #0072dc;
}
