{% extends 'buysell/base.html' %}

<!-- request-item.html -->
{% block title %}Request Item|Buy and Sell{% endblock title %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/buysell/requests.js"></script>
{% endblock scripts %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block request_tab %}
active_tab
{% endblock request_tab %}



<!-- Above, page specific css/js added. Below is "content" of the request-item.html subclass template -->

{% block content %}
    {% if form.errors %}
      <ul id="errors">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

<!--    {% if not extraData.editFlag %}<h2 id="heading">Can't find what you are looking for? Make a request.</h2>{% endif %}-->
    {% if extraData.editFlag %}<h2>Edit the details of your request:</h2>{% endif %}
    <span id="reqid" style="display:none">{% if extraData.editFlag %}{{extraData.reqid}}{% endif %}</span>

<form action="/buysell/request-item/" method="POST">{% csrf_token %}
<div class="row-fluid">
	<div class="span4 offset4 buy-heading"><div class="offset1">Fill in this form to get your entry registered</div></div>
  </div>
<div class="row-fluid">
	<div class="span2 offset4 entries"><label for="id_item_name">Item Name*</label></div>
 <div class="left span2 offset1" style="margin:0px;">
 <input class="entries-input" id="id_item_name" name="item_name" type="text" style="width:199px;height:26px;" value="{{form.item_name.value|default_if_none:""}}" required> </input>
 </div>
{% if form.item_name.errors %}
<div class="span2" style="margin:-11px 0px 0px 10px;" >
	<div class="entries_error">{{ form.item_name.errors }}</div>
</div>
{% endif %}

</div>

<div class="row-fluid">
	<span class="span2 offset4 entries">Status</span>
	  <div class="span2" id="category-select" style="margin-left:0px">
				<select class="span12" id="id_status" name="condition">
				<option value="Excellent">Excellent</option>
				<option value="Good">Good</option>
				<option value="Fine">Fine</option>
				<option value="Old">Old</option>
			</select>
  </div>
</div>
{% if form.condition.errors %}
<div class="span2" style="margin:-11px 0px 0px 10px;" >
	<div class="entries_error">{{ form.condition.errors }}</div>
</div>

{% endif %}


<div class="row-fluid">
	<div class="span2 offset4 entries"><label for="id_item_name">Maximum Price*</label></div>
 <div class="left span2 offset1" style="margin:0px;">
 <input class="entries-input" id="id_item_name" name="price_upper" type="text" style="width:199px;height:26px;" maxlength="6" value="{{form.price_upper.value|default_if_none:""}}" required> </input>
 </div>
{% if form.price_upper.errors %}
<div class="span2" style="margin:10px 0px 0px 35px;" >
	<div class="entries_error">{{ form.price_upper.errors }}</div>
</div>
{% endif %}
</div>


<div class="row-fluid">
	<span class="span2 offset4 entries">Phone No.*</span>
	<input class="span2 offset1 entries-input" style="width:207px" type="text" name="contact" value="{{contact}}" maxlength="10" required/>
</div>
{% if form.contact.errors %}
<div class="span2" style="margin:10px 0px 0px 35px;" >
	<div class="entries_error">{{ form.contact.errors }}</div>
</div>
{% endif %}

<div class="row-fluid">
	<span class="span2 offset4 entries">Email Id*</span>
	<input class="span2 offset1 entries-input"  style="width:207px" type="text" name="email" value="{{ email }}" required/>
</div>
{% if form.email.errors %}
<div class="span2" style="margin:10px 0px 0px 35px;" >
	<div class="entries_error">{{ form.email.errors }}</div>
</div>

{% endif %}

<div class="row-fluid">
	<div class="span2 offset5 btn-submit" style="padding:0px;">
	<div class="offset4"><div class="offset2"><input class="submit btn1" style="" type="submit" value="Submit"/></div></div>
	</div>
</div>
<script type="text/javascript" src="js/sticky-footer.js">
</script>

{% endblock %}
