{% extends "buysell/base.html" %}
{% block title %}Sell | Buy and Sell{% endblock title %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/buysell/sell.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#sendmail').click(function(){
      document.location.href='/buysell/sendmail/request/{{ rows_request.pk }}/';
    });
  });
</script>
{% endblock scripts %}

<!-- Above, page specific css/js added. Below is "content" of the main_base.html base template -->

{% block content %}
			<div class="row-fluid">
				<span class="span4 offset4 heading">Requested Item Details</span>
			</div>
			<div class="row-fluid">
				<span class="span4 offset2 tag">Item Overview</span>
				<span class="span3 offset1 tag">Owner Details</span>
			</div>
			<div class="row-fluid">
				<span class="span2 offset2 sub-tag">Item <span class= "sub-tag-value" > {{ rows_request.item_name }} </span></span>
				<span class="span2 sub-tag">Price <span class="sub-tag-value">{{ rows_request.cost }} </span></span>
				<span class="span3 offset1 sub-tag">Posted by <span class="sub-tag-value">{{ rows_request.user.get_name }}</span></span>
			</div>
			<div class="row-fluid">
				<span class="span2 offset2 sub-tag">Item condition <span class="sub-tag-value">{{ rows_request.status }} </span></span>
				<span class="span2 sub-tag">Posted On <span class="sub-tag-value">{{ rows_request.post_date }}</span></span>
				<span class="span3 offset1 sub-tag">Contact No. <span class="sub-tag-value">{{ rows_request.contact }}</span></span>
			</div>
			<div class="row-fluid">
				<span class="span4 offset7 sub-tag">Email Id <span class="sub-tag-value">{{ rows_request.email }}</span></span>
			</div>

      {% if self_flag %}
      <div class="row-fluid">
        <span class="span2 offset7 sub-tag">Edit Item <span class="sub-tag-value"><a href="/buysell/edit/request/{{ rows_request.pk }}/">Edit details</a></span></span>
			</div>
      {% else %}
			<div class="row-fluid">
				<span class="span4 offset7 sub-tag-value">If you want to purchase the above item</span>
			</div>
			<div class="row-fluid">
      <form action="/buysell/sendmail/request/{{rows_request.pk}}/">
				<input class="submit span2 offset7 btn" type="button" value="Send a mail to the Seller" id="sendmail">
      </form>
			</div>
      {% endif %}
{% endblock content %}
