{% extends "buysell/base.html" %}
{% block title %}Buy | Buy and Sell{% endblock title %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/buysell/sell.js"></script>
{% endblock scripts %}

<!-- Above, page specific css/js added. Below is "content" of the main_base.html base template -->
{% block buy_tab %}
active_tab
{% endblock %}


{% block content %}
      <div class="row-fluid breadcrumbs">
				<span class="offset1"><a class="breadcrumbs-a" href="/buysell/"> Buy</a> {% if mcn %}/ <a class="breadcrumbs-a" href="/buysell/buy/{{mc}}/">{{ mcn }}</a> {%endif %}/ {% if scn %}<a class="breadcrumbs-a" href="/buysell/buy/{{mc}}/{{sc}}/">{{scn }}</a>/{% endif %}<a class="breadcrumbs-a" href="">{{ rows.item_name }}</a></span>
			</div>
			<div class="row-fluid">
				<div class="span2 offset1"><img id="item-image" class="span2 offset1" src="{{ MEDIA_URL}}{{ rows.item_image }}" style="clear:both"/></div>
				<div class="span6 offset1">
					<div class="row-fluid">
						<span class="span10 main-sub-tag">{{ rows.item_name }}</span>
					</div>
					<div class="row-fluid">
						<div class="span4 price-sub-tag">Rs. {{ rows.cost }}</div>
						<div class="span2 offset3 sub-tag">Status</br><div class="sub-tag-value">{{ rows.status }}</div></div>
					</div>
					<div class="row-fluid">
						<span class="span10 tag">Description</span></br>
					<div class="row-fluid">
						<span class="span10 sub-tag-value">{{ rows.detail }}</span>
					</div>
					</div>
					<div class="row-fluid">
          <div class="span10 entry-expire"><div class="entry-value">This entry will expire on {{ rows.expiry_date }}</div></div>
					</div>
					<div class="row-fluid">
						<span class="span10 tag">Owner Details</span>
					<div class="row-fluid">
						<div class="span7 owner-tag">
							<div class="cat-img left"><img src="/photo/{{ rows.user.username }}"/></div>
							<div class="owner-details">
								<div class="cat-tag">Owner -<span class="cat-tag-value"> {{ rows.user.name }}</span></div>
								<div class="cat-tag">Phone No. -<span class="cat-tag-value"> {{ rows.contact }}</span></div>
								<div class="cat-tag">Email Id -<span class="cat-tag-value"> {{ rows.email }}</span></div>
							</div>
						</div>
						<div class="span4">
							<div class="btn-position">
      {% if self_flag %}

      {% else %}

			<div class="row-fluid">
		<form action="/buysell/sendmail/buy/{{rows.pk}}/">
										<input class="submit2 btn1" type="submit" value="Send mail to the owner">
							</form>
                    </div>
{% endif %}

						</div>
       					</div>
					</div>
				</div>
			</div>
</div>
      {% endblock content %}
