{% extends "buysell/base.html" %}
{% block title %}Buy | Buy and Sell{% endblock title %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block buy_tab %}
active_tab
{% endblock %}

{% block content %}
      <div class="row-fluid breadcrumbs">
				<div class="offset1"><a class="breadcrumbs-a" href="/buysell/"> Buy</a> {% if mcn %}/ <a class="breadcrumbs-a" href="/buysell/buy/{{mc}}">{{ mcn }}</a> {%endif %}/ {% if scn %}<a class="breadcrumbs-a" href="/buysell/buy/{{mc}}/{{sc}}/">{{scn }}</a>/{% endif %}<a class="breadcrumbs-a" href="">{{ rows.item_name }}</a></div>
			</div>
<div class="row-fluid">
<div class="offset1 vertical_menu" style="width:172px;">
		      <ul>
					<div id="" class="sub_menu active">
						<li class="re"><a href="/buysell/buy/" >Recent</a></li>
					</div>
					<div id="" class="sub_menu">
						<li class="el"><a href="/buysell/buy/EL">Electronics</a>
							<ul>
							<div class="top"></div>
							<div class="bottom"></div>
								<li><a href="/buysell/buy/EL/LP/">Computer Accessories</a></li>
								<li><a href="/buysell/buy/EL/MO/">Mobile Accessories</a></li>
								<li><a href="/buysell/buy/EL/OT/">Other</a></li>
							</ul>
					</div>
					<div id="" class="sub_menu">
					</li>
					 <li  class="bk"><a href="/buysell/buy/BK/" >Books</a>
              <ul>
              <div class="top"></div>
              <div class="bottom"></div>
                  <li><a href="/buysell/buy/BK/ED/">Education</a></li>
                  <li><a href="/buysell/buy/BK/FC/">Fiction</a></li>
                  <li><a href="/buysell/buy/BK/CS/">Course books</a></li>
                  <li><a href="/buysell/buy/BK/OT/">Other</a></li>
                </ul>

				</li>
					</div>
					<div class="sub_menu">
					<li class="ms"><a href="/buysell/buy/MS/" >Miscellaneous</a>
              <ul>
              <div class="top"></div>
              <div class="bottom"></div>
                <li><a href="/buysell/buy/MS/BC/">Bicycles</a></li>
                <li><a href="/buysell/buy/MS/TR/">Trunks</a></li>
                <li><a href="/buysell/buy/MS/OT/">Other</a></li>
              </ul>

					</li>
					</div>
				</ul>
			</div>
			<div id="buy-table" class="span4 offset2">
      <div class="row-fluid">
      {% if not searchflag %}
      {% if table_data.object_list.0.item_name %}
<div class="span12 main-buy-heading">      Following items are available for sale:</div>
      {% else %}
<div class="span12 transparent heading ">       There are no items available for sale </div>
      {% endif %}

      {% else %}
      {% if not table_data.object_list.0.item_name %}
<div class="span12 transparent heading">      No results found for your query.</div>
      {% endif %}
      {% endif %}
</div>
      {% for item in table_data.object_list %}
      <div class="container-fluid item">
					<div class="row-fluid">
						<div class="span12">
						<div class="span2 item-img">
							<a href="/buysell/buy_item_details/{{item.pk}}"><img
              src="{{ MEDIA_URL }}{{item.item_image}}"
              style="max-height:130px;"
               /></a>
						</div>
						<div class="span7">
							<div class="row-fluid span12">

								<a class="item-name" href="/buysell/buy_item_details/{{item.pk}}">{{item.item_name}}</a>

								<div class="row-fluid"><div class="span10 item-cat">{{item.user.html_name}}</div>
                </div>
                </div>
							<div class="row-fluid">
								<div class="span6 item-cost">
                Rs {{ item.cost }}
								</div>
								<div class="span2 offset3 item-status">
									<span class="item-tag">Status</span></br><span class="item-tag-value">{{ item.status }}</span>
								</div>
							</div>
								<div class="row-fluid">
                {% if not item.user.username == request.user.username %}
                <div class="span11">
                  <form action="/buysell/sendmail/buy/{{ item.pk}}/" style="margin:0px">									<input class="submit1 btn1" style="margin-top:10px" type="submit" value="Send mail to the owner"></form>
									</div>
{% endif %}
								</div>
							</div>
							</div>
						</div>
					</div>
<hr style="width:451px; height:1px; background-color:#cecece"/>
{% endfor %}
<div class="pagination pagination-centered">
<ul class="pagination">
        {% if table_data.has_previous %}
           <li> <a href="?{% if queries %}{{ queries.urlencode }}&amp;{% endif %}page={{ table_data.previous_page_number }}">&laquo</a></li>
        {% endif %}
{% for page in pages %}
{% if table_data.number == page %}
<li class="disabled"><a href="?{% if queries %}{{ queries.urlencode }}&amp;{% endif %}page={{page}}">{{page}}</a></li>
{%else%}
<li><a href="?{% if queries %}{{ queries.urlencode }}&amp;{% endif %}page={{page}}">{{page}}</a></li>
{% endif %}
{% endfor %}

        {% if table_data.has_next %}
          <li><a href="?{% if queries %}{{ queries.urlencode }}&amp;{% endif %}page={{ table_data.next_page_number }}">&raquo</a></li>
        {% endif %}
</div>
</div>

</div>
{% endblock %}
