{% extends "buysell/base.html" %}
{% block title %}Sell | Buy and Sell{% endblock title %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block requests_tab %}
active_tab
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/buysell/sell.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#sendmail').click(function(){
      document.location.href='/buysell/sendmail/request/{{ rows_request.pk }}/';
    });
  });
</script>
{% endblock scripts %}

<!-- Above, page specific css/js added. Below is "content" of the main_base.html base template -->

{% block content %}
  <div class="row-fluid breadcrumbs">
				<span class="offset1"><a class="breadcrumbs-a" href="/buysell/viewrequests/"> View Requests</a> /<a class="breadcrumbs-a" href="">{{ rows_request.item_name }}</a></span>
			</div>
			<div class="row-fluid">
				<div class="span7 offset3">
					<div class="row-fluid">
						<span class="span12 main-sub-tag">{{ rows_request.item_name }}</span>
					</div>
					<div class="row-fluid">
						<div class="span4 sub-tag">Maximum Price
						<div class="row-fluid">
							<div class="span12 r-price-sub-tag">Rs {{ rows_request.price_upper }}</div>
						</div></div>
						<div class="span2 offset3 sub-status-tag">Status</br><div class="sub-tag-value">{{ rows_request.condition }}</div></div>
					</div>
					<div class="row-fluid">
						<div class="span10 entry-expire"><div class="entry-value">This entry was posted on {{ rows_request.post_date }}</div></div>
					</div>
					<div class="row-fluid">
						<span class="span10 tag">Inquirer Details</span>
					<div class="row-fluid">
						<div class="span7 owner-tag">
							<div class="cat-img left"><img src="/photo/{{rows_request.user.username}}"/></div>
							<div class="owner-details">
								<div class="cat-tag">Inquirer -<span class="cat-tag-value">{{ rows_request.user.name }}</span></div>
								<div class="cat-tag">Phone No. -<span class="cat-tag-value">{{ rows_request.contact }}</span></div>
								<div class="cat-tag">Email Id -<span class="cat-tag-value">{{ rows_request.email }}</span></div>
							</div>
						</div>
						<div class="span4">
							<div class="btn-position">
            {% if self_flag %}
            {% else %}
			<div class="row-fluid">
      <form action="/buysell/sendmail/request/{{rows_request.pk}}/">
				<input class="submit2 btn1" type="button" value="Send mail to the inquirer" id="sendmail">
      </form>
			</div>
{% endif %}
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>

		</div>

{% endblock content %}
