{% extends "buysell/base.html" %}
{% block title %}
Search | Buy and Sell
{% endblock title %}


{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block scripts %} {{ block.super }}
{% endblock scripts %}


{% block content %}

<div class="row-fluid">
				<span class="span4 offset4 heading">Search Results:</span>
</div>
<div id="request-table" class="span7 offset3">
{% if qt_flag %}
		<table class="tbl" cellspacing="10">
	  <thead>
		<tr>
		  <th>ITEM</th>
		  <th>CONDITION</th>
		  <th>PRICE RANGE</th>
		  <th>INQUIRER</th>
		</tr>
	  </thead>
	  <tbody>
    {% for item in results%}
		<tr>
		  <td><a href="requested-item-details.html">{{ item.item_name }}</a></td>
		  <td><a href="requested-item-details.html">{{ item.condition }}</a></td>
		  <td><a href="requested-item-details.html">Rs. {{ item.price_lower }}-{{ item.price_upper }}</a></td>
		  <td><a href="requested-item-details.html">{{ item.user.name }}</a></td>
		</tr>
    {% endfor %}
	  </tbody>
	</table>
{% else %}


  <table class="tbl" cellspacing="10">
	  <thead>
		<tr>
		  <th>ITEM</th>
		  <th>CONDITION</th>
		  <th>COST</th>
		  <th>POSTED BY</th>
		</tr>
	  </thead>
	  <tbody>
    {% for item in results%}
		<tr>
		  <td><a href="requested-item-details.html">{{ item.item_name }}</a></td>
		  <td><a href="requested-item-details.html">{{ item.status }}</a></td>
		  <td><a href="requested-item-details.html">{{ item.cost }}</a></td>
		  <td><a href="requested-item-details.html">{{ item.user.name }}</a></td>
		</tr>
    {% endfor %}
	  </tbody>
	</table>
{% endif %}

	</a>
</div>


{% endblock content %}
