{% extends "buysell/base.html" %}
{% block title %}Sell | Buy and Sell{% endblock title %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

<!-- Above, page specific css/js added. Below is "content" of the main_base.html base template -->

{% block content %}
<div class="row-fluid">
				<span class="span4 offset4 heading">1 result found</span>
			</div>
			<div id="request-table" class="span7 offset3">
				<table class="tbl" cellspacing="10">
				  <thead>
					<tr>
					  <th>ITEM</th>
					  <th>STATUS</th>
					  <th>PRICE RANGE</th>
					  <th>INQUIRER</th>
					</tr>
				  </thead>
				  <tbody>
          {% for row in table_data.object_list %}
					<tr>
					  <td><a href="/buysell/requested_item_details/{{ row.pk }}/">{{ row.item_name }}</a></td>
					  <td><a href="/buysell/requested_item_details/{{ row.pk }}/">{{ row.condition }}</a></td>
					  <td><a href="/buysell/requested_item_details/{{ row.pk }}/">Rs {{ row.price_lower }} to {{ row.price_upper }}</a></td>
					  <td><a href="/buysell/requested_item_details/{{ row.pk }}/">{{ request.user.get_name }}</a></td>
					</tr>
          {% endfor %}
				  </tbody>
				</table>
				</a>
			</div>
{% endblock content %}
