<div class="row-fluid">
				<span class="span4 offset4 heading">1 result found</span>
			</div>
			<div id="request-table" class="span7 offset3">
				<table class="tbl" cellspacing="10">
				  <thead>
					<tr>
					  <th>PHOTO</th>
					  <th>ITEM</th>
					  <th>PRICE</th>
					  <th>STATUS</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td><a href=""><img src="img/default-photo.png"/></a></td>
					  <td><a href="">Ipod</a></td>
					  <td><a href="">Rs 3000</a></td>
					  <td><a href="">Excellent</a></td>
					</tr>
				  </tbody>
				</table>
				</a>
			</div>
