{% extends "buysell/base.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/buysell/sell.js"></script>
{% endblock scripts %}

<!-- Above, page specific css/js added. Below is "content" of the main_base.html base template -->

{% block title %}Sell | Buy and Sell{% endblock title %}

{% block sell_tab %}
active_tab
{% endblock sell_tab %}

{% block styles %}
{{ block.super }}
{% endblock styles %}
<!-- Above, page specific css/js added. Below is "content" of the main_base.html base template -->

{% block content %}
    {% if form.errors %}
      <ul id="errors">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

<div class="row-fluid">
	<div class="span4 offset4 buy-heading" ><div class="offset1">Fill in this form to get your entry registered</div></div>
</div>


    <span id="itemPic" style="display: none">{% if extraData.editFlag %}{{ extraData.item_image }}{% endif %}</span>
    <span id="itemid" style="display:none">{% if extraData.editFlag %}{{extraData.itemid}}{% endif %}</span>

<form action="/buysell/sell/" method="POST" enctype="multipart/form-data">{% csrf_token %}
{{ form.non_field_errors }}
<div class="row-fluid">

	<div class="span2 offset4 entries"><span for="id_item_name">Item Name*</span></div>
 <div class="left span2 offset1" style="margin:0px;">

 <input class="entries-input" id="id_item_name" name="item_name" type="text" style="width:200px;height:26px;" value="{{ form.item_name.value|default_if_none:"" }}" required/>
 </div>
{% if form.item_name.errors %}
<div class="span2" style="margin:10px 0px 0px 30px;" >
	<div class="entries_error">{{ form.item_name.errors }}</div>
</div>
{% endif %}

</div>
<div class="row-fluid">
	<span class="span2 offset4 entries">Category</span>
  <div class="span2" id="category-select" >
			<select class="span12" id="id_category" name="category">
				<option value="EL">Electronics</option>
				<option value="BK">Books</option>
				<option value="MS">Miscellaneous</option>
			</select>
   </div>
</div>
{% if form.category.errors %}
<div class="span2" style="margin:10px 0px 0px 30px;">
	<div class="entries_error">{{ form.category.errors }}</div>
</div>
{% endif %}


<div class="row-fluid" id="subcategory">
	<span class="span2 offset4 entries">Sub-Category</span>
		<div class="span2" id="category-select">
			<select class="span12" id="id_sub_category" name="sub_category">
				<option value="LP">Computer Accessories</option>
				<option value="MO">Mobile Accessories</option>
				<option value="OT">Other</option>
			</select>
		</div>
</div>
{% if form.sub_category.errors %}
<div class="span2" style="margin:10px 0px 0px 30px;">
	<div class="entries_error">{{ form.sub_category.errors }}</div>
</div>
{% endif %}


<div class="row-fluid" style="float:left">
	<span class="span2 offset4 entries">Price*</span>
<div class="left span2 offset1" style="margin:0px 0px 10px 0px;">	<input class="span2 offset1 entries-input" id="id_cost" type="text" name="cost" style="width:207px;height:30px;margin:0px" maxlength="6" value="{{ form.cost.value|default_if_none:""}}" required/>
</div>
{% if form.cost.errors %}
<div class="span2" style="margin:10px 0px 0px 30px;">
	<div class="entries_error">{{ form.cost.errors }}</div>
</div>
{% endif %}
</div>

<div class="row-fluid">
	<span class="span2 offset4 entries"  >Status</span>
  <div class="span2" id="category-select" style="margin-left:0px">
				<select class="span12" id="id_status" name="status">
				<option value="Excellent">Excellent</option>
				<option value="Good">Good</option>
				<option value="Fine">Fine</option>
				<option value="Old">Old</option>
			</select>
  </div>
</div>
{% if form.status.errors %}
<div class="row-fluid">
	<div class="span2 offset4 entries">{{ form.status.errors }}</div>
</div>
{% endif %}


<div class="row-fluid">
	<span class="span2 offset4 entries">Phone No.</span>
<div class="left span2 offset1" style="margin:0px 0px 10px 0px;"><input class="span2 offset1 entries-input" id="id_contact" type="tel" name="contact" value="{{contact}}" style="width:207px;margin:0px" value="{{ form.contact.value|default_if_none:"" }}" maxlength="10"/>
</div>
{% if form.contact.errors %}
<div class="span2" style="margin:10px 0px 0px 30px;">
	<div class="entries_error">{{ form.contact.errors }}</div>
</div>
{% endif %}
</div>

<div class="row-fluid">
	<span class="span2 offset4 entries">Email Id</span>
<div class="left span2 offset1" style="margin:0px 0px 10px 0px;"><input class="span2 offset1 entries-input" id="id_email" type="text" name="email" value="{% if form.email.value %}{{ form.email.value }}{% else %} {{ user.email|default:'nothing' }}{% endif %}" style="width:207px;margin:0px"/>
</div>
{% if form.email.errors %}
<div class="span2 " style="margin:10px 0px 0px 30px">
	<div class="entries_error">{{ form.email.errors }}</div>
</div>
{% endif %}
</div>

<div class="row-fluid">
	<span class="span2 offset4 entries">Item Photo</span>
  <input class="span2 offset1" type="text" id="path" placeholder="Open Image" class="red" style="float:left;width:145px;height:22px;background-color:#f0f0f0;border:1px solid #b9b9b9;padding:0px 0px 0px 6px;" readonly>
	<label class="add-image"> Upload<span><input class="span2 offset1 file" type="file" id="myfile"  style="width:100px;" name="item_image" /></span></label>
</div>
{% if form.item_image.errors %}
<div class="row-fluid">
	<div class="span2 offset4 entries">{{ form.item_image.errors }}</div>
</div>
{% endif %}


<div class="row-fluid">
	<span class="span2 offset4 entries">This entry will expire after</span>
  <div class="span2" id="category-select" style="margin-left:0px">
				<select class="span12" id="id_status" name="days_till_expiry">
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="25">25</option>
				<option value="30">30</option>
				<option value="45">45</option>
				<option value="60">60</option>
			</select>

</div>	<div class="entries1" style="float:left">days</div>

</div>
{% if form.days_till_expiry.errors %}
<div class="row-fluid">
	<div class="span2 offset4 entries">{{ form.days_till_expiry.errors }}</div>
</div>
{% endif %}


<div class="row-fluid">
	<span class="span2 offset4 entries">Description*</span>
<div class="left span2 offset1" style="margin:0px">	<textarea class="entries-input" rows="4" id="id_detail" name="detail" style="width:199px;height:85px;" required>{{ form.detail.value|default_if_none:"" }}</textarea>
</div>
{% if form.detail.errors %}
<div class="span2" style="margin:10px 0px 0px 30px;">
	<div class="entries_error">{{ form.detail.errors }}</div>
</div>
</div>
{% endif %}

</div>
<div class="row-fluid">

		<div class="span2 offset5"><div class="offset4"><div class="offset2"><input class="submit btn1" type="submit" value="Submit"></div></div></div>
	</div>
</div>
</form>
  <div class="row-fluid">
   <span class="span4 offset4 buy-heading">
{% if not extraData.editFlag %}<p id="requestLink">&nbsp;&nbsp; Or, view the requests made by other users <u><a href="/buysell/viewrequests/">here</a></u>.</p>{% endif %}
</span></div>
 {% endblock content %}
