{% extends "base.html" %}

{% block styles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="{{ STATIC_URL }}jquery/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/responses/styles.css">
  <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/application_form/style.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/application_form/index.css" type="text/css">
  <style>
    #container, #footer, #note{
      position: static;
      margin-left: auto;
    }
    #container{
      background-color: #fff;
border: 1px solid #E0E0E0;
    }
    #content {
      min-height: 400px;
    }
    #footer { 
      margin-top: 20px;
    }
    #note {
      margin-left: 10px;
    }

    .exam, .boar {
      width:200px;
    }
    .year, .divi, .max_, .mark, .perc {
      width:70px;
    }

    #acad_table  th{
padding:5px;
    }

    #gate_table  th{
width:220px;
    }
    form p{
width:50%;
float:left;
    }
    .error_fields input, .error_fields select{
border: 2px solid #FF96A5;
    }

    select{
      background-color: #fff;
    }
  </style>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function(){
          $('#exam_type').parent().find('input').prop('disabled',true);
          $('#id_birth_date').attr('placeholder','dd-mm-yyyy');
          $('#gate_date').attr('placeholder','dd-mm-yyyy');
          $('#exam_type').on('change', function(){
              if($(this).val() == '')
              {
                $(this).parent().find('input').prop('disabled',true);
              }
              else
                $(this).parent().find('input').prop('disabled',false);
            });

          $('#id_name_in_hindi').parent().find('label').html('Name in hindi:* &nbsp; Copy in Hindi from <a href="http://www.google.com/inputtools/try/" target="_blank">this</a> link.<br>Please note that the Name in hindi will be printed on your Degree Certificate, so write it correct.')


          var religion = ['Hinduism', 'Islam', 'Sikhism', 'Christianity', 'Zoroastrianism', 'Buddhism', 'Jainism', 'Judaism', 'Other'];
          if(!$('#id_religion').attr('readonly'))
          {
                $('#id_religion').attr('value','');
                var nat_html = '<select id="t_rel">';
                for(x in religion)
                {
                  nat_html+='<option value="'+religion[x]+'">'+religion[x]+'</option>\n';
                }
                nat_html += '</select>'

                $('#id_religion').parent().find('label').append(nat_html);
                $('#id_religion').hide().val($('#t_rel').val());

                $('#t_rel').on('change',function(){
                          if($(this).val()=="Other")
                          {
                              $('#id_religion').val('');
                              $('#id_religion').show().focus();
                          }
                          else
                          {
                              $('#id_religion').val($(this).val());
                              $('#id_religion').hide();
                          }
                    });
          }


          var fellowship_category = ['MHRD', 'UGC', 'CSIR', 'SPONSERED', 'Other'];
          if(!$('#id_fellowship_category').attr('readonly'))
          {
                $('#id_fellowship_category').attr('value','');
                var nat_html = '<select id="t_fell">';
                for(x in fellowship_category)
                {
                  nat_html+='<option value="'+fellowship_category[x]+'">'+fellowship_category[x]+'</option>\n';
                }
                nat_html += '</select>'

                $('#id_fellowship_category').parent().find('label').append(nat_html);
                $('#id_fellowship_category').hide().val($('#t_fell').val());

                $('#t_fell').on('change',function(){
                          if($(this).val()=="Other")
                          {
                              $('#id_fellowship_category').val('');
                              $('#id_fellowship_category').show().focus();
                          }
                          else
                          {
                              $('#id_fellowship_category').val($(this).val());
                              $('#id_fellowship_category').hide();
                          }
                    });
          }


          $('select[readonly=True]').prop('disabled',true);
	  $('#id_state').append(new Option("Other(State Your Country in the next field)", "other"));

	  $('#id_state').on('change',function(){
			if($(this).val()=='other')
			{
				$('#id_country').parent().show().focus();
			}
			else
			{
				$('#id_country option').prop('selected', false).filter('[value="India"]').prop('selected', true);
				$('#id_country').parent().hide();
			}
		});

          $('#id_state').append(new Option("Other(State Your Country in the next field)", "other"));

          $('#id_country option').prop('selected', false).filter('[value="IN"]').prop('selected', true);
          $('#id_country').parent().hide();

          $('#id_state').on('change',function(){
                if($(this).val()=='other')
                {
                  $('#id_country').parent().show().focus();
                }
                else
                {
                  $('#id_country option').prop('selected', false).filter('[value="IN"]').prop('selected', true);
                  $('#id_country').parent().hide();
                }
              });

        });

    function submitone(){
          $('select').prop('disabled',false);
    }
          

  </script>
{% endblock %}



  
{% block body %}
  <div id="container" class="well">
    <div class="btn-group" id='header' style="height:60px;">
      <div id="heading">{% block heading %}Application Form{% endblock %}</div>
      <a href="/logout/"><button class="btn">Logout</button></a>
      <a href="/"><button class="btn">Channel i</button></a>
  <div style="clear:both"></div>
    </div>
{{form.non_field_errors}}
<button style="float:right;"><a href="delete/" style="text-decoration:none;color:black;">Delete</a></button>
<form action="" method="post" onsubmit="submitone()">
{% csrf_token %}

{% for field in form %}
<div class="field_wrapper {% if field.errors %}error_fields{% endif %}" style="width:50%;float:left;">
<label>{{ field.label }}:{% if field.name not in not_required %}*{% else %}{% endif %}<br></label>
{{ field }}
</div>
{% endfor %}

<br>
<br>
<label style="text-align: center;font-weight: bolder;font-size: 20px;margin-bottom: 20px;clear:both;padding-top:50px;">Academic Qualifications (from high school exam. onwards)</label>
<div id="acad_container">
  <table id="acad_table">
    <tr>
      <th class="exam">Name of Exam Passed</th>
      <th class="boar">Name of Institute / Board / University from where Certificate/Degree obtained</th>
      <th class="year">Year of Passing</th>
      <th class="divi">Division(Write NA if Not Applicable)</th>
      <th class="max_">Max. Marks / Scale(In grades)</th>
      <th class="mark">Marks Obtained / CGPA</th>
      <th class="perc">%age of marks obtained</th>
    </tr>
  </table>
{% if prev %}

  {% for acad in prev.academicqualification_set.all %}
    <div class="acad_qual">
    <input type="text" class="exam"  value="{{ acad.exam_passed }}" readonly>
    <input type="text" class="boar"  value="{{ acad.institute_name }}" readonly>
    <input type="text" class="year"  value="{{ acad.year_of_passing }}" readonly>
    <input type="text" class="divi"  value="{{ acad.division }}" readonly>
    <input type="text" class="max_"  value="{{ acad.max_marks }}" readonly>
    <input type="text" class="mark"  value="{{ acad.marks_obtained }}" readonly>
    <input type="text" class="perc"  value="{{ acad.percentage }}" readonly>
    </div>
  {% endfor %}

 
<br>
<br>

{% if prev.gatejamcatscore_set.all %}
<br>
<br>


<div class="gate_container">
<label style="font-weight: bolder;font-size: 20px;margin-bottom: 20px;">GATE/JAM/CAT Score:</label>
    <input type="text" value="{{ prev.gatejamcatscore_set.all.0.exam_type }}" readonly>
   <br>
  <table id="gate_table">
    <tr>
      <th class="exam">Regn.No.</th>
      <th class="boar">Score</th>
      <th class="year">Specialization</th>
      <th class="divi">Validity Upto</th>
    </tr>
  </table>
  <input type="text" name = "reg" value="{{ prev.gatejamcatscore_set.all.0.reigon_no }}" readonly>
  <input type="text" name = "score" value="{{ prev.gatejamcatscore_set.all.0.score }}" readonly>
  <input type="text" name = "spec" value="{{ prev.gatejamcatscore_set.all.0.specialization }}" readonly>
  <input type="text" name="date" id="gate_date" value="{{ prev.gatejamcatscore_set.all.0.validity_upto }}" readonly>
</div>

{% endif %}


{% else %}


  <div class="acad_qual">
  <input type="text" class="exam" name = "exam1" value="{{ data.exam1 }}">
  <input type="text" class="boar" name = "board1" value="{{ data.board1 }}">
  <input type="text" class="year" name = "year1" value="{{ data.year1 }}">
  <input type="text" class="divi" name = "division1" value="{{ data.division1 }}">
  <input type="text" class="max_" name = "max1" value="{{ data.max1 }}">
  <input type="text" class="mark" name = "marks1" value="{{ data.marks1 }}">
  <input type="text" class="perc" name = "percentage1" value="{{ data.percentage1 }}">
  </div>

  <div class="acad_qual">
  <input type="text" class="exam" name = "exam2" value="{{ data.exam2 }}">
  <input type="text" class="boar" name = "board2" value="{{ data.board2 }}">
  <input type="text" class="year" name = "year2" value="{{ data.year2 }}">
  <input type="text" class="divi" name = "division2" value="{{ data.division2 }}">
  <input type="text" class="max_" name = "max2" value="{{ data.max2 }}">
  <input type="text" class="mark" name = "marks2" value="{{ data.marks2 }}">
  <input type="text" class="perc" name = "percentage2" value="{{ data.percentage2 }}">
  </div>

  <div class="acad_qual">
  <input type="text" class="exam" name = "exam3" value="{{ data.exam3 }}">
  <input type="text" class="boar" name = "board3" value="{{ data.board3 }}">
  <input type="text" class="year" name = "year3" value="{{ data.year3 }}">
  <input type="text" class="divi" name = "division3" value="{{ data.division3 }}">
  <input type="text" class="max_" name = "max3" value="{{ data.max3 }}">
  <input type="text" class="mark" name = "marks3" value="{{ data.marks3 }}">
  <input type="text" class="perc" name = "percentage3" value="{{ data.percentage3 }}">
  </div>

  <div class="acad_qual">
  <input type="text" class="exam" name = "exam4" value="{{ data.exam4 }}">
  <input type="text" class="boar" name = "board4" value="{{ data.board4 }}">
  <input type="text" class="year" name = "year4" value="{{ data.year4 }}">
  <input type="text" class="divi" name = "division4" value="{{ data.division4 }}">
  <input type="text" class="max_" name = "max4" value="{{ data.max4 }}">
  <input type="text" class="mark" name = "marks4" value="{{ data.marks4 }}">
  <input type="text" class="perc" name = "percentage4" value="{{ data.percentage4 }}">
  </div>

  <div class="acad_qual">
  <input type="text" class="exam" name = "exam5" value="{{ data.exam5 }}">
  <input type="text" class="boar" name = "board5" value="{{ data.board5 }}">
  <input type="text" class="year" name = "year5" value="{{ data.year5 }}">
  <input type="text" class="divi" name = "division5" value="{{ data.division5 }}">
  <input type="text" class="max_" name = "max5" value="{{ data.max5 }}">
  <input type="text" class="mark" name = "marks5" value="{{ data.marks5 }}">
  <input type="text" class="perc" name = "percentage5" value="{{ data.percentage5 }}">
  </div>

  <div class="acad_qual">
  <input type="text" class="exam" name = "exam6" value="{{ data.exam6 }}">
  <input type="text" class="boar" name = "board6" value="{{ data.board6 }}">
  <input type="text" class="year" name = "year6" value="{{ data.year6 }}">
  <input type="text" class="divi" name = "division6" value="{{ data.division6 }}">
  <input type="text" class="max_" name = "max6" value="{{ data.max6 }}">
  <input type="text" class="mark" name = "marks6" value="{{ data.marks6 }}">
  <input type="text" class="perc" name = "percentage6" value="{{ data.percentage6 }}">
  </div>

</div>

<br>
<br>
<br>
<br>

<div class="gate_container">
<label style="font-weight: bolder;font-size: 20px;margin-bottom: 20px;">GATE/JAM/CAT Score (whichever applicable):</label>
  <select name="exam_type" id="exam_type">
    <option value="">Not Applicable</option>
    <option value="GATE">GATE</option>
    <option value="JAM">JAM</option>
    <option value="CAT">CAT</option>
    <option value="CAT">CSIR</option>
    <option value="CAT">UGC NET</option>
    <option value="CAT">CEED</option>
    <option value="CAT">GPAT</option>
    <option value="CAT">Inspire</option>
    <option value="CAT">ICAR</option>
    <option value="CAT">ICMR</option>
  </select>
   <br>
  <table id="gate_table">
    <tr>
      <th class="exam">Regn.No.</th>
      <th class="boar">Score/Rank(Whichever Applicable)</th>
<!--      <th class="cate">Cateogary Score/Rank(If Applicable)</th>-->
      <th class="year">Specialization</th>
      <th class="divi">Validity Upto</th>
    </tr>
    <tr>
      <td><input type="text" name = "reg" value="{{ data.reg }}"></td>
      <td><input type="text" name = "score" value="{{ data.score }}"></td>
      <!--<td><input type="text" name = "cate1" value="{{ data.cate }}"></td>-->
      <td><input type="text" name = "spec" value="{{ data.spec }}"></td>
      <td><input type="text" name="date" class="gate_date" value="{{ data.date }}"></td>
    </tr>
<!--    <tr>
      <td><input type="text" name = "reg2" value="{{ data.reg2 }}"></td>
      <td><input type="text" name = "score2" value="{{ data.score2 }}"></td>
      <td><input type="text" name = "cate2" value="{{ data.cate2 }}"></td>
      <td><input type="text" name = "spec2" value="{{ data.spec2 }}"></td>
      <td><input type="text" name="date2" class="gate_date" value="{{ data.date2 }}"></td>
    </tr>
    <tr>
      <td><input type="text" name = "reg3" value="{{ data.reg3 }}"></td>
      <td><input type="text" name = "score3" value="{{ data.score3 }}"></td>
      <td><input type="text" name = "cate3" value="{{ data.cate3 }}"></td>
      <td><input type="text" name = "spec3" value="{{ data.spec3 }}"></td>
      <td><input type="text" name="date3" class="gate_date" value="{{ data.date3 }}"></td>
    </tr>
    -->
  </table>
</div>

{% endif%}

<br>
<br>
<p id="declaration">
<label style= "font-size: 20px;font-weight: bold;margin-bottom: 10px;">Declaration by Student:</label>

<ul style="font-size:15px;clear:both;">
  <li>
    I do hereby agree to abide by all the Ordinances/statutes and regulations of the Institute enforced from time to time.
  </li>

<li>I do hereby certify that entries made by me in this form are correct to the best of my 

knowledge.
</li>

<li>I do hereby solemnly declare that I have not been debarred at any time from joining any 

educational Institute or rusticated from the Institute /Board last attended.
</li>

  <li>
I declare that I have not been associated (active or passive) with any unlawful organization in 

the past nor I would associate myself with such organizations in future.
</li>

  <li>
I hereby solemnly declare that I will maintain good conduct throughout my stay at this 

Institute.
</li>

  <li>
I understand that the Institute reserves the right to cancel my admission at any time during 

my stay at the Institute, if the institute is satisfied that it was in the interest of the Institute to 

do so.
</li>

  <li>
I hereby give an undertaking that I have appeared in all the examinations including practical/

projects/theory/backpaper(s)/supplementary(ies) etc before the date of registration and only 

result is awaited, which is likely to be declared soon.
</li>

</ul>
</p>
<img src="/acad/sign/" id="sign" style="float:right;width:200px;">
<script>
/*$(document).ready(function(){
var acad_qual = [];
var app_html = $(".acad_qual").html();
var count=1;
$(".delete_acad").bind('click', function(){
        if(count<=1) return;
        $(this).parent().delete();
        count--;
        if(count<=6) $("#add_another_acad").show();
    });

$("#add_another_acad").on('click', function(){
      $("#acad_container").append(app_html);
      count++;
        if(count>6) $("#add_another_acad").hide();
    });

});
*/
</script>

<input type="submit" value="Submit" style="margin-top:90px;" onclick="return confirm('Once the form is submited, you can\'t change the details filled. Do you really want to submit the form?');">
</form>
{% endblock %}

