<div id="additional">
  <span id="main_check" style="float:left;"><input type="checkbox" style="margin-top:2px;" id = "all_select" onclick="select_all()"></span>
  <span id="super_more"><span id="more" style="background-color:#E7E7E7;float:left;" onclick="show_menu(event)">Actions</span></span>
  <span id = "show_starred" onclick="starred_change_page(1)">Starred</span>
</div>
