<div id="additional"><div id="main_check" style="float:left;"><input type="checkbox" style="margin-top:2px;" id = "all_select" onclick="select_all()"></div>
  <div id="super_more"><div id="more" style="background-color:#E7E7E7;float:left;margin-left:146px;" onclick="show_menu(event)">More:</div></div><br><br></div>

