  <span id="main_check" class="button4"><input type="checkbox" id = "all_select" onclick="select_all();"></span>
  <span id="super_more"><span id="more" class="button4" style="background-color:#E7E7E7;float:left;" onclick="show_menu(event)">Actions</span></span>
