<div id="category_menu">
<div id="category_list">
{{#each a}}
<div class="main_categories" onclick="change_category_bar_name('{{ this }}', 'All')"  onmouseover="display_sub_categories('{{ this }}')"> {{this }} </div>
{{/each}}
</div>
<div id="category_details">
<div id="category_child1"></div>
<div id="category_child2"></div>
</div></div>
