  <div id="button_category_app_name">
      <div id="select_bars" class="button4" onclick="display_categories(event)" >
        <i id="bars" class="fa fa-bars categories"></i>
        <i id="back" class="fa fa-angle-left categories"></i>
      </div>
      <div id="notices_wrap">
          <div id="category_name">
            {{ name }}
          </div>
            <div id="app_name">Notices</div>
            <div style="clear:both"></div>
      </div>
  </div>
