<div id="category_master_div">
  <div id="select_categories">
      <span id="select_bars" style="display:inline;width=143px;height:16px;" onclick="display_categories()">
        <i class="fa fa-bars"></i>
      </span>
      <span id="category_name">
        {{ name }}
      </span>
  </div>
</div><br>
