  <div id="button_category_app_name">
      <span id="select_bars" class="button4" onclick="display_categories()">
        <i id="bars" class="fa fa-bars categories"></i>
        <i id="back" class="fa fa-angle-left categories"></i>
      </span>
      <div id="notices_wrap">
          <div id="category_name">
            {{ name }}
          </div>
            <div id="app_name">Notices</div>
      </div>
  </div>
