<div id="menu">
<div class="actions" onclick="read_star_checklist(3)">Mark as read</div>
<div class="actions" onclick="read_star_checklist(4)">Mark as unread</div>
<div class="actions" onclick="read_star_checklist(1)">Mark as starred</div>
<div class="actions" onclick="read_star_checklist(2)">Mark as unstarred</div></div>
