<div id="menu" style="width:130px;height:70px;position:absolute;background-color:rgb(202, 228, 13);">
<div style="margin-top:2px;margin-left:7%;" onclick="read_star_checklist(3)">Mark as read</div>
<div style="margin-left:7%;" onclick="read_star_checklist(4)">Mark as unread</div>
<div style="margin-left:7%;" onclick="read_star_checklist(1)">Mark as starred</div>
<div style="margin-left:7%;" onclick="read_star_checklist(2)">Mark as unstarred</div></div>
