<div id="newold_buttons" style="float:right;">
  <div class="twin_button_right button4" id="old_button" onclick="newold_clicked('old')">Expired</div>
  <div class="twin_button_left button4" id="new_button" onclick="newold_clicked('new')">Current</div>
</div>
