<span id="newold_buttons" style="float:right;"><input type="button" id="new_button" onclick="newold_clicked('new')" value="New">
  <input type="button" id="old_button" onclick="newold_clicked('old')" value="Old">
  <!-- <div id="search_bar">Search: <input type="text" id="search_data" placeholder="' + search_string + '" onkeydown="if (event.keyCode   == 13) search()"><br></div> -->
</span>
