<div id="_next_prev_wrap" style="float:right;">
  <div id="_next" class="button4 button-div" onclick="prev_next_clicked(1)">Next</div>
  <div id="_prev" class="button4 button-div" onclick="prev_next_clicked(0)">Prev</div>
</div>
