<div id="search-div">
<i id="search-icon" class="fa fa-search"></i>
<input type="text" id="search-inp" placeholder="Search notices (eg. any string, 30 apr, today)" onkeydown="search_keydown(event)" autocomplete="off">
</div>

