<div id="refresh-button-div" class="button-div">
    <div class="button2" onclick="window.location.assign('notices/upload/');">Upload</div>
</div>

<div id="refresh-button-div" class="button-div">
    <div class="button2" onclick="upload_change_page(1);">Show Uploads</div>
</div>
