<div id="refresh-button-div1" class="button-div">
    <div class="button4" onclick="upload_change_page(1);">My Uploads</div>
</div>

<div id="refresh-button-div2" class="button-div">
    <div id="upload_button" class="button4" onclick="open_upload_dialog()">Upload</div>
</div>
