<div id="notices-header">
  <div id="notices-type-header">Notices</div>
  <div id="refresh-button-div" class="button-div">
    <div class="button2" onclick="location.hash = '#notices';">Home</div>
  </div>
</div><br>
