<div id="notices-header">
  <div class="button4 button-div" onclick="location.hash = '#notices/display/new/All/All/1';">Home</div>
  {{#if star_perm}}
    <div id="refresh-button-div2" class="button-div">
      <div id = "show_starred" class="button4" onclick="starred_change_page(1)">Starred</div>
    </div>
  {{/if}}
  <div id="search-div">
    <i id="search-icon" class="fa fa-search"></i>
    <input type="text" id="search-inp" placeholder="Search notices" onkeydown="search_keydown(event)">
  </div>
</div><br>
