{% extends "pagelet_base.html" %}

{% block scripts %}
  <script type="text/javascript">
  {% if close %}
    parent.birthday_reply_dialog.dialog('close');
  {% endif %}
  </script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/style.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/birthday/wish.css" type="text/css">
{% endblock %}

{% block content %}
  {% if not already_replied %}
    <form action='' method='POST' style='margin-top:10px'>
    {% csrf_token %}
    <textarea class='textarea-field' id="birthday-msg" name="msg" autofocus="true"></textarea>
    <input class='input-button' type="submit" name="submit" value="reply"/>
    </form>
  {% else %}
    <br><span>You have already replied this person</span><br><br>
    <button class='input-button' type="submit" name="submit" value="Wish" onclick="parent.birthday_reply_dialog.dialog('close');">OK</button>
  {% endif %}
{% endblock %}
