*
{
	padding:0px;
	margin:0px;
}
body {
background-image:url(images/strip.jpg);
background-repeat:repeat;
border-top:10px solid #49330f;

margin: -4px -4px 0px -4px;;
text-align:center;
font-family:verdana,arial;

}



#container {
	width:790px;
	margin:0 auto 0 auto;
	border-top:1px solid #73562b;
	_border-top:0px solid #73562b;
        text-align: left;
	height:100%;
	}

#top_links {

height:17px;
margin-top:-1px;
float:right;
}

.facname {
	display:none;
}


.link {

background-color: #49330f; 
float:left;
height: 17px;
color:#d3bb9a;
font-size: 13px;
text-decoration:none;
}

.link a {
text-decoration: none;
color:#d3bb9a;
}

.link a:hover {


color:#d3bb9a;
font-size: 13px;
text-decoration:underline;
}

.curve_edge_lt  {

background-image: url(images/curve_edge_lt.gif);
background-repeat: no-repeat;
width: 9px;
height: 17px;
float: left;
}

.curve_edge_rt {

background-image: url(images/curve_edge_rt.gif);
float: left;
width: 9px;
height: 17px;
background-repeat: no-repeat;
}

#header_search {
margin-top:40px;
width: 790px;
}

#header {


background-image: url(images/header.jpg);
height: 116px;
background-repeat: no-repeat;
width:452px;
float: left;
}

#search_bar {
float: right;
margin-left: 15px;
height: 46px;
overflow: hidden;
margin-top:20px;
}

#search_curve_lt {

background-image: url(images/search_bar_curve_lt.jpg);
width:10px;
height:46px;
float:left;

}

#search {

padding-top:0px;
background-color: #a58454;
float:left;

height:46px;

}

#search_box {

background-color:#f0ece7; 
border:solid 2px #8c7048;
height: 20px;
margin-left:12px;

}

#search_button {

margin-top:12px;
margin-bottom:-5px;
margin-left:10px;

}

#search_curve_rt {

background-image: url(images/search_bar_curve_rt.jpg);
width:15px;
height:46px;
float:left;

}


#left_list_header {
background-image:url(images/left_list_header.jpg);
background-color:#d8cc92;
width:337px;
height:75px;
float:left;
padding-top:10px;
padding-left:20px;
text-align:left;
font-size:18px;
font-weight:bold;
_width:350px;
#width:351px;
margin-left:-1px;
}

#left_list
{
background-color:#d8cc92;
float:left;
width:357px;
margin-top:30px;
min-height:500px;
_height:500px;
}


#result {

background-color:#d8cc92;
margin-top:-10px;
margin-left:1px;
float:left;
width:356px;
_width:350px;
font-family:verdana, arial, sans-serif;
font-size:12px;
padding-left:1px;
padding-bottom:8px;
}

#serial_no {
width:30px;
vertical-align:top;
text-align:center;
}
	
.dept_name {
cursor:pointer;
margin-bottom:10px;
}

#fac_name_list  {
list-style-type:circle;
padding-left: 25px; 
padding-bottom:10px;
font-size:11px;

}

#fac_name_list li {
margin-bottom:0px;
margin-top:5px;
}

.subject {
	width: 75px;
	padding-left:5px;
}

#download a {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:12px;
text-decoration:none;

}

#download a:hover {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:12px;
text-decoration:underline;



}


#main_body
{
	color:#454443;
	width:790px;
	float:left;
}

#rght_text {

width:365px;
float:right;

}

#top_rt_text {

background-color:#69502c;
width:355px;
float:left;
margin-top:30px;
color:#d2bd9f;
font-size:14px;
_width:365px;
height:50px;
padding-left: 10px;
padding-top:10px;
_margin-left:2px;

}


#bottom_block {

background-color:#ddd8a6;
font-size:14px;
color:#494846;
float:right;
margin-top:20px;
padding-top: 10px;
padding-left:5px;
margin-bottom:12px;

}

#list_students {

list-style-image:url(images/bullet2.gif);
padding-right:10px;
padding-left:20px;
padding-bottom:30px;
}

#header_index {

margin-top:40px;
background-image: url(images/header.jpg);
height: 116px;
background-repeat: no-repeat;
width:452px;

}






#username {

padding-top: 20px;
padding-left:20px;
color:#444242;
float:left;
font-weight:bold;
font-size:12px;
}

#password {

padding-top: 50px;
color:#444242;
width:180px;
float:left;
font-weight:bold;
font-size:12px;
}

#running_text {

margin-top:51px;
font-size: 16px;
color: #cba268;
font-weight: bold;

}





#middle_login_background {

margin-top:83px;
height: 238px;
width: 589px;
background-image: url(images/middle_banner_17.jpg);
background-repeat: no-repeat;
margin-left:91px;

}

#login_text {

text-align:left;
padding-top: 60px;
padding-left:20px;
color:#404242;
width:280px;
float:left;	
}

#browse {

text-align:left;
padding-top: 60px;
padding-left:308px;
color:#444242;	
}

.login {

padding-top: 10px;
_padding-top: 0px;
width:250px;
color:#444242;
float:left;
font-weight:bold;
font-size:12px;
}


.text_box1
{
	background-image:url(images/text_box.jpg);
	margin-bottom:3px;
	_margin-bottom:0px;
	border:0px;
	width:156px;
	height:23px;
	padding-top:2px;
	
}

.password_box {
	background-image:url(images/text_box.jpg);
	margin-left:2px;
	border:0px;
	width:156px;
	height:23px;
	padding-top:2px;
}
	
.middle_links a {

font-size:14px;
color:#444242;
font-weight: bold;

text-decoration:none;

}

.middle_links a:hover {

font-size:14px;
color:#444242;
font-weight: bold;

text-decoration:underline;

}


#list_index {

list-style-image:url(images/bullet.gif);
margin-left:50px;
}

#search_bar1 {

font-size:16px;
/*padding-left:10px;*/
padding-top:10px;
_padding-top:0px;
width:156px;



}


#search1 {
	background-image:url(images/text_box.jpg);
	margin-left:2px;
	border:0px;
	width:156px;
	height:23px;
	padding-top:2px;


}


#login_button {

float:right;
margin-top:17px;
margin-right:40px;


}

#submit_button1 {

float:right;
margin-right:20px;
margin-top:0px;
margin-bottom:25px;

}

#left_list_bottom {

background-color:#d8cc92;
margin-top:-10px;
margin-left:1px;
_margin-left:1px;
float:left;
width:324px;
_width:329px;
#width:329px;
font-family:verdana, arial, sans-serif;
font-size:14px;
padding-left:6px;
padding-bottom:8px;
}

#left_list_bottom a {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:14px;
text-decoration:none;
}

#left_list_bottom a:hover {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:14px;
text-decoration:underline;



}

#left_list2{
	background-color:#d8cc92;
margin-left:1px;
_margin-left:1px;
float:left;
width:350px;
_width:350px;
font-family:verdana, arial, sans-serif;
font-size:14px;
padding-right:6px;
padding-top:30px;
text-align:right;
min-height:130px;
font-weight:bold;
_height:130px;
}

#left_list2 a {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:14px;
text-decoration:none;
text-align:right;


}

#left_list2 a:hover {

background-color:#d8cc92;
color:#674101;
font-family:verdana, arial, sans-serif;
font-size:14px;
text-decoration:underline;
text-align:right;


}



#leftbox {
	float:left;
width:357px;
background-color:#d8cc92;
min-height:237px;


}

#left_list_top {
background-color:#d8cc92;
margin-left:1px;
_margin-left:1px;
float:left;
width:350px;
_width:350px;
font-family:verdana, arial, sans-serif;
font-size:12px;
padding-right:6px;
padding-top:6px;
text-align:right;
}

#left_list_top a {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:12px;
text-decoration:none;
text-align:right;

}

#left_list_top a:hover {

background-color:#d8cc92;
color:#674101;
font-family:verdana, arial, sans-serif;
font-size:12px;
text-decoration:underline;
text-align:right;


}

#left_list_bottom2 {
background-color:#d8cc92;
margin-top:-10px;
margin-left:1px;
_margin-left:1px;
float:left;
width:324px;
_width:330px; 
font-family:verdana, arial, sans-serif;
font-size:14px;
padding-left:6px;
padding-bottom:8px;
text-align:left;
}


#left_list_bottom2 a {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:14px;
text-decoration:none;

}

#left_list_bottom2 a:hover {

background-color:#d8cc92;
color:#454443;
font-family:verdana, arial, sans-serif;
font-size:14px;
text-decoration:none;
font-weight:bold;


}

#header_links {

margin-top:40px;
width:790px;

}

#links_right {

width:338px;
height:116px;
float:left;
margin-top:30px;
}

.links {
background-image:url(images/link.jpg);
height:116px;
background-repeat:no-repeat;
float:left;
margin-left:12px;
padding-top:20px;
text-align:center;
}

.links a {

width:96px;
float:left;
font-weight:bold;
font-size:12px;
color:#675f54;
text-decoration:none;
}

.links a:hover{

width:96px;
float:left;
font-weight:bold;
font-size:12px;
color:#675f54;
text-decoration:underline;
}

#middle_block {

width:760px;
background-color:#d9cb95;
clear:both;
padding-top:10px;
padding-left:10px;
margin-bottom:10px;
padding-bottom:8px;
overflow:hidden;
float:left;
}

#middle_block a {

background-color:#d9cb95;
color:#454443;
text-decoration:none;


}

#middle_block a:hover {

background-color:#d9cb95;
color:#674101;

text-decoration:underline;


}


#file_list{

border-collapse:collapse;
width:750px;
overflow:hidden;
_width:740px;
}


.heading {

background-color:#98733a;
font-size:14px;
color:#3a3939;
height:18px;

}

.sub_code {

padding-left:5px;
width:500px;


}

.type {

width:80px;


}

.delete {
width:85px;



}

.list {

font-size:12px;
height:18px;


}

#running_text2 {

margin-top:15px;
font-sixe:0px;
color: #cba268;
float:left;

}

#running_text_header {

font-size:24px;

}

#middle_text {

margin-top: 15px;
font-size: 15px;


}

#middle_text a{

font-size: 13px;
text-decoration:underline;
color: #cba268;

}



#list_faculty {

list-style-image:url(images/bullet3.jpg);
font-size:13px;
}



.upload {

text-align:left;
padding-top: 60px;
padding-left:10px;
color:#444242;
width:180px;
float:left;	
}




#middle_upload {

margin-top:70px;
height: 238px;
width: 589px;
background-image: url(images/upload_box1.jpg);
background-repeat: no-repeat;
margin-left:91px;
margin-bottom:20px;

}



#middle_upload_2 {

/*margin-top:70px;*/
height: 238px;
width: 589px;
background-image: url(images/upload_box2.jpg);
background-repeat: no-repeat;
margin-left:91px;
margin-bottom:20px;

}



.upload_lecture {

text-align:left;
padding-top: 50px;
padding-left:10px;
color:#444242;
width:250px;
float:left;
margin-left:5px;
margin-right:20px;	
}

.upload {

padding-top: 10px;
_padding-top: 0px;
width:250px;
color:#444242;
float:left;
margin-bottom:0px;
font-size:12px;
}


.text_box
{

	background-color:#e9e8dd;
	width:115px;
	height:18px;
	border:solid 1px #606060;
	font-size:11px;

}


	


.browse_button {

margin-top:2inpx;

margin-right:4px;


}

#maximum_size {

font-size:11px;
float: left;
}

.upload_button {

float:right;
margin-right:-5px;
margin-top:-4px;


}


#footer {
width: 100%;
float: right;
border-bottom:5px solid #49330f;
position: absolute fixed;
bottom: 0px;
}

#bottom_curve_lt {

background-image:url(images/bottom_curve_lt.gif);
background-repeat:no-repeat;
width:13px;
height:16px;
float:left;


}

#img a {

background-color:#49330f;
color:#d3bb9a;
font-size:11px;
text-decoration:none;



}

#img {

background-color:#49330f;
color:#d3bb9a;
font-size:11px;
float:left;
padding-top:3px;
text-decoration:none;



}

#img a:hover {

background-color:#49330f;
color:#d3bb9a;
font-size:11px;

text-decoration:underline;



}


#bottom_curve_rt {

background-image:url(images/bottom_curve_rt.gif);
background-repeat:no-repeat;
float:left;


}

#footer_text {

float: right;
margin-bottom: -2px;
}

div.fileinputs {
	position: relative;
	}

div.fakefile {
		position: absolute;
		top: 0px;
		left: 15px;
		z-index: 1;
	}

	input.file {
		position: relative;
		text-align: right;
		-moz-opacity:0 ;
		filter:alpha(opacity: 0);
		opacity: 0;
		z-index: 2;
		color:#00000;
	}

