{{ form.media.css }}
<div class="form-div">
  <messages>{{ django_messages }}</messages>
  {% if not eligible %}
    <div style="margin:10px;line-height:20px">
     You can not change password through Channel i as your<br>
     Channel i account is synced with your Webmail account.<br>
     You can change your password in "Options" tab at the bottom of
     <a style="color:#0072dc" target="_blank" href="{% link_url "webmail" %}">Webmail</a>.<br><br>
     In case you have forgot your webmail password, please contact/visit<br>
     ISC (Information SuperHighway Centre) and get your Webmail account's password changed.
    </div>
  {% else %}
    <form id="profile-form" class="uniForm" action="" method="POST">
      {% csrf_token %}
      {{form.uniform }}
      <input style='margin-left:10px' class='input-button' type="submit" value="Submit" />
    </form>
  {% endif %}
</div>
{{ form.media.js }}
