{{ form1.media.css }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sass/utilities/edit_profile.css"/>
<messages>{{ django_messages }}</messages>
<div class="form-div">
  <form id="profile-form" class="uniForm" action="" method="POST">
    {% csrf_token %}
    <div class="edit-categories">
      <div class="edit-header" id="primary-info-header">Primary Information</div>
      <div id="edit-basic-info">
         <div id="edit-profile-pic">
           <img id="user_photo-img" class="profile-pic1" src="{{ student_user_info.photo_url }}" style="width:75px;height:75px">
         </div>
         <div id="basic-details">
            <div id="settings-person-name">{{ student_user_info.name }}</div>
            <div id="edit-person-branch">{{ student_user_info.info }}</div>
            <div class="div-button" id="edit-pic-button" onclick="upload_image('user_photo',{{ student_user_info.pk }});">Edit Profile Picture</div>
         </div>
      </div>
      {{ form1.uniform }}
    </div>
    <div class="edit-categories">
      <div class="edit-header">Guardian's Information</div>
      {{ form2.uniform }}
    </div>
    <div class="edit-categories">
      <div class="edit-header">Extra Information</div>
      {{ form3.uniform }}
    </div>
    <input type="submit" class="input-button" name="submit" value="Save Changes" style="margin-left:10px"/>
    <input class='input-button' style='margin-left:10px' type="button" name="reset" value="Reset" onclick="load_pagelet('content-pagelet');"/>
  </form>
</div>
{{ form1.media.js }}
<script type="text/javascript" src="/static/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/crop_image/crop_image.js"></script>
