@charset "utf-8";
/* CSS Document */

body
{
	vertical-align:100%;
}

select
{
	width:224px;
	margin-left:6px;
}

td
{
	border:solid #a3a3a3 1px;
	padding:2px;
}

a
{
	text-decoration:none;
	color:#333;
	border:0px;
}

img
{
	border:0px;
}

.active_tab
{
	float:left;
	max-width:100px;
	color:#0b5162;
	background-color: #add0d9;
	margin-left:4px;
	cursor:pointer;	
}

.active_left
{
	background-image:url('../../images/peoplesearch/left_blue.gif');
	height:20px;
	width:5px;
	float:left;

}

.active_right
{
	background-image:url('../../images/peoplesearch/right_blue.gif');
	height:20px;
	width:5px;
	float:left;
}

.inactive_left
{
	background-image:url('../../images/peoplesearch/left_grey.gif');
	height:20px;
	width:4px;
	float:left;
}

.inactive_right
{
	background-image:url('../../images/peoplesearch/right_grey.gif');
	height:20px;
	width:4px;
	float:left;
}

.tab_text
{
	float:left;
	height:18px;
	padding:1px 4px;
	text-decoration:none;
}

.inactive_tab
{
	float:left;
	color:#8d8d8d;
	background-color:#cdcbcb;
	margin-left:4px;
	cursor:pointer;
}

.advUp
{
	background-image:url('../../images/peoplesearch/adv_arr1.gif');
}

.advDown
{
 	background-image:url('../../images/peoplesearch/adv_right.gif');
}

.table_head
{
	color:#3b9eb5;
	font-weight:bold;
	border:2px solid #3b9eb5;
}

.table_result
{
	border:solid #3b9eb5 2px;
	padding:3px;
	font-family:tahoma;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:22px;

}

#tabs
{
	margin-left:10px;
	height:20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
}

#search_button
{
	height:27px;
	width:100px;
	background-image:url('../../images/peoplesearch/new-search2_20_2.jpg');
	border:0;
	margin-left:-4px;
	float:left;
	cursor:pointer;
}

#container
{
	margin:0 auto;
	width:1024px;
}

#div_main
{
	float:left;
}

#results
{
	font-family:Tahoma;
	clear:both;
	font-size:13px;
}

#searchbar
{
	border:4px solid #3b9eb5;
	height:27px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
//	padding-left:5px;
	float:left;

}

#div_left_big_image
{
	float:left;
	height:294px;
	width:223px;
}

#div_left_small_image
{
	float:left;
	height:141px;
	width:131px;
}

#div_right
{
	float:left;
}

#searchbox
{
	height:23px;
	width:355px;
	border:0;
	float:left;	
	padding-left:5px;
	*padding-top:4px;
	*height:19px;
}

#advanced
{
	background-color:#add0d9;
	height:92px;
	width:238px;
	margin:0 ;
	display :none;
}

#advanced_main
{
	margin:0;
	margin-left:15px;
	position:absolute;
	display:none;
}

#adv_left
{
	float:left;
	background-image:url('../../images/peoplesearch/adv_left.gif');
	height:15px;
	width:4px;
}

#adv_middle
{
	background-color:#add0d9;
	height:15px;
	width:120px;
	cursor:pointer;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#0b5162;
	padding:0 0 0 100px;
	text-decoration:none;
}

#adv_right
{
	height:15px;
	width:14px;
	float:left;
}
#footer_note
{
	float:bottom;
	font-size:12px;
	font-family:Tahome,Geneva,sans-serif;
}
