<div ng-click="getPostData()" class="courseFullDiv">
    <div class="courseHeading">
      <div class="courseHeadingNameId">
        {[courseId]}{[courseName]}
      </div>
      <!--
      <div class="courseSearch">
        <input type="text" class="searchWithinCourse" placeholder="Search within this course"></input>
        <i class="fa fa-search"></i>
      </div>
      -->
     <div class="courseFilters" >
       <ul ng-init="selectedTab = 'feeds'">
          <a ui-sref="course.feeds" ng-class="{'active':selectedTab === 'feeds'}" ng-click="selectedTab = 'feeds'">
            <li>
                Posts
            </li>
          </a>
          <a ui-sref="course.files" ng-class="{'active':selectedTab === 'files'}" ng-click="selectedTab = 'files'">
            <li>
                Files
            </li>
          </a>
          <a ui-sref="course.members" ng-class="{'active':selectedTab === 'members'}" ng-click="selectedTab = 'members'">
            <li>
                Members
            </li>
          </a>
       </ul>
    </div>

    </div>

    
</div>

<div class="filteredContent" ui-view>
     
<div>

