<div class="membersDisplay">


  <div class="prof">
     <div class="profHeading">
      Teacher
     </div>
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Prof. Manoj Mishra
      </div>
      <div class="mData">
        HOD CSE Dept.
      </div>
    </div>
  </div>

  <div class="studentList">
  <div class="studHeading">
    Students
  </div>
  <div class="stud">
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div> 
  
  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>
  
  <div class="stud">  
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div> 
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>
  
  <div class="stud">  
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div> 
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>
  
  <div class="stud">  
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div> 
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>

  <div class="stud"> 
    <div class="mPic">
      <img src="https://avatars3.githubusercontent.com/u/2428310?v=3&s=96" />
    </div>
    <div class="mDesc">
      <div class="mName">
        Himanshu Jariyal
      </div>
      <div class="mData">
        12114030
      </div>
    </div>
  </div>
</div>  
</div>
