body
{
	background-repeat: no-repeat;
}
		
#container
{
	position:relative;
	width:961px;
	height:1200px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:960px 1200px;
	background-image:url('../../../media/img_website/images/Green_bkgd_72rgb.jpg');
}
#top
{
	
	height:84px;
	padding-left:200px;
	padding-right:200px;
	padding-top:10px;

}
#text1
{
	margin-top:10px;
	display:inline;
	font-family:Myriad Pro;
	position:absolute;
	top:-72px;
	font-size:50px;
	margin-top:100px;
}
#top  img
{
	width:80px;
	height:80px;
	float:right;
}
#rest
{
	padding:0px 200px;
}
td
{
	width:300px;
}
input.input
{
	width:200px;
}
tr
{
	height:40px;
}
#about
{
	width:200px;
	height:100px;
}
#textarea
{
	width:200px;
	height:100px;
}
#aboutme
{
    height:100px;
	vertical-align: top;	
}
#overlap
{	
	z-index: -1;
	position:absolute;
	left:-202px;
}
@font-face
	{
	font-family: Myriad Pro;
	src: url('../../fonts/MyriadPro-Regular.otf');
	}
