body
{
	background-image: url('../images/formbackground.jpg');
	background-repeat: no-repeat;
}
#container
{
	width:960px;
	height:1200px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:960px 1200px;
	background-image:url('../images/green-abstract-background.jpg');
}

#textarea
{
    font-size:100px;
	text-align:center;
	background-image:url('images/fastfood.gif');
	margin:100px 77px;
	width:800px;
	height:1000px;
}