/* line 1, ../../sass/helpcenter/login_help.sass */
.point {
  margin: 20px 10px;
  font-family: "Tahoma", "Arial", sans-serif;
  font-size: 13px;
  color: #202020;
  word-spacing: 1px;
}

/* line 8, ../../sass/helpcenter/login_help.sass */
a {
  color: #0072dc;
  text-decoration: none;
}
