<div id="header-title">Channel i</div>
<div id="header-search">
  <input type="search" name="q" id="global_search_bar" autocomplete="off" placeholder="Search here"/>
</div>
<div id="header-options">
  {% if user.is_authenticated %}
    <div id="logout" class="header-option" onclick="logout();">Sign Out</div>
    <div class="header-option" onclick="location.hash='#helpcenter'">Help Center</div>
    <div class="header-option" onclick="take_feedback();">Feedback</div>
    <div id="user-account">
      <div id="user-thumbnail"><img src="{{ user.photo_url }}"/></div>
      <span id="user-name">{{ user.name }}</span>
    </div>
  {% else %}
    <div id="login" class="header-option" onclick="open_login_dialog();">Sign In</div>
  {% endif %}
</div>
