{% extends "pagelet_base.html" %}

{% block scripts %}
  <script type="text/javascript">
    var channeli_apps = {{ channeli_apps }};
    var user = {% if user.is_authenticated %}{{ user.serialize|jsonify }}{% else %}{is_authenticated: false}{% endif %};
  </script>

  {% if pass_change %}
    <script type='text/javascript'>
      dialog_iframe({
        name:'pass_change',
        title: 'Change Password',
        width: 350,
        height: 260,
        src:'/settings/password_firstyear/'
      });
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="header">
    <div id="loading-div"><div></div></div>
    <div id="header-title"><a href="/">Channel i</a></div>
    {% comment %}
    <div id="header-search">
      <input type="search" name="q" id="global_search_bar" autocomplete="off" placeholder="Search here"/>
    </div>
    {% endcomment %}
    <div id="header-options">
      {% if user.is_authenticated %}
        <div id="user-account">
          <div id="user-thumbnail"><img src="{{ user.photo_url }}"/></div>
        </div>
        {% if not email_verified %}
        <div id='email_verification' class='email_verification_email' style='float:left; margin-right: 15px; margin-top:-4px;'>
          <a href='/#settings/email_auth'><span class='error message-span'>Click here to verify email address</span></a>
        </div>
        {% endif %}
        {% if not_viewed_notifications_count == 0 %}
          <div id="notifications-count" class="notifications-count-inact">
            0
            <i class="fa fa-bell"></i>
          </div>
        {% else %}
          <div id="notifications-count">
            {{ not_viewed_notifications_count }}
            <i class="fa fa-bell"></i>
          </div>
        {% endif %}
        <div id="user-name">{{ user.name }}</div>
        {% if user.username == "admin" %}
          <div class='header-option'><a href='/admin/'>Admin portal</a></div>
        {% endif %}
      {% else %}
        <div id="login" class="header-option div-button" onclick="open_login_dialog();">Sign In</div>
      {% endif %}
    </div>
    {% if not user.is_authenticated %}
     <div id="sign-in-request" style="
       float: right;
       margin-right: 10px;
       color: #AAA;
       font-size: 14px;
       ">Sign in to have a better experience</div> 
    {% endif %}
    {% if user.is_authenticated %}
    <div id="account-navigation">
      <div id="navigation-user"></div>
      <div id="navigation-options" class="arrow-top arrow-top-right">
        <div class="navigation-option" onclick="location.hash='#settings';">Settings</div>
        <div class="navigation-option" onclick="take_feedback();">Give feedback</div>
        <div class="navigation-option" onclick="location.hash='#helpcenter'">Help Center</div>
        <div class="navigation-option" id="logout" onclick="logout();">Sign Out</div>
      </div>
    </div>
    {% endif %}
  </div>

  <div id="sidebar">
    <div id="sidebar-tabs">
      {% for tab in tabs %}
        <div id="{{ tab.name }}-tab" class="tab" onclick="nucleus.tab_clicked('{{ tab.name }}');">
          <div class="tab-icon {{ tab.name }}-tab-icon float-left">
            <i class="{{ tab.class }}" style="color:{{ tab.color }}"></i>
          </div>
          <span class="tab-name float-left">{{ tab.name|title }}</span>
          {% if tab.name == 'notices' %}
            <div id="android-logo">
              <a href="https://play.google.com/store/apps/details?id=in.channeli.noticeboard" target="blank">
                <i class="fa fa-android fa-lg" style="color:#78C257;font-size:22px;margin-left:14px"></i>
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div id="tab-arrow"><div></div></div>
    </div>
  </div>
{% endblock %}
