<script type="text/javascript">
  var channeli_apps = {{ channeli_apps }};
  var user = {% if user.is_authenticated %}{{ user.serialize|jsonify }}{% else %}{is_authenticated: false}{% endif %};
</script>
<div id="sidebar-tabs">
  {% for tab in tabs %}
    <div id="{{ tab.name }}-tab" class="tab" onclick="tab_clicked('{{ tab.name }}');">
      <div class="tab-icon {{ tab.name }}-tab-icon float-left">
        <i class="{{ tab.class }}"></i>
      </div>
      <span class="tab-name float-left">{{ tab.name|title }}</span>
    </div>
  {% endfor %}
  <div id="tab-arrow"><div></div></div>
</div>
