
<div style="min-height:36px;background:#1b6f81;color:#ffffff;border-top-left-radius:5px;border-top-right-radius:5px;">
<table style="border-spacing:0px;width:100%"><tbody><tr>
<td style="padding:12px 6px 6px 6px;font-size:13px;">
<table style="border-spacing:0px;">
<tbody style="color:#ffffff;font-size:14px;vertical-align:top">
<tr>             
<td style="width:65px;"><b>Subject :</b></td>
<td style=""> {{ notice.subject }} 
</td>
</tr>
</tbody> 
</table>
</td>
<td style="width:100px;vertical-align:top">
<a href= "{{ PeopleProxyUrl }}" style="text-decoration:none;color:#ffffff;" target="_blank">
<img src="{{ PeopleProxyUrl }}Notices/template/images/enotice.png" style="font-weight:bold;font-size:15px;color:#ffffff;" alt="eNotice"/>
</a>  
</td>
</tr></tbody></table>
</div>
<div style="background:#f0f0f0;padding:12px;font-size:12px;"></div>{{ notice.content | safe }}
</div>
<div style="clear:both"></div>
<div style="height:18px;background:#1b6f81;padding:8px 6px 6px 6px;font-size:13px;color:#ffffff;">
<div style="padding-right:6px;border-right:1px solid #0f404b;float:left;">
<a href=" {{ PeopleProxyUrl }}#content/{{ notice.id }}" style="text-decoration:none;color:#ffffff;" target="_blank">
<b>Web Version</b>
</a>  
</div>  
<div style="padding:0px 6px;float:left;">
<a href="http://channeli.in/settings/email/" style="text-decoration:none;color:#ffffff;" target="_blank">
<b> Change Preferences / Unsubscribe</b>
</a>  
</div>
<div style="margin:-30px;float:right;width:153px">
<a href="https://market.android.com/details?id=in.ernet.iitr.people" style="text-decoration:none;" target="_blank">
<img src=" {{ PeopleProxyUrl }}/Notices/template/images/android.png" istyle="color:#92B901;font-weight:bold;" alt="Android Notice-Board" title="Android Notice-Board"/>
</a>
</div>  
</div>
<div style="padding:10px 6px;background:#0f404b;color:#ffffff;">
<div style="height:70px;padding-bottom:6px;padding-top:16px;">
<table style="border-spacing:0px;width:100%"><tbody style="color:#ffffff;font-size:13px;"><tr>
<td style="vertical-align:top;">
<div style="height:20px;">
<b>Email :</b>
<a href="mailto:img.iitr.img@gmail.com" style="color:#ffffff;text-decoration:none;" target="_blank">img.iitr.img@gmail.com</a>
</div>
<div style="height:20px;">
<b>Phone :</b> 01332 - 284521
</div>
<div style="height:20px;padding-top:5px">
<b>Like us on</b> 
<a href="https://www.facebook.com/IMGIITRoorkee" style="margin-left:0px 5px;text-decoration:none" target="_blank">
<span style="background:#3b5998;color:white;font:bold 13px sans-serif;margin:2px 0px;padding:1px 5px 2px 5px">facebook</span>
</a>
</div>
</td>
<td style="width:100px;vertical-align:top;">
<b>POWERED BY</b>
</td>
<td style="width:78px;vertical-align:top">
<a href="img.channeli.in" style="text-decoration:none;color:#ffffff;" target="_blank">
<img src=" {{ PeopleProxyUrl }}Notices/template/images/imglogo.png" style="font-family:verdana;font-size:30px;font-weight:bold;line-height:26px" alt="IMG"
title="Information Management Group"/>
</a>
</td> 
</tr></tbody></table> 
</div>
<div style="height:14px;border-top:1px solid #1b6f81;padding-top:6px;font-size:11px;">
Copyright &copy;{{ current_year }}. All Rights Reserved. 
<a href="img.channeli.in" style="text-decoration:none;color:#ffffff;" target="_blank">
Information Management Group
</a>
</div>
</div>

