{% extends "internship/base.html" %}

{% block app_content %}
<h3>Applications to {{ company.name_of_company }}</h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    {% if task == "finalize" %}
    <li class="active">
      <a>
        Finalize
      </a>
    </li>
    <li>
      <a href="{% url 'internship.views_admin.unfinalize' company.id %}">
        Unfinalize
      </a>
    </li>
    {% else %}
    <li>
      <a href="{% url 'internship.views_admin.applications_to_company' company.id %}">
        Finalize
      </a>
    </li>
    <li class="active">
      <a>
        Unfinalize
      </a>
    </li>
    {% endif %}
  </ul>
</div>

{% if details %}
<button type="button" class="btn btn-primary" onclick="check_all('applications');">Select All</button>
<button type="button" class="btn btn-primary" onclick="uncheck_all('applications');">Unselect All</button>
<form method="POST">
  {% csrf_token %}
  <table class="sortable table table-striped table-bordered table-condensed" cellspacing="0" id="t1">
    <thead>
    <tr>
      <th>S.No.</th>
      <th>Select</th>
      <th>Enrollment No.</th>
      <th>Name</th>
      <th>Discipline</th>
      <th>CGPA</th>
      <th>Course</th>
      <th>Birth Date</th>
      <th>Gender</th>
      <th>Category</th>
      <th>Resume</th>
    </tr>
    </thead>
    <tbody>
    {% for application,PersonInfo in details %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><input type="checkbox" name="selected_applications" value="{{ application.id }}"/></td>
      <td>{{ application.student.student.user.username }}</td>
      <td>{{ application.student.student.user.name }}</td>
      <td>{{ application.student.student.branch.name }}</td>
      <td>{{ application.student.student.cgpa }}</td>
      <td>{{ application.student.student.get_semester_display }}</td>
      <td>{% firstof application.student.student.user.birth_date '-' %}</td>
      <td>{{ application.student.student.user.gender }}</td>
      <td>{% firstof PersonInfo.category '-' %}</td>
      <td><a href="{% url 'internship.views.resume_to_verify' application.student.student.user.username %}">Get Resume</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <input type="submit" class="btn" value="Submit"/>
</form>
{% else %}
No applications yet!
{% endif %}
{% endblock app_content %}

{% block app_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/placement/check_all.js"></script>
{% endblock %}
