{% extends "internship/base.html" %}

{% block app_content %}
<h3>{{ branch.name }}</h3>
<hr/>
{% if details %}
<p>Total students : {{ details|length }}</p>
View students :
<select id="category" onChange="javascript:selectStudents();">
  <option value="All">All</option>
  <option value="Y">Placed in a company</option>
  <option value="N">Not placed in a company</option>
</select>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#details" data-toggle="tab">
        Details
      </a>
    </li>
    <li>
      <a href="#marks" data-toggle="tab">
        Marks
      </a>
    </li>
    <li>
      <a href="#applications" data-toggle="tab">
        Applications
      </a>
    </li>
    <li>
      <a href="#all" data-toggle="tab">
        All Information
      </a>
    </li>
  </ul>

  <div class = "tab-content">
    <div id="details" class="tab-pane active">
      <table class="sortable table table-striped table-bordered table-condensed" id="t1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Category</th>
            <th>Course</th>
            <th>Contact No</th>
            <th>Alternate Email</th>
          </tr>
        </thead>
        <tbody>

          {% for internship_person,tenth_marks,twelfth_marks,graduation_marks, student_info, no_of_applications, last_application in details %}
          <tr class="student placed_category_{% if internship_person.is_placed %}{{ 'Y' }}{% else %}{{ 'N' }}{% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ internship_person.student.user.name }}</td>
            <td>{{ student_info.birth_date|default:'-' }}</td>
            <td>{{ student_info.get_category_display|default:'-' }}</td>
            <td>{{ internship_person.student.get_semester_display }}</td>
            <td>{{ internship_person.student.user.contact_no|default:'-' }}</td>
            <td>{{ internship_person.student.user.email|default:'-' }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <div id="marks" class="tab-pane">
      <table class="sortable table table-striped table-bordered table-condensed" id="t1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>CGPA</th>
            <th>Tenth Marks</th>
            <th>Twelfth Marks</th>
            <th>Graduation</th>
          </tr>
        </thead>
        <tbody>

          {% for internship_person,tenth_marks,twelfth_marks,graduation_marks, student_info, no_of_applications, last_application in details %}
          <tr class="student placed_category_{% if internship_person.is_placed %}{{ 'Y' }}{% else %}{{ 'N' }}{% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ internship_person.student.user.name }}</td>
            <td>{{ internship_person.student.cgpa|default:'-' }}</td>
            <td>{{ tenth_marks }}</td>
            <td>{{ twelfth_marks }}</td>
            <td>{{ graduation_marks }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>

    <div id="applications" class="tab-pane">

      <table class="sortable table table-striped table-bordered table-condensed" id="t1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>No. of Applications</th>
            
          </tr>
        </thead>
        <tbody>

          {% for internship_person,tenth_marks,twelfth_marks,graduation_marks, student_info, no_of_applications, last_application in details %}
          <tr class="student placed_category_{% if internship_person.is_placed %}{{ 'Y' }}{% else %}{{ 'N' }}{% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ internship_person.student.user.name }}</td>
            <td>{{ no_of_applications }}</td>
            
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>

    <div id="all" class="tab-pane">
      <table class="sortable table table-striped table-bordered table-condensed" id="t1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>CGPA</th>
            <th>Tenth Marks</th>
            <th>Twelfth Marks</th>
            <th>Graduation</th>
            <th>Birth Date</th>
            <th>Category</th>
            <th>Alternate Email</th>
            <th>Contact No</th>
            <th>Course</th>
            <th>No. of Applications</th>
            <th>Last Date of Application</th>
         </tr>
        </thead>
        <tbody>
          {% for internship_person,tenth_marks,twelfth_marks,graduation_marks, student_info, no_of_applications, last_application in details %}
          <tr class="student placed_category_{% if internship_person.is_placed %}{{ 'Y' }}{% else %}{{ 'N' }}{% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ internship_person.student.user.name }}</td>
            <td>{{ internship_person.student.cgpa|default:'-' }}</td>
            <td>{{ tenth_marks }}</td>
            <td>{{ twelfth_marks }}</td>
            <td>{{ graduation_marks }}</td>
            <td>{{ student_info.birth_date|default:'-' }}</td>
            <td>{{ student_info.get_category_display|default:'-' }}</td>
            <td>{{ internship_person.student.user.email|default:'-' }}</td>
            <td>{{ internship_person.student.user.contact_no|default:'-' }}</td>
            <td>{{ internship_person.student.get_semester_display }}</td>
            <td>{{ no_of_applications }}</td>
            <td>{{ last_application }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
No student found !
{% endif %}

{% endblock %}

{% block app_scripts %}
<script type="text/javascript">
  function selectStudents()
  {
    value = document.getElementById('category').value;
    if(value=='All')
    {
      $('.student').show();
    }
    else
    {
      $('.student').hide();
      $('.placed_category_'+value).show();
    }
  }
</script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
{% endblock %}

