{% extends "internship/base.html" %}

{% block app_content %}

<div id='faq_header'><h1>FAQs</h1></div>

<div class="FAQcontainer">
	<div class="faq_unit"><div class="faq_question">
    Why is my resume empty?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
    Fill the details in <a href=/placement/>Placement Online</a> and fill out the details under 'Project Information' and 'Internship Information'.
  </div></div></div>
  <hr />
  <div class="faq_unit"><div class="faq_question">
    Why do all the &quot; s that I have filled up in various fields show up as # s in the resume?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
	  This happened most probably because you copy-pasted the content from Microsoft Word document.
    Word uses a different &quot; for formatting than the standard one. To solve this problem, after copy-pasting
	  replace all the &quot; s manually, that is type &quot; s in through the keyboard. Generate the resume again.
    This should solve the problem.
  </div></div></div>
  <hr/>
  <div class="faq_unit"><div class="faq_question">
    Can I fill my B.Tech Project under Projects/Research?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
	  Yes, you can fill your B.Tech Project under Project/Research.
  </div></div></div>
  <hr/>
  <div class="faq_unit"><div class="faq_question">
    Can you elaborate on what is meant by references, in the placement profile?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
	  Faculty,Professionals or Guides to whom the company can contact so that they can get a feel
    for who you are. Select people to validate and reinforce what you have stated in your resume.
    A resume reference is some one who can verify your credentials and all or part of the information
    you have written in your resume.You have to know your references well and be sure that they
    can give a good feedback, to anybody asking questions about your past.
  </div></div></div>
  <hr/>
  <div class="faq_unit"><div class="faq_question">
    What will be the course code for B.Tech Dual Degree students?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
	  Check the list for the course codes given on the Welcome Page.
  </div></div></div>
  <hr/>
  <div class="faq_unit"><div class="faq_question">
    I am having problem regarding the entry of percentage of my 10th, 12th? What is to
	  be filled in C.G.P.A. for odd semester?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
	  You have to fill the details in the Score for the percentage of 10th and 12th and the
    discipine as Not Applicable. At the end of odd sem too you get a C.G.P.A. so fill in that.
  </div></div></div>
  <hr/>
  <div class="faq_unit"><div class="faq_question">
    What to do if the error something like this comes up=&quot;HTTP Status 500 -exception
	  javax.servlet.ServletException at org.apache.struts.action.RequestProcessor.
    processException(RequestProcessor.java:526)&quot;?
  </div>
  <div class="faq_question_content"><div class="faq_reply_alter">
	  We are sorry for the inconvenience. It happens sometimes that server gets down.
    In such cases please be patient and try after sometime.
  </div></div></div>
  <hr/>
  <div class="faq_unit"><div class="faq_question">
    What to do if my image is in the right format(jpeg,gif..etc.) but still not uploading?
  </div>
  <div class="faq_question_content"><div class="faq_reply">
	  Your image must not be optimized, for that do the following:
    1)Open the image in Adobe Photoshop.
    2)Resize the image to required value.
	  3)Click on the option for save for web.
    4)Open and check now.
  </div></div></div>
</div>

{% endblock %}
