{% extends "internship/base.html" %}

{% block app_content %}
<h3>Feedback for {{ session }}</h3>
{% if feedbacks %}
<table cellspacing="0" class="sortable table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>S.No.</th>
    <th>Company</th>
    <th>Feedbacks</th>
  </tr>
  </thead>
  <tbody>
  {% for feedback in feedbacks %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
      <a href="{% url internship.views_feedback.company_feedback year feedback.company_name %}">
      {{ feedback.company_name }}
      </a>
    </td>
    <td>{{ feedback.count }} (<a href=" {% url internship.views_feedback.feedback_company_as_pdf feedback.company_name %} ">View</a>)</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
No companies to show Feedback for this session! <br />
{% endif %}
<a href ={% url internship.views_feedback.feedback_company_list year_previous %}><button class="btn">Previous Year</button></a> 
{% if show_next  %}
<a href = {% url internship.views_feedback.feedback_company_list year_next %}><button class="btn">Next Year</button></a>
{% endif %}
{% endblock app_content %}
