{% extends "internship/base.html" %}

{% block app_content %}
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<style type="text/css">
  .form_itself label { float:none; width:auto; }
</style>
{% include "internship/generic_form.html" with action=action form=form %}

<script type="text/javascript">
  for(var i=1;i<=8;++i)
    CKEDITOR.replace( 'feedback'+i,{height:"100", toolbar:"Basic"} ); {# name or id of the textarea that has to be used with CKEditor #}
</script>

{% endblock app_content %}
