{% extends "internship/base.html" %}

{% block app_content %}

{% if error_msg %}
{{ error_msg }}
{% endif %}
<div class = "well">
<h3> {{ company.name_of_company }} </h3>
{% if form %}

{% if editables %}

{% if form.is_multipart %}
  <form action="{{ action }}" method="POST" name="{{ name|default:'generic_form' }}" enctype="multipart/form-data">
{% else %}
  <form action="{{ action }}" method="POST" name="{{ name|default:'generic_form' }}">
{% endif %}

{% csrf_token %}
{% endif %} {# if editables #}

<table class="sortable table table-striped table-bordered table-condensed">
{% load filters %}

{% for field in form.visible_fields %}
<tr>

  {% if field.name in editables %}
    <td>{{ field.label_tag }}</td>
    <td>{{ field }}</td>
  {% else %}
    <td>{{ field.label }}</td>
    <td>{{ field|get_display|default:'-' }}</td>
{% endif %}

</tr>
{% endfor %} {# for field in form.visible_fields #}

</table>
{% if editables %}
<input type="submit" value="{{ submit|default:'Submit' }}"/>
</form>
{% endif %}

{% endif %} {# if form #}

<br /><a href="{% url 'internship.views_student.company_list' %}"><button class="btn">Back to List of Companies</button></a>
</div>
{% endblock app_content %}
