{% comment %}
<!--
  This template generates a form automatically. It takes care whether a form is multipart or not. Eg:
    {% include "generic_form.html" with action='/nucleus/login/' form=photo_form %}

  The following parameters are allowed:
    -> form - REQUIRED
        Sets the HTML form to be displayed.
    -> action - REQUIRED
        Sets the action of the form.
    -> name - OPTIONAL, default = generic_form
        Sets the name of the form. Might be needed for some javascript functions.
    -> submit - OPTIONAL, default = Submit
        Sets the value of the submit button. Might want to change it to 'Add', 'Update', Delete' etc.
    -> on_submit - OPTIONAL, default is not present
        It specifies the function to be called after submit is clicked.
  -->
{% endcomment %}

{% if form %}
{% comment %}<link rel='stylesheet' href='{{ STATIC_URL }}css/placement/generic_form.css' type='text/css'/>
<script type="text/javascript" src="{{ STATIC_URL }}js/placement/generic_form.js"></script>{% endcomment %}
  {{ form.media }}
  <div class='generic_form'>
    {% if on_submit %}
      {% if form.is_multipart %}
        <form action='{{ action }}' method='POST' class="form_itself uniForm" id='{{ name|default:"generic_form" }}' name='{{ name|default:"generic_form" }}' enctype='multipart/form-data' onsubmit='{{ on_submit }}'>
      {% else %}
        <form action='{{ action }}' method='POST' class="form_itself uniForm" id='{{ name|default:"generic_form" }}' name='{{ name|default:"generic_form" }}' onsubmit="{{ on_submit }}">
      {% endif %}
    {% else %}
      {% if form.is_multipart %}
        <form action='{{ action }}' method='POST' class="form_itself uniForm" id='{{ name|default:"generic_form" }}' name='{{ name|default:"generic_form" }}' enctype='multipart/form-data'>
      {% else %}
        <form action='{{ action }}' method='POST' class="form_itself uniForm" id='{{ name|default:"generic_form" }}' name='{{ name|default:"generic_form" }}'>
      {% endif %}
    {% endif %}
    {% csrf_token %}
    {% if isFormSet %}
      {{ form.management_form }}
      {% for frm in form %}
        {{ frm.uniform }}
        {{ frm.id }}
          <hr>
      {% endfor %}
    {% else %}
      {{ form.uniform }}
    {% endif %}
      
    <div class='submit_button' id='{{ name|default:"generic_form" }}_submit'> 
	    <input type='submit' value='{{ submit|default:"Submit" }}' class="btn btn-primary"/>
      &nbsp;&nbsp;
      <input type='button' value='Reset' onclick='clear_fields();' class="btn">
	  </div>
    </form>
  </div>

  <script type='text/javascript'>
    var form_name = '{{ name|default:"generic_form" }}';
    var form_fields = eval("document." + form_name + ".elements;");
    function clear_fields(){
      var len = form_fields.length;
      // 0 is csrf token. Last 2 are submit and reset buttons.
      for(var i=0; i < len-2; ++i){
        if(form_fields[i].type != "hidden"){
          form_fields[i].value="";
          form_fields[i].checked=false;
        }
      }
    }
    // Reset all the CKEditors as well
    if(typeof CKEDITOR != "undefined"){
      for(var i in CKEDITOR.instances)
      CKEDITOR.instances[i].setData('');
    }

    if (window.addEventListener) // W3C standard
    {
      window.addEventListener('load', generic_form_loaded, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
      window.attachEvent('onload', generic_form_loaded);
    }
                       
    function generic_form_loaded(){
      var len = form_fields.length;
      // Onload set cursor to the first visible field.
      for(var i=0; i < len; ++i){
        if(form_fields[i].type != "hidden"){
          form_fields[i].focus();
          return;
        }
      }
    }
  </script>
{% endif %}  {# End form if #}
