{% extends "internship/base.html" %}

{% block app_content %}

<h3>Welcome to Internship Online</h3>
<hr />
<div style="width:400px;float:left;">
  {% if error_msg %}
  {{ error_msg }}
  {% endif %}
  <div style="width:400px;">
    Name: {{ internship_person.student.user.name }}
    <br/>
    Class: {{ internship_person.student.get_semester_display }}
    <br/>
    Discipline: {{ internship_person.student.branch.name }}
  </div>
</div>

<div style="width:230px;float:left;margin-left:100px;">
  {% with status=internship_person.status %}
  Internship Status:&nbsp; 
  <strong>
    {% if status == "CLS" %}Closed
    {% else %}
      {% if status == "OPN" %}Open
      {% else %}
        {% if status == "LCK" %}Locked
        {% else %}
          {% if status == "VRF" %}Verified
          {% else %}NA
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </strong>
  {% endwith %}
</div>
<a href="{% url 'internship.views.resume' %}" style="width:230px;float:left;margin-left:100px;padding-top:15px;">
<button class="btn btn-info">
<div class="text">
Resume
</div>
<div class="image"><img src="{{ STATIC_URL }}images/placement/arrow_down.png" /></div>
</button></a>

<div style="clear:both;"></div>
<br />
{% if internship_person.status == 'OPN' %}
<div><b>Before applying to companies, make sure you fill your details in Placement Online.</b></div>
{% endif%}

<div style="float:left; width:100%; padding-top:10px;">
{% if applications %}
<table style="margin-top:10px;" class="sortable table table-striped table-bordered table-condensed" id="t1">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Status</th>
    <th>Company Details</th>
    <th>Withdraw</th>
    <th>Resume</th>
  </tr>
  </thead>
  <tbody>
  {% for application in applications %}
  <tr>
    <td>{{ application.company.name_of_company }}</td>
    <td>
    {% if application.status == 'SEL' %}
    Selected
    {% endif %}
    {% if application.status == 'FIN' %}
    Locked
    {% endif %}
    {% if application.status == 'APP' %}
    Applied
    {% endif %}

    </td>
    <td><a href="{% url 'internship.views.company_info' application.company.id %}">Details</a></td>
    <td>
      {% if application.status == 'APP'  and application.company.status == 'OPN' and not selected %}
      <a href="javascript:void();" onclick="javascript:switchApplicationStatus({{ application.company.id }}, this);">Withdraw</a>
      {% else %}
        -
      {% endif %}
    </td>
    <td>
      <a href="{% url 'internship.views_student.submitted_resume' application.company.id %}" id="resumelink{{ application.company.id }}"
         {% if status == 'NOT' or status == 'NAP' %} style="visibility:hidden;" {% endif %}>
        <button>
          <div class="text">
            Resume
          </div>
          <div class="image"><img src="{{ STATIC_URL }}images/placement/arrow_down.png" /></div>
        </button>
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript" src="{{ STATIC_URL }}js/internship/application_switch.js"></script>
{% endif %}
</div>
{% endblock app_content %}
