{% extends "internship/base.html" %}

{% block app_styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}jquery/smoothness/jquery-ui.min.css">
<script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}jquery/jquery-ui.min.js"></script>
<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;
    font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  .header_text
  {
    font-size:20px;
  }
</style>
{% endblock %}

{% block app_scripts %}
  <script>
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
    $('#submit').click(function() 
    {
      var values = $("#sortable").sortable("toArray");
      var dataArray = [];
      for (var x in values) {
        var item = {
          "priority": x,
          "id": values[x],
        };
        dataArray.push(item);
      }
      myJSON = JSON.stringify(dataArray);
      $.ajax
      ({
        url: '',
        data: myJSON,
        type: 'POST',
        success: function(data)
        {
          if(data["is_success"]){
            $(".error").css("display","None");
            $(".success").html(data["message"]);
            $(".success").css("display","Block");
            setTimeout(function() {
              $(".success").css("display", "None")
            }, 2000);
          }
          else{
            $(".success").css("display","None");
            $(".error").html(data["message"]);
            $(".error").css("display","Block");
            setTimeout(function() {
              $(".error").css("display", "None")
            }, 2000);
          }
        }
      });
    });
  </script>
{% endblock %}

{% block app_content %}
<div id="content_success">
  <p class="success" style="display:none"></p>
  <p class="error" style="display:none"></p>
</div>
{% if message %}
  {{message}}
{% else %}
  <div class="header_text" style="margin-bottom: 15px;">
    <span> Set your priority for the following company/companies</span>
  </div>
  <ul id="sortable" style="font-size: 10px;">
  {% for company_map in data %}
  <li id = "{{company_map.company.id}}"class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{company_map.company}}</li>
  {% endfor %}
  </ul>
  <input id ="submit" type="submit" value="Submit" class="btn btn-primary"
  style="margin-top: 10px;">
{% endif %}

{% endblock %}
