<html>
  <head>
    <title>Mess Feedback</title>
    <link href="{{STATIC_URL}}css/messmenu/feedback.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/messmenu/bootstrap.min.css">
  </head>
  <body>
    <div class='container'>
      <div class="text_body">
        <h3><span class="label label-primary">Mess Feedback</span></h3>
        <h3> Feedback for "Cook of the Month"</h3>
        <p class="note_text">This feedback is being sought for assessing the quality, hygiene and
        taste of the food served in your bhawan mess.</p>
        <h4>{{person.name}}</h4>
        {% if not already_rated %}
        <p><label for="id_bhawan">Bhawan: </label> &nbsp;&nbsp;{{bhawan}}</p>
          <form action='' method='POST'>
            {% csrf_token %}
            {{feedback_form.as_p}}
            <button type="submit" class="btn btn-default
              submit_btn">Submit</button>
          </form>
          <p class="note"><label >Note: </label> &nbsp;&nbsp;You will be able
          to give your feedback once a month only.</p>
        {% else %}
          <img src="{{STATIC_URL}}images/messmenu/tick.png"/>
          <p class='msg'>Thank you very much. Your feedback for the current month has been successfully received.</p>
        {% endif %}
      </div>
    </div>
  </body>
  <script type="text/javascript"
    src="{{STATIC_URL}}jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/messmenu/jquery.barrating.min.js"></script>
    <script type="text/javascript">
      $(function () {
          $('#id_rating').barrating();
          });
    </script>
</html>
