<div id="fixed">
    <div id="mess_profile">
        <div id="messmenu">
            <img src="{{ IMAGES_URL }}messmenu.gif"/>
        </div>
        <div id="profile">
            <div class="roundedcornr_box_440398">
                <div class="roundedcornr_top_440398">
                    <div></div>
                </div>
                <div class="roundedcornr_content_440398">
                <div id="prof">
                    <b>Welcome</b><br/>
                    {{ request.user.person.name }}
                    <br/><br/>
                    {% if request.user.person.designation == 'student' %}
                        <b>My Bhawan</b>
                        <br/>
                        {% if request.user.person.bhawan and request.user.person.bhawan != 'NA' %}
                            {{ request.user.person.bhawan }}
                        {% else %}
                            <a href="{% url utilities.views.edit_profile %}" target="blank" class="selbh">
                                select bhawan
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if request.user.person.designation == 'faculty' %}
                        {{ request.user.person.designation }}
                    {% endif %}


                </div>
                <div id="photo">
                    <img src='/photo/' id='photo' />
                    {# <div class='photoerr'><br/>Couldn't process the photo</div> #}
                </div>
                </div>
                <div class="roundedcornr_bottom_440398">
                    <div></div>
                </div>
            </div>
        </div>
    </div>


    <div id="ml_facts">
        <div id="ml">
            <div id="mlleftgap"></div>
            <div id="mainlinks">
                <div id="mltext" class="mlfont">
                    <b>
                    <a href="/" class="mlfont">Channel I</a>
                    &nbsp;| &nbsp;
                    <a href="http://www.iitr.ac.in" class="mlfont">IITR Home</a>
                    &nbsp;| &nbsp;
                    <a href="/logout/" class="mlfont">Logout</a>
                    </b>
                </div>
                <div id="mlbottom">
                  <img src="{{ IMAGES_URL }}mainlinks.gif"/>
                </div>
            </div>
        </div>
        <div id="facts">
            <div id="middlefacts">
                <div id="foodgyan">Food Gyan</div>
                <div id="mainfacts">
                    <div id="head_text">
                        <div id="heading">
                            {{ food_fact.head }}
                        </div>
                        <div id="text">
                            {{ food_fact.body }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

