{% extends "messmenu/base.html" %}

{% load mess_tags %}

{% block app_content %}
    {% block above_menu_table %}{% endblock %}

    <div id="menubox">
        <div id="menublankleftright"></div>
        <div id="menublank">
            <div id="menu">
                <table id="tablemess">
                    <tr>
                        <td class="blankcell"></td>                            
                        <th>MON<br/><font class="dated"> ({{ date|get_date_2:0 }})</font></th>
                        <th>TUE<br/><font class="dated"> ({{ date|get_date_2:1 }})</font></th>
                        <th>WED<br/><font class="dated"> ({{ date|get_date_2:2 }})</font></th>
                        <th>THU<br/><font class="dated"> ({{ date|get_date_2:3 }})</font></th>
                        <th>FRI<br/><font class="dated"> ({{ date|get_date_2:4 }})</font></th>
                        <th>SAT<br/><font class="dated"> ({{ date|get_date_2:5 }})</font></th>
                        <th>SUN<br/><font class="dated"> ({{ date|get_date_2:6 }})</font></th>
                    </tr>
                    <tr>
                        <td class="timecell">
                            <div><font class="rotate">Breakfast</div>
                        </td>
                        {% block time_of_day_1 %}
                        {% endblock %}
                    </tr>
                    <tr>
                        <td class="timecell">
                            <div><font class="rotate">Lunch</font></div>
                        </td>
                        {% block time_of_day_2 %}
                        {% endblock %}
                    <tr>
                        <td class="timecell">
                            <div><font class="rotate">Dinner</font></div>
                        </td>
                        {% block time_of_day_3 %}
                        {% endblock %}
                    </tr>
                </table>
            </div>
        </div>
        <div id="menublankleftright"></div>
        <div id="menubottom">
            <img src="{{ IMAGES_URL }}messbox_bl.gif" style="float:left"/>
            <img src="{{ IMAGES_URL }}messbox_br.gif" style="float:right"/>
        </div>
    </div>

    {% block below_menu_table %}{% endblock %}
{% endblock %}
