#content
{
  min-width:500px;
}

#content-top-bar
{
  top:180px;
}

.sub-header
{
  margin-bottom:20px;
  height:50px;
  line-height:60px;
  border-bottom:1px solid #eee;
  font-family:"Tahoma","Myriad Pro";
  font-size:14px;
  color:#dd4b39;
}

#content-top-space
{
  height:70px;
}

#set-head
{
  margin-left:10px;
}

#right-column
{ display:none;
}

.on-off-button
{
  position:relative;
  top:17px;
  left:20px;      
}  
