.session
{
  margin-left: 10px;
  font: 13px "Tahoma";
  padding-bottom: 10px;
  width: 408px;
}
.session a
{
  float: right;
  color: #0072dc;
  text-decoration: none;
}
.session-data
{
  float: left;
  clear: both;
}
.empty-msg
{
  line-height: 60px;
  font-family: "Tahoma","Myriad Pro";
  font-size: 20px;
  color: #c2c2c2;
  padding-top: 30px;
  text-align: center;
}
