.from_date
{
  width:85px;
  margin-bottom: 10px;
}
.to_date
{
  width:85px;
}
.submit
{
  box-shadow: none;
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #309bff;
  border-radius: 2px;
  font-family: 'Arial';
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  padding: 1px 8px;
  margin-left:10px;
  text-align: center;

}
.datediv
{
  float:right;
}
.readonly-input{
color: gray!important;
}
