<link rel="stylesheet" href="{{ STATIC_URL }}css/events/events.css" />

<div id="events-main">
  Upcoming Events
	<div id="events_today">
    	<span>Today</span><span class="divider"></span><br />
        <div class="choices"><label><input type="checkbox" /><span>Drams Play</span></label> <span class="time"> 6:30 pm</span></div> <div class="clearfix"></div>
        <div class="choices"><label><input type="checkbox" /><span>Last date for Registration</span></label><span class="time"> 6:30 pm</span></div>
    </div>
    <br /><br />
    <div class="clearfix"></div>
	<div id="events_week">
    	<span>This week</span><span class="divider"></span><br />
        <div class="choices"><label><input type="checkbox" /><span>Drams Play</span></label> <span class="time"> 6:30 pm</span></div> <div class="clearfix"></div>
        <div class="choices"><label><input type="checkbox" /><span>Drams Play</span></label><span class="time"> 6:30 pm</span></div>
    </div>
</div>
