{% extends "base_old.html" %}

{% block header %}
<div id="common-content">
  <div id="profile_pic">
    {% block profile_pic %}
    <img src="{{ STATIC_URL }}images/default_profile_pic.jpg">
    {% endblock %}
    <map name="profile_update">
      <area shape="rect" coords="22,136,111,150" href="/profile/" />
    </map>
  </div>
  <div id="main_menu">
    <nav id="cen_menu">
      <li><img src="{{ STATIC_URL }}images/menu1.jpg"></li>
      <li><img src="{{ STATIC_URL }}images/menu1.jpg"></li>
      <li><img src="{{ STATIC_URL }}images/menu1.jpg"></li>
      <li><img src="{{ STATIC_URL }}images/menu1.jpg"></li>
      <li><img src="{{ STATIC_URL }}images/menu1.jpg"></li>
      <li class="last_icon"><img src="{{ STATIC_URL }}images/menu1.jpg"></li>
    </nav>
  </div>
  <div id="feeds"></div>
</div>
{% endblock %}

{% block left_sidebar %}
  <!--
      <nav id="menus">
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
        <li><img src="img/icon_menu.jpg">CAMPUS CONNECT</li>
      </nav>-->

   <ul id="main_header_ul">
    <li class="content"><a href="/">Home</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/regol/">Regol</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/placement/">Placement Online</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/facapp/">Facapp</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/jukebox/">Jukebox</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/internship/">Internship Online</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/friends/">Friends</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/ebooks/">Ebooks</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/tracker/">Bug Tracker</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="http://192.168.121.147:8000/shoutbox/">Shoutbox</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/groups/">Groups</a></li>
    <li class="gap">|</li>
    <li class="content"><a href="/logout/">Logout</a></li>
</ul>
{% endblock %}  {# End left_sidebar block #}

{% block app_content %}
  <p></p>
  {% for feed in feeds %}
  <b>{{feed.app_verbose_name}}</b><br>{{feed.content|safe}}<br><br>
  {% endfor%}
{% endblock app_content %}

{% block content_right %}

<!-- this content is to be displayed for main channeli only 
     <div class="right_box">
       <div class="head">BirthDays</div>
       <div class="content">as;lgmjfdslgnj</div>
     </div>
     -->

{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $("#profile_pic img").attr("usemap","#profile_update");
</script>
{% endblock %}
