{% extends "base.html" %}

{% block global_header %}
  {% include 'global_header.html' with name=request.session.person.name %}
{% endblock global_header %}

{% block left_sidebar %}
<div id="content_left">
  <!--======================= Tabs are starting here ===================================-->
	<!--=======================   Experiment Ground    ===================================-->
  <nav id="content_left_tabs" class="tabs_nav">
    <ul>
      <a href="#tab1"><li><img src="{{ STATIC_URL }}images/tab_header_img_game.png"></li></a>
      <a href="#tab2"><li><img src="{{ STATIC_URL }}images/tab_header_img_game.png"></li></a>
      <a href="#tab3"><li><img src="{{ STATIC_URL }}images/tab_header_img_game.png"></li></a>
      <a href="#tab4"><li><img src="{{ STATIC_URL }}images/tab_header_img_game.png"></li></a>
    </ul>
  </nav>
  <br />
  <div class="clear:both"></div>
  <section class="tab" id="tab1">
    <nav id="menus">
      {% block app_menu %} 
      <a href="/groups/">
        <li><img src="{{ STATIC_URL }}images/icon_menu.jpg">Home</li>
      </a>
      {% endblock app_menu %}
    </nav>
  </section>

  <section class="tab" id="tab2">
    <p>Section number 2</p>
  </section>

  <section class="tab" id="tab3">
    <p>Section number 3</p>
  </section>

  <section class="tab" id="tab4">
    <p>Section number 4</p>
  </section>

</div>

{% endblock left_sidebar %}

{% block app_content %}
<h3>  {{ request.user.username }} </h3>
      <a href={% url groups.views.group_info group.id %}>
        <li><img src="{{ STATIC_URL }}images/icon_menu.jpg">Group Details</li>
      </a>
      <a href={% url groups.views.group_edit group.id %}>
        <li><img src="{{ STATIC_URL }}images/icon_menu.jpg">Edit</li>
      </a>    {% endblock app_content %}

{% block content_right %}
  {% include 'nucleus/events.html' %}
  <br/><br/>
  {% include 'nucleus/online_poll.html' %}

{% endblock content_right %}

