<link rel="stylesheet" href="css/OnlinePoll.css" />
	<div id="OnlinePoll">
    Online Poll
    <form>
    	<div id="question">
        	Who is the most famous Indian
        </div>
        <div id="choices" class="choices">
        <fieldset>
        	<label><input type="radio" /><span>Mahatma Gandhi</span></label><br />
            <label><input type="radio" /><span>Jawaharlal Nehru</span></label><br />
      		<label><input type="radio" /><span>Lal bahadur</span></label><br />
            <label><input type="radio" /><span>Lal bahadur</span></label><br />
        </fieldset>
        </div>
        <div class="clearfix"></div>
        <div id="buttons">
			<span><a href="#">View Results</a></span> <button class="bluebutton">Submit</button>

        </div>
        <div class="clearfix"></div>
        </form>
    </div>
  <br/>
