{#% extends "nucleus/home.html" %#}
{#% load tags %#}

{% block active-home %}{% endblock %}

{% block tab_initial %}groups{% endblock %}

{% block app_scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/groups/subscribe.js"></script>
  <script type='text/javascript'>
    $('body').ready(function(){
      $('#content').pickify_users();
    });  
  </script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/groups/groups.css"/>
{% endblock %}


{% block horizontal_tabs_block %}
{% endblock %}
{% block content %}
{% if error_msg %}
  {{error_msg}}
{% else %}  
  <div id="groups-header">
    <img id="groups-profile-pic" src="/photo/{{username}}/"/>
    <div id="groups-details">
      <div id="groups-name">{{group.name}}</div>
      <div class="groups-people">
        <div class="subscribers-number">{{subscribers}}</div>
        <div class="people-type">Subscribers</div>
      </div>
      <div class="groups-people">
        <div class="people-number">{{count}}</div>
        <div class="people-type">Members</div>
      </div>
    </div>
    <div>
      {% if group.is_active %}
        {% if subscribed %}
          <div id='subscribe-button' class="div-button" onclick="subscribe('{{username}}','{{subscribed}}');">Unsubscribe</div>
        {% else %} 
          <div id='subscribe-button' class="div-button" onclick="subscribe('{{username}}','{{subscribed}}');">Subscribe</div>
        {% endif %}  
      {% endif %}
    </div>
    {% block edit-member %}
    {% endblock %}
    {% block add-event %}
    {% endblock %}  
  </div>
  <div id="content-top-bar">
    <div class="content-tab {% block about-tab-class %}{% endblock %}" onclick="location ='/groups/{{username}}/'">About</div>
    <div class="content-tab {% block activity-tab-class %}{% endblock %}" onclick="location ='/groups/{{username}}/activity/'">Activity</div>
    <div class="content-tab {% block members-tab-class %}{% endblock %}" onclick="location ='/groups/{{username}}/members/'">Members</div>
    <div class="content-tab {% block events-tab-class %}{% endblock %}" onclick="location ='/groups/{{username}}/events/'">Events</div>
    {% if can_edit %}
      <div class="content-tab {% block edit-tab-class %}{% endblock %}" onclick="location = '/groups/{{group.user.username}}/edit'">Edit</div>
    {% endif %}  
  </div>
  <div id="groups-container">
    <div id="groups-empty-div"></div>
    <div id="groups-content">
     {% block group_content %}
     {% endblock group_content %}   
    </div>
  </div>
  <div style="clear:both"></div>
{% endif %}
{% endblock %}


