{% extends "groups/base.html" %}

{% block events-tab-class %}content-tab-active{% endblock%}

{% block app_styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nucleus/events.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/source/jquery.fancybox.css"/>
{% endblock %}

{% block app_scripts %}
  {{ block.super }}
  <script type='text/javascript'>
    var calendar_name = '{{ username }}';
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/jquery.fancybox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/nucleus/events.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/groups/events.js"></script>
{% endblock %}

{% block edit-member %}
{% endblock %}

{% block group_content %}
  <div class="app-heading"> {{ group.nickname }} Events </div>
  <div id="events"></div>
  <script type="text/javascript">
    update_events('first');
  </script>
{% endblock group_content %}
