{% extends "groups/base.html" %}

{% block events-tab-class %}content-tab-active{% endblock%}

{% block app_styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nucleus/events.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/source/jquery.fancybox.css"/>
{% endblock %}

{% block app_scripts %}
  {{ block.super }}
  <script type='text/javascript'>
    var calendar_name = '{{ username }}';
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/jquery.fancybox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/nucleus/events.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/groups/events.js"></script>
{% endblock %}

{% block edit-member %}
  {% if can_edit %}
    <div class="edit-member">
      <div class="div-button" id="add-event-button" onclick="add_event();">Add Event</div>
    </div> 
  {% endif %}
{% endblock %}

{% block group_content %}
  <div id="events"></div>
{% endblock group_content %}
