{% extends "groups/base.html" %}

{% block members-tab-class %}content-tab-active{% endblock%}

{% block group_content %}      
    <div class="groups-info">
      <div class="groups-about-content">
        {% for members in membership %}
          <div class="member-tab">
            <div class="member-tab-pic">
              <img src="/photo/{{members.student.user}}/" class='member-pic'>
            </div>
            <div class="member-tab-info">
              <div class="member-tab-person">  
                {{members.student.user.html_name}}
              </div>
              <div class="member-tab-post">  
                {{members.post}}
              </div>
            </div>  
          </div>
        {% endfor %}
        <div class="clear-both"></div>
      </div>
    </div>
{% endblock group_content %}
