{% extends "groups/base.html" %}

{% block app_content %}
{% if error_msg %}
{{ error_msg }}
{% endif %}
  <h3>{{ group.name }} &nbsp;
  {% if is_admin %}
  <a href={% url groups.views.group_edit group.id %}>[Edit]</a>
  {% endif %}</h3>
  <br /><i>{{ group.description }}</i><br /><br /><br />
  <br />Coordinator: {{ group.admin.name }}
  {% if group.website %} <br /><br /><a target="_blank" href='{{ group.website }}'>Visit the website</a> {% endif %}
  <br /><br /><br />
  Members:
  <ul>
    {% for member in members %}
    <li>{{ member.name }} {% if is_admin %} <a href="javascript:null()" onclick="switchMemberStatus('{{ group.id }}', '{{ member.user.username }}', this)">Delete</a>  {% endif %}</li>
    {% endfor %}
  </ul>

{% if events %}
<h4>Upcoming Events</h4>
<ul>
{% for event in events %}
<li>{{ event.title }}</li>
{% endfor %}
</ul>
{% endif %}

{% if is_admin %}

<a href='/cal/add/add/'>Add an Event</a>

<script type="text/javascript" src="{{ STATIC_URL }}js/groups/switchMembership.js"></script>
{% endif %}
{% endblock app_content %}
