{% extends "groups/base.html" %}
{% load tags %}
{% load macros %}

{% block edit-tab-class %}content-tab-active{% endblock%}

{% block app_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/utilities/edit_profile.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/custom-jquery-ui.css"/>

{% endblock %}

{% block app_scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/groups/subscribe.js"></script>
  <script type="text/javascript">
    function iframe(url){
      dialog_iframe({
        name:'Edit',  
        title:'Edit Member Details',
        width:800,
        height:500,
        src:url,
      });
    }  
  </script>
{% endblock %}
{% block group_content %}
  {% if form1.errors or form2.errors %}
  <div class="errors">  
    <p style = "color: red;">
      Please Correct the error below.
    </p>
  </div>  
  {% endif %}
  <form action = "" method = "post" >
    {% csrf_token %}
    <div class="edit-categories">
      {% macro editable_field_div field %}
        <div class="edit-row">  
          {{field.errors}} 
          <div class="field-label-big">{{field.label}}</div>
          <div class="field">{{field}}</div>
        </div>
      {% endmacro %}
      {% usemacro editable_field_div form1.name %}
      {% usemacro editable_field_div form1.nickname %}
      {% usemacro editable_field_div form1.website %}
      {% usemacro editable_field_div form1.description %}
      {% usemacro editable_field_div form2.mission %}
      {% usemacro editable_field_div form2.founding_year %}
      {% usemacro editable_field_div form2.phone_no %}
      {% usemacro editable_field_div form2.email %}  
      <input class="input-button" type = "submit" name ="submit_button" value = "Save Changes">
      <input class="input-button" type="button" name="reset" value="Reset" onclick="location='';">
    </div>
    {% if not is_active %}
    <div class="activate">
      <div class="activate-msg">
        <p>
          This group is not visible to others because it is not activated. You must activate it in order to make it visible to other people.
          But remember, once activated it can't be deactivated.
        </p>
      </div>
      <div class="activate-link">
        <a href="/groups/{{group.user.username}}/activate/">Activate now</a>  
      </div>
    </div>
    {% endif %}  
  </form>
{% endblock group_content %}
{% block edit-member %}
<div class="edit-member">
  <div class="button2 button-div" onclick="edit_profile_pic('{{group.user.username}}');">Edit Group Logo</div>
</div>
<div class="edit-member">
  <div class="button2 button-div" onclick="iframe('/groups/{{group.user.username}}/add_member/');">Edit Members </div> 
</div> 
{% endblock %}
