{% extends "nucleus/home.html" %}
{% load tags %}
{% block app_scripts %}
{% endblock %}
{% block app_styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/groups/groups.css"/>
{% endblock %}


{% block horizontal_tabs_block %}
{% endblock %}
{% block content %}
<div id="groups-header">
  <div id="groups-profile-pic"></div>
  <div id="groups-details">
    <div id="groups-name">Information Management Group</div>
    <div class="groups-people">
      <div class="people-number">540</div>
      <div class="people-type">Subscribers</div>
    </div>
    <div class="groups-people">
      <div class="people-number">45</div>
      <div class="people-type">Members</div>
    </div>
  </div>
  <div id='subscribe-button' class="button1">Subscribe</div>
</div>
<div id="groups-nav-bar">
  <div class="content-tabs">About</div>
  <div class="content-tabs">Events</div>
</div>
<div id="groups-container">
  <div id="groups-empty-div"></div>
  <div id="groups-content">
    <div class="groups-info">
        <div class="content-title">About</div>
        <div class="content-information">
          IMG (Information Management Group) is a student's group in IIT Roorkee responsible for development and maintenence of internet
          and intranet applications in the institute, including the website of IIT Roorkee.
         </div>
    </div>
    <div class="groups-info">
      <div class="content-title">Mission</div>
      <div class="content-information">
        To set up a robust and effective information base in IIT Roorkee."At IMG, we strive to lead in the invention , development and
        maintenance of advanced information technologies, including computer systems, software and data-base systems.
      </div>
     </div>
     <div class="groups-info">
        <div class="content-title">Basic Info</div>
        <div class="content-information">
          <div class="content-specification">
              <div class="left-field">Founded</div>
              <div class="right-field">2001</div>
          </div>
          <div class="content-specification">
              <div class="left-field">Coordinator</div>
              <div class="right-field">Virendra Jain</div>
          </div>
        </div>
     </div>
     <div class="groups-info">
        <div class="content-title">Contact Info</div>
        <div class="content-information">
          <div class="content-specification">
              <div class="left-field">Phone</div>
              <div class="right-field">01332284521</div>
          </div>
          <div class="content-specification">
              <div class="left-field">E-mail</div>
              <div class="right-field"><a href="">img@iitr.ernet.in</a></div>
          </div>
          <div class="content-specification">
              <div class="left-field">Website</div>
              <div class="right-field-website" class="right-field"><a href="">www.facebook.com/IMGIITRoorkee</a></div>
          </div>
         </div>
      </div>
            

  </div>
  <div id="groups-right-column">
    <div class="groups-right-content">
      <div class="right-content-title">Upcoming Events</div>
      <div class="right-content-information">
          <div class="event-box">
              <div class="event-name">IMG Introtalk for 1st year</div>
              <div class="event-date"><span class="date">Oct 25</span> at <span class="time">6:00pm</span></div>
          </div>
      </div>
     </div>
 </div> 
</div>

{% endblock %}

