{% extends "base.html" %}
{% load tags %}
{% load macros %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/groups/groups.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/custom-jquery-ui.css"/>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/include.js"></script>
  <script type="text/javascript">
    function iframe(url){
      dialog_iframe({
        name:'Edit',  
        title:'Edit Member Details',
        width:800,
        height:500,
        src:url,
      });
    }  
  </script>
  
{% endblock %}


{% block body %}


{% if error_msg %}
  {{error_msg}}
{% else %}

  <div class="gtabbox">
    <div class="gtab-name">
      <a href='/#groups/{{group.user.username}}/add_member/'>Add a Member</a>
    </div>
  </div>
  <div class="gtabbox">
    <div class="gtab-name">
      <a href='JavaScript:void(0);' onclick="iframe('/#groups/{{group.user.username}}/add_multiple_member/');">Add Multiple Members</a>
    </div>
  </div>
  <div class="gtabbox">
    <div class="gtab-name">
      <a href='JavaScript:void(0);' onclick="iframe('/#groups/{{group.user.username}}/delete_member/');">Delete Members</a>
    </div>
  </div>
  <div class="gtabbox">
    <div class="gtab-name">
      <a href='JavaScript:void(0);' onclick="iframe('/#groups/{{group.user.username}}/add_post/');">Add a Post</a>
    </div>
  </div>
  <div class="gtabbox">
    <div class="gtab-name">
      <a href='JavaScript:void(0);' onclick="iframe('/#groups/{{group.user.username}}/delete_post/');">Delete Posts</a>
    </div>
  </div>
  <div class="gtabbox">
    <div class="gtab-name">
      <a href='JavaScript:void(0);' onclick="iframe('/#groups/{{group.user.username}}/change_posts/');">Change Post</a>
    </div>
  </div>
  <div class="gtabbox">
    <div class="gtab-name">
      <a href='JavaScript:void(0);' onclick="iframe('/#groups/{{group.user.username}}/admin_change/');">Change Admin</a>
    </div>
  </div>
  
{% endif %}

{% endblock %}

