{% extends "dialog_base.html" %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nucleus/style.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nucleus/fonts.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/groups/groups.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/custom-jquery-ui.css"/>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  parent.display_messages({{django_messages}});
</script>
{% endblock %}

{% block body %}
  {% if error_msg %}
    {{error_msg}}
  {% else %}

  <div class="body-content">
    <div class="left-content">
      <div class="gtabbox {% block gtab_add_member %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/add_member/'>Add a Member</a>
        </div>
      </div>
      <div class="gtabbox {% block gtab_add_multiple_member %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/add_multiple_member/'>Add Multiple Members</a>
        </div>
      </div>
      <div class="gtabbox {% block gtab_delete_member %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/delete_member/'>Delete Members</a>
        </div>
      </div>
      <div class="gtabbox {% block gtab_add_post %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/add_post/'>Add a Post</a>
        </div>
      </div>
      <div class="gtabbox {% block gtab_delete_post %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/delete_post/'>Delete Posts</a>
        </div>
      </div>
      <div class="gtabbox {% block gtab_change_post %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/change_post/'>Change Post</a>
        </div>
      </div>
      <div class="gtabbox {% block gtab_admin_change %}{% endblock %}">
        <div class="gtab-name">
          <a href='/groups/{{group.user.username}}/admin_change/'>{% if group.admin %}Change{% else %}Add{% endif%} Admin</a>
        </div>
      </div>
    </div>
    <div class="right-content">
      {% block right_content %}
      {% endblock %}  
    </div>
    <div style="clear:both;"></div>  
  </div>
  {% endif %}
{% endblock %}

