<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Add Coordinator
    </title>
    <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/placement/enscroll-0.5.5.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/placement/custom-ui.js"></script>

<script>

(function($) {
 $(window).load(function() {
   $('.ui-autocomplete').enscroll({
      verticalTrackClass: 'track3',
      verticalHandleClass: 'handle3',
      addPaddingToPane: false,
      pollChanges: true
    });
   });
 })(jQuery);

$('body').ready(function(){
    $('#id_person').autocomplete({
  source:'/placement/contact_manager/person_search/',
  select: function( event, ui ) {
  $('#enroll').val(ui.item.id);
  },
  minLength:3
});
});
</script>
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css">
 
  </head>

  <body>
    <h3><center> Add Company Coordinator </center></h3>
    <form  action="" method="post">
     {% csrf_token %}
       <div id="searchbox" align="center">
       Person Search:
        {{ form.student }}
        {{ form.enroll }}
        <input type="submit" value="Add"/>
        </div>
  </body>
</html>
