{% extends "placement/base.html" %}

{% block app_styles %}

    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-timepicker.css">
    <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}jquery/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}jquery/jquery-timepicker.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">

<style>
  .header_text
  {
    font-size:20px;
  }
</style>

{% endblock %}

{% block app_content %}

{% if message %}
  {{message}}
{% else %}

<h1> Slots </h1>
<table class="table table-striped table-bordered table-condensed" id="t1">
  <thead>
    <tr>
      <th>S. No.</th>
      <th>Slot Start Time</th>
      <th>Slot End Time</th>
      <th>Choice</th>
    </tr>
  </thead>
  <tbody>
  {% for slot in slots %}
  {% comment %}
    {% with start_date=slot.start_date|date %}
      <li>
          {% for l in dates %}
             {% if l == start_date %}
               {{l}}
            {% endif %}
          {% endfor %}
  {% endcomment %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ slot.start_date }}</td>
      <td>{{ slot.end_date }}</td>
      <td><a href="{% url 'placement.views_slots.view_slot' slot.id %}"><span class='icon icon-pencil' id='edit' style='cursor:pointer;'></span></a></td>
    </tr>
  {% comment %}  {% endwith %} {%endcomment %}
  {% endfor %}
  </tbody>
  </table>
</ul>
{% endif %}
{% endblock %}
