{% extends "placement/nucleus/base_old.html" %}

{% block title %}Placement Online{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/placement/styles.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/placement/tabs.js"></script>
{% endblock %}  {# End styles block #}


{% block profile_pic %}
<img src="{% url 'placement.media.photo' %}"/>
{% endblock %}  {# End profile_pic block #}
{% block header_text %}
Placement Online
{% endblock %}

{% block header_links %}
<div id="header_app_links">
  <nav>
    {% for group in user.groups.all %}
      {% if group.name == 'Student' %}
      <a href="{% url 'placement.views.index' %}">Home</a>
      &nbsp;|&nbsp;
      {% endif %}

      {% if group.name == 'Placement Verify' %}
      <a href="{% url 'placement.views_verify.index' %}">Home (Verify)</a>
      &nbsp;|&nbsp;
      {% endif %}

      {% if group.name == 'Placement Admin' %}
      <a href="{% url 'placement.views_company.admin_list' %}">Home (Admin)</a>
      &nbsp;|&nbsp;
      {% endif %}

      {% if group.name == 'Placement Department' %}
      <a href="{% url 'placement.views.index' %}">Home (Department)</a>
      &nbsp;|&nbsp;
      {% endif %}

      {% if group.name == 'Placement Manager' %}
{% comment %}      <a href="{% url 'placement.views_img.placement_manager_view' %}" target=blank >Placement Manager</a>  {% endcomment %}
      &nbsp;|&nbsp;
      {% endif %}

      {% if group.name == 'Company Coordinator' %}
{% comment %}      <a href="{% url 'placement.views_img.company_coordinator_view' %}" target=blank>Company Coordinator</a>  {% endcomment %}
      &nbsp;|&nbsp;
      {% endif %}


      {% endfor %} {# End user.groups.all for #}

      <a href="{% url 'internship.views.index' %}">Internship Online</a>
      &nbsp;|&nbsp;
      <a href="{% url 'nucleus.views.logout' %}">Logout</a>
  </nav>
</div>
{% endblock %}  {# End header_links block #}

{% block left_sidebar %}
<div id="content_left">
  {% for group in user.groups.all %}
  {% if group.name == 'Student' %}
  <nav id="content_left_tabs" class="tabs_nav">
    <ul>
      <a href="#tab1"><li id="tab_1_heading">Information</li></a>
      <a href="#tab2"><li id="tab_2_heading">Extras</li></a>
    </ul>
  </nav>
  {% endif %}
  {% endfor %}
  <br />
  <div class="clear:both"></div>
  <div id="tab_links">
    <section class="tab" id="tab1">
      <nav id="menus">
        {% block tab_1 %}
        {% for group in user.groups.all %}
        <ul>
          {% if group.name == 'Student' %}

          <a href="{% url 'placement.views.index' %}">
            <li id="home_li">Home</li>
          </a>
          {% if user.student.placementperson.status != 'VRF' and user.student.placementperson.status != 'LCK' %}
          <a href="{% url 'placement.views_profiles.personal_information' %}">
            <li id="personal_information_li">Personal Information</li>
          </a>
          {% endif %}

          <a href="{% url 'placement.views_profiles.photo' %}">
            <li id="photo_li">Update Photo</li>
          </a>

          <a href="{% url 'placement.views_profiles.educational_details' %}" >
            <li id="educational_details_li">Educational Details </li>
          </a>

          <a href="{% url 'placement.views_profiles.contact' %}" >
            <li id="contact_li">Contact Details </li>
          </a>

          <a href="{% url 'placement.views_profiles.placement_information' %}" >
            <li id="placement_information_li">Placement Information</li>
          </a>

          <a href="{% url 'placement.views_profiles.editset' 'internship_information' %}" >
            <li id="internship_information_li">Internship Information</li>
          </a>

          <a href="{% url 'placement.views_profiles.editset' 'extra_curriculars' %}" >
            <li id="extra_curriculars_li">Extra Curriculars</li>
          </a>

          <a href="{% url 'placement.views_profiles.editset' 'languages_known' %}" >
            <li id="languages_known_li">Languages Known</li>
          </a>

          <a href="{% url 'placement.views_profiles.editset' 'job_experiences' %}" >
            <li id="job_experiences_li">Job Experiences</li>
          </a>

          <a href="{% url 'placement.views_profiles.editset' 'project_information' %}" >
            <li id="project_information_li">Project Information</li>
          </a>

          <a href="{% url 'placement.views_profiles.editset' 'research_publications' %}" >
            <li id="research_publications_li">Research Publications</li>
          </a>
          {% endif %}

          {% if group.name == 'Placement Verify' %}
          <a href="{% url 'placement.views.index' %}">
            <li id="home_li">Home</li>
          </a>

          <a href="{% url 'placement.views_verify.branch_list' %}" >
            <li id="branches_li">Branches</li>
          </a>

          <a href="{% url 'placement.views_verify.department_list' %}" >
            <li id="branches_li">Departments</li>
          </a>
          {% endif %}

          {% if group.name == 'Placement Admin' %}
          <a href="{% url 'placement.views.index' %}">
            <li id="home_li">Home</li>
          </a>

          <a href="{% url 'placement.views_admin.notice_upload' %}" >
            <li id="upload_form_li">Upload Form</li>
          </a>

          <a href="{% url 'placement.views_admin.branch_details' %}" >
            <li id="student_details_li">Student Details</li>
          </a>

          <a href="{% url 'placement.views_slots.create_slot' %}" >
            <li id="create_slot_li">Create Slot</li>
          </a>

          <a href="{% url 'placement.views_admin.insert_shortlist' %}" >
            <li id="create_slot_li">Update Shortlist</li>
          </a>

          <a href="{% url 'placement.views_admin.cpt' %}" >
            <li id="cpt_members_li">CPT Members</li>
          </a>

          <a href="{% url 'placement.views_admin.second_round' %}" >
            <li id="second_round_li">Second Round</li>
          </a>

          <a href="{% url 'placement.views_admin.notices' %}" >
            <li id="forms_li">Forms</li>
          </a>

          <a href="{% url 'placement.views_results.discipline_list' %}" >
            <li id="results_li">Results</li>
          </a>

          <a href="{% url 'placement.views.forum' 'T' %}" >
            <li id="technical_forum_li">Technical Forum</li>
          </a>

          <a href="{% url 'placement.views.forum' 'P' %}" >
            <li id="placement_forum_li">Placement Forum</li>
          </a>

          <a href="{% url 'placement.views_feedback.index' %}" >
            <li id="feedbacks_li">Feedbacks</li>
          </a>

          <a href="{% url 'placement.views_admin.downloads' %}" >
            <li id="download_statistics_li">Download Statistics</li>
          </a>

          {% endif %}

          {% if group.name == 'Placement Department' %}
          <a href="{% url 'placement.views.index' %}">
            <li id="home_li">Home</li>
          </a>

          <a href="{% url 'placement.views_results.department' %}" >
            <li id="all_departments_li">All Departments</li>
          </a>

          {% endif %}

          {% if group.name == 'IMG Admin' %}
          <a href="{% url 'placement.views_img.update_status' %}" >
            <li id="update_status_li">Update Status</li>
          </a>
          <a href="{% url 'placement.views_img.generate_registration_no' %}" >
            <li id="generate_registration_no_li">Generate Registration no</li>
          </a>
          {% endif %}

        </ul>
        {% endfor %} {# {% for group in user.groups.all %} #}
        {% endblock %}  {# End tab_1 block #}
      </nav>
    </section>

    <section class="tab" id="tab2">
      <nav id="menus">
        {% block tab_2 %}
        {% for group in user.groups.all %}
        <ul>
          {% if group.name == 'Student' %}
          
          <a href="{% url 'placement.views_company.list' %}" >
            <li id="company_list_li">Company List</li>
          </a>

          {% if user.student.placementperson.status == 'VRF' %}

          <a href="{% url 'placement.views_slots.view_all_slots' %}" >
            <li id="view_slots_li">Company Slot</li>
          </a>

          {% endif %}

          <a href="{% url 'placement.views_results.discipline_list' %}" >
            <li id="results_li">Results</li>
          </a>

          <a href="{% url 'placement.views_admin.notices' %}" >
            <li id="forms_li">Forms</li>
          </a>

          <a href="/placement/sample/resumes/" >
            <li id="sample_resume_li">Sample Resumes</li>
          </a>

          <a href="{{ STATIC_URL }}placement/sample/papers.zip" >
            <li id="sample_papers_li">Sample Papers</li>
          </a>

          <a href="{% url 'placement.views.forum' 'T' %}" >
            <li id="technical_forum_li">Technical Forum</li>
          </a>

          <a href="{% url 'placement.views.forum' 'P' %}" >
            <li id="placement_forum_li">Placement Forum</li>
          </a>

          <a href="/placement/FAQ/" >
            <li id="faq_li">FAQ</li>
          </a>
          
{% comment %}<!--          <a href="/placement/mynewsstudio/" >
            <li id="faq_li">MyNewsStudio</li>
          </a>
-->{% endcomment %}

          <a href="{% url 'placement.views_feedback.index' %}" >
            <li id="feedbacks_li">Feedbacks</li>
          </a>
          {% endif %}

        </ul>
        {% endfor %} {# {% for group in user.groups.all %} #}
        {% endblock %}  {# End tab_2 block #}

      </nav>
    </section>
  </div>
</div>

{% endblock %}  {# End left_sidebar block #}
