{% extends "placement/base.html" %}

{% block app_content %}
<h3>All Branches</h3>
<hr/>
<table class="sortable table table-striped table-bordered table-condensed" id="t1">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Department</th>
      <th>Discipline</th>
      <th>Degree</th>
    </tr>
  </thead>
  <tbody>

    {% for branch in branches %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ branch.get_department_display }}</td>
      <td>
        <a href="{% url placement.views_admin.branch_details branch.code %}">
          {{ branch.code }} - {{ branch.name }}
        </a>
      </td>
      <td>
        {{ branch.get_degree_display }}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
