<!DOCTYPE HTML>
{% load kwacros %}
<html>
  <head>
    <title>
      Company Coordinator
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/jquery.dataTables.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/dataTables.bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/placement.manager.css" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/placement/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/placement/dataTables.bootstrap.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <div class="tittle">
          <h2 >Company Coordinator</h2>
        </div>
        <div class="links">
          <div class="sub-links">
            <a href="/" target="_blank">Channel-i</a>
          </div>
          <div class="sub-links">
            <a href="/placement/" target="_blank">Placement Online</a>
          </div>
          <div class="sub-links">
            <a href="/logout" target="_blank">Logout</a>
          </div>
        </div>
      </div>
      <div class="right-div">
                <h4>
                  <a href="{% url 'placement.views_img.company_coordinator_today_view' %}"
                    target="_blank">Contact(s) due today</a>
                </h4>
      </div>
      <div id="companies">
        <table id ="company"class="table table-striped table-bordered compact">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Cluster</th>
              <th>Contact Person</th>
              <th>Designation</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Status</th>
              <th>Last Contact</th>
              <th>Person in Contact</th>
              <th>Comments</th>
              <th>When to contact</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/placement/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/placement/dataTables.bootstrap.js"></script>
  <script type="text/javascript">
    if (!String.prototype.format) {
      String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
               return typeof args[number] != 'undefined'
                                  ? args[number]
                                  : match
                           ;
                    });
                  };
    }

    $(document).ready( function() {
        var dataset ={{ contactperson_data|safe }};
        $('#company').DataTable( {
                          "data": dataset,
                          stateSave: true,
                          "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                           {
                                 $('td:eq(11)', nRow).html( " <div class='glyphs'>\
                                                              <div class='glyph'>\
                                                              <a href='/placement/contact_manager/edit/{0}/'>\
                                                              <span class='icon icon-pencil'></span></a>\
                                                              </div>\
                                                              </div>".format(aData[11]));
                                 $('td:eq(12)', nRow).html( " <div class='glyphs'>\
                                                              <div class='glyph'>\
                                                              <a>\
                                                              <span id='remove' style='cursor:pointer;' onclick='confirmfn({0})' class='icon icon-remove'></span></a>\
                                                              </div>\
                                                              </div>".format(aData[12]));
 
                           }
                          }
                        });
       });
</script>
<script>
function confirmfn(id){
  var a = confirm("Are you sure?");
  if (a==true){window.location='/placement/contact_manager/remove/{0}'.format(id)}
}
</script>

  </script>
</html>
