{% extends "placement/base.html" %}

{% block app_content %}

<h3>Feedback for {{ company.name }}({{ session }})</h3>
<hr/>
{% if feedbacks %}
<table class="sortable table table-striped table-bordered table-condensed" id="t1">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Submitted By</th>
      <th>Branch</th>
      <th>Placed in</th>
      <th>Date</th>
      <th>View</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>

    {% for feedback,placed_companies in feedbacks %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ feedback.person.name }}</td>
      <td>{{ feedback.person.branch.name }}</td>
      <td>{{ placed_companies }}</td>
      <td>{{ feedback.date }}</td>
      <td>
        <a href="javascript:void(0);" onclick="javascript:toggleFeedbackView({{ feedback.id }});">
          View
        </a>
      </td>
      <td>
        <a href="{% url placement.views_feedback.as_pdf feedback.id %}">
          <button style="width:66px;">
            <div class="text">
              PDF
            </div>
            <div class="image"><img src="{{ STATIC_URL }}images/arrow_down.png" /></div>
          </button>
        </a>
      </td>
    </tr>
    <tr style="display:none" class="feedback_html" id="feedback_html_{{ feedback.id }}">
      <td></td>
      <td colspan="6" class="feedback_data">{{ feedback.feedback|safe }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<script type="text/javascript">
  function toggleFeedbackView(id) {
    $("#feedback_html_"+id).toggle();
  }
</script>
{% else %}
No feedback to show !
{% endif %}
{% endblock %}
