{% extends "placement/base.html" %}

{% block app_content %}

<h3>Companies</h3>
<hr/>
{% if plac_person.status == 'VRF' %}
<div class="tabbable" id="company_list_switch">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#apply_for_placement" data-toggle="tab">
        Apply for placement
      </a>
    </li>
    <li>
      <a href="#all_companies" data-toggle="tab">
        All Companies
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="apply_for_placement" class="tab-pane active">
      <table class="sortable table table-striped table-bordered table-condensed" id="t1">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Company</th>
            <th>Category</th>
            <th>Last Date for Applying</th>
            <th>Company Open to</th>
            <th>Application</th>
            <th>Resume</th>
          </tr>
        </thead>
        <tbody>
          {% for company,status in avl_company_status_map %} 

          
          <tr class="{{ status|lower }}">
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{% url 'placement.views_company.info' company.id %}">{{ company.name }}</a>
            </td>
            <td>{{ company.category }}</td>
            <td>{{ company.last_date_of_applying|default:'-' }}</td>
            <td>
              <a href="{% url 'placement.views_company.open_to' company.id %}">View</a>
            </td>
            <td>
              {% if status == 'NAP' %}
              <a href="javascript:void();" onclick="javascript:switchApplicationStatus({{ company.id }}, this);">Apply</a>
              {% endif %}
              {% if status == 'APP' %}
              <a href="javascript:void();" onclick="javascript:switchApplicationStatus({{ company.id }}, this);">Withdraw</a>
              {% endif %}
              {% if status == 'FIN' %}
              Applied
              {% endif %}
              {% if status == 'SEL' %}
              Selected
              {% endif %}
            </td>
            <td>
              <a href="{% url 'placement.media.submitted_resume' company.id %}" id="resumelink{{ company.id }}"
                 {% if status == 'NOT' or status == 'NAP' %} style="visibility:hidden;" {% endif %}>
                <button>
                  <div class="text">
                    Resume
                  </div>
                  <div class="image"><img src="{{ STATIC_URL }}images/arrow_down.png" /></div>
                </button>
              </a>
            </td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
    </div>
<!--   <button id="#helptext" onclick="showhelp()">What's this?</button> -->
{% endif %}
    <div id="all_companies" class="tab-pane">
      <table class="sortable table table-striped table-bordered table-condensed" id="t2">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Company</th>
            <th>Category</th>
            <th>Last Date for Applying</th>
            <th>Company Open to</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for company,status in company_status_map %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{% url 'placement.views_company.info' company.id %}">{{ company.name }}</a>
            </td>
            <td>{{ company.category }}</td>
            <td>{{ company.last_date_of_applying|default:'-' }}</td>
            <td>
              <a href="{% url 'placement.views_company.open_to' company.id %}">View</a>
            </td>
            <td>{{ company.get_status_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% if plac_person.status == 'VRF' %}
  </div>
</div>
{% endif %}
<div class="popup" id="application_status_change_alert" title="Application status update" style="display:none;">
  <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  <span id="application_status_message"></span>
</div>
{% endblock %}

{% block app_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/placement/application_switch.js"></script>
<script type="text/javascript">
 function showhelp()
    {
      alert("help");
    }
    
</script>
{% endblock %}

