{% extends "placement/base.html" %}

{% block app_content %}

<div id='forum_header'>
{% if forum_type == 'T' %}
<h1>Technical Forum</h1>
{% else %}
<h1>Placement Forum</h1>
{% endif %}
</div>

<script Language="JavaScript">
 
function Blank_TextField_Validator()
{
  
  // Check the value of the element named text_name from the form named text_form
  if (document.newforumpost.title.value == "")
  {
      // If null display and alert box
       alert("Please fill in the Question before submitting.");
         // Place the cursor on the field for revision
       document.newforumpost.title.focus();
            // return false to stop further processing
       return (false);
  }
  // If text_name is not null continue processing
  return (true);
}
</script>
<script Language="JavaScript">
function Blank_TextField_Validator_new()
{
//alert(document.getElementById('content').value+"hey");  

  // Check the value of the element named text_name from the form named text_form
  if (document.getElementById('content').value === "")
  {
      
    // If null display and alert box
       alert("An empty reply cannot be posted");
         // Place the cursor on the field for revision
         //  document.forumreply.replycontent.focus();
         // return false to stop further processing
             return (false);
  }
  // If text_name is not null continue processing
  return (true);
}


</script>


<!-- New ForumPost form -->
<div id='forum_ask'>
<form name="newforumpost" method="POST" action="{% url 'placement.views.forum_post' %}" onsubmit="return Blank_TextField_Validator()">
  {% csrf_token %}
  
{# <textarea id="id_forum_title" name="title" placeholder="Question." rows="2"></textarea> #}
  <input type='text' class='forum_input' id='id_forum_title' name='title' placeholder='Question.' />
  <br/>
  
{#  <input type="text" id="id_forum_content" name="content" placeholder="Description."> #}
  <textarea class='forum_input' id="id_forum_content" name="content" placeholder="Description." rows="2"></textarea>
  <input type="hidden" name="forum_type" value="{{ forum_type }}"/>
  <input id='forum_submit_button' type="submit" value="Post Question" class="btn btn-primary"/>
</form>
</div>
{% if request.user %}
{% endif %}

{% if posts %}
  {% for post,replies in posts %}
  <div class='forum_unit'>
    <div class='forum_question'>
      {{ post.title }}
    </div >
    
    <div class='forum_question_content'>
    {% if post.content %}
      {{ post.content }}
    <hr /> 
    {% endif %} 
    <span class='forum_light'>{{ post.person_name }} | {{ post.date }}</span>
    </div>

  {% if replies %}
    {% for reply in replies %}
    <div class='forum_reply'>
      {{ reply.content }}
      <hr />
      <span class='forum_light'>{{ reply.person_name }} | {{ reply.date }}</span>
    </div>
    {% endfor %}
  {% endif %}

  <!-- ForumReply form -->
  {% if request.user %}
  <a href="javascript:void();" onclick="javascript:switchReplyStatus({{ post.id }});"><button id="forum_reply_post_button" class="btn btn-primary"><span id="ReplyLink{{ post.id }}">Reply</span></button></a>
  <form method="POST" id="ForumReply{{ post.id }}" style="display:none;" name="forumreply" onsubmit="return Blank_TextField_Validator_new()">
    {% csrf_token %}
    <textarea class="forum_input" name="content" id="content"></textarea>
    <input type="hidden" name="post_id" value="{{ post.id }}"/>
    <br/>
    <input type="submit" value="Reply" class="btn btn-primary"/>
  </form>
  {% endif %}
  </div>
  {% endfor %}
{% endif %}
<!-- Paging -->

<div class="pagination">
<ul>
{% for page in pages %}
{% if page_no == page %}
<li class="disabled"><a href="{% url 'placement.views.forum' forum_type page %}">{{ page }}</a></li>
{% else %}
<li><a href="{% url 'placement.views.forum' forum_type page %}">{{ page }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<script type="text/javascript">
  function switchReplyStatus(id) {
    status = document.getElementById('ReplyLink'+id).innerHTML;
    if(status == 'Reply') {
      document.getElementById('ForumReply'+id).style.display = 'block';
      document.getElementById('ReplyLink'+id).innerHTML = 'Cancel';
    } else {
      document.getElementById('ForumReply'+id).style.display = 'none';
      document.getElementById('ReplyLink'+id).innerHTML = 'Reply';
    }
  }
</script>

{% endblock %}
