{% extends "placement/base.html" %}

{% block app_content %}

{% if title %}
<h3>{{ title }}</h3>
<hr/>
{% endif %}

{% if form.forms %}

{% if editables %}

{% if form.is_multipart %}
<form action="{{ action }}" method="POST" name="{{ name|default:'generic_form' }}" enctype="multipart/form-data">
{% else %}
<form action="{{ action }}" method="POST" name="{{ name|default:'generic_form' }}">
{% endif %}

{% csrf_token %}
{{ form.management_form }}
{% endif %} {# if editables #}

<style type="text/css">
  select { width:40px; }
</style>

<table class="sortable table table-striped table-bordered table-condensed" id="t1">
  <thead>
    <tr>
      <th>S.No.</th>

      {% with form|first as headers %}
      {% for field in headers.visible_fields %}
      <th>{{ field.label }}</th>
      {% endfor %}
      {% endwith %}

    </tr>
  </thead>
  {% load filters %}

  <tbody>
    {% for row in form %}
    <tr>
      <td>{{ forloop.counter }}</td>
      {{ row.id }}

      {% for field in row.visible_fields %}
      {% if field.name in editables %}
      <td>{{ field }}</td>
      {% else %}
      <td>{{ field|get_display }}</td>
      {% endif %}
      {% endfor %} {# for field in row.visible_fields #}

    </tr>
    {% endfor %} {# for row in form #}

  </tbody>
</table>

{% if editables %}
<div class='submit_button' id='{{ name|default:"generic_form" }}_submit'>
  <input type="submit" class="btn btn-primary" value="{{ submit|default:'Submit' }}"/>
</div>
</form>
{% endif %}

{% else %}
No information filled by you.
{% endif %} {# if form #}
{% endblock %}
