{% extends "placement/base.html" %}

{% block app_content %}
<div style="margin: 20px;">
<h3>MyNewsStudio</h3>
<hr />
Use MyNewsStudio to create your personal news channel by customizing news feeds from a huge selection of topics and sources!<br />
The main features of MyNewsStudio are:
<ol>
<li><strong>News Aggregation:</strong> The application is primarily a news aggregator which allows the student to custom create his/her personalized news feed from over 200 major news related websites, newspapers, magazines and blogs. The clean design of the application makes reading fast and efficient.</li>
<li><strong>NewsGraphs<sup>TM</sup>:</strong> NewsGraphs<sup>TM</sup> are our trademarked info-graphics used to present complex news topics in a visually rich format; which helps in quick review of the information and data.</li>
<li><strong>Shared Reading List:</strong> Using this feature, an administrator is able to share his/her reading list with all the students.</li>
<li><strong>Glossary of terms:</strong> We have a glossary of major economic terms; seamlessly integrated in the application itself.</li>
</ol>
<iframe style="margin:20px 175px; width:420px; height:315px;" src="http://www.youtube.com/embed/13G9r_pf1lU" frameborder="0" allowfullscreen></iframe>
<strong>How to register?</strong><br />
A person with iitr.ernet.in can directly access all the premium services. You only need to register using your IITR webmail id and subsequent to your registration, a verification mail is sent on the registered id. Go to <a href="http://www.mynewsstudio.com/">My News Studio</a>
</div>

{% endblock app_content %}
