{% extends "placement/base.html" %}

{% block app_content %}
<h3>Forms</h3>
<hr/>
<style type="text/css">
  .form_link { text-decoration : none; }


</style>
{% if notices %}

<table class="sortable table table-striped table-bordered table-condensed" id="t1">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Form</th>
      <th>Upload time</th>
    </tr>
  </thead>
  <tbody>

    {% for notice in notices %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a class="form_link" href="{{ notice.notice.url }}">{{ notice.filename }}</a>
      </td>
    <td>{{ notice.date_of_upload }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% else %}
  No Forms Have been uploaded
{% endif %}
<!-- paging -->
{% for page in pages %}
{% if page == page_no %}
{{ page }}
{% else %}
<a href="{% url placement.views_admin.notices page %}">{{ page }}</a>
{% endif %}
{% endfor %}
{% endblock %}
