<!DOCTYPE HTML>
{% extends "placement/nucleus/base_old.html" %}
{% load kwacros %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/input_styles.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/placement.manager.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/dataTables.bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/jquery.dataTables.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
{% endblock %}
{% block body %}
<div class="content">
      <div class="header">
        <div class="tittle">
          <center>
          <h4>Cluster: {{ company.cluster }}</h4>
          <h4>Status: {{ company.status }}</h4>
          </center>
        </div>
      </div>
      {% for contactperson in contactpersons %}
        <div style="display:inline-block;width:45%;margin-left:10px;margin-right:10px;float:left;">
        <table class="table table-striped table-bordered display">
          <tr>
            <th colspan="2"><center>{{ contactperson.name }}</center></th>
          </tr>
          <tr>
            <td>Designation:</td>
            <td>{{ contactperson.designation }}</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>{{ contactperson.phone_no }}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{ contactperson.email }}</td>
          </tr>
          <tr>
            <td>Primary:</td>
            <td>{{ contactperson.is_primary }}</td>
          </tr>
          <tr>
            <td>Assigned to:</td>
            <td>{{ contactperson.campuscontact.student.user.name }}</td>
          </tr>
          <tr>
            <td>Last Contact:</td>
            <td>{{ contactperson.campuscontact.last_contact }}</td>
          </tr>
          <tr>
            <td>When to Contact:</td>
            <td>{{ contactperson.campuscontact.when_to_contact }}</td>
          </tr>
{% if contactperson.campuscontact.companycontactcomments %}
          <tr>
            <td>Comments:</td>
            <td>
              <table>
                <tr>
                  <th>Date:</th>
                  <th>Comment</th>
                </tr>
            {% for comment in contactperson.campuscontact.companycontactcomments %}
                <tr>
                  <td>{{ comment.date_created }}</td>
                  <td>{{ comment.comment }}</td>
                </tr>
            {% endfor %}
              </table>
            </td>
          </tr>
{% endif %}
        </table>
        </div>
      {% endfor %}

{% endblock %}
