<!DOCTYPE HTML>
{% extends "placement/nucleus/base_old.html" %}
{% load kwacros %}
{% block title %}
      Contact Manager
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/input_styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/dataTables.bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/jquery.dataTables.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/placement/placement.manager.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/custom.css">
{% endblock %}
{% block body %}
<div class="content">
      <div class="header">
        <div class="tittle">
          <h2 >Contact Manager</h2>
        </div>
        <div class="links">
          <div class="sub-links">
            <a href="{% url 'nucleus.views.index' %}" target="_blank">Channel-i</a>
          </div>
          <div class="sub-links">
            <a href="{% url 'placement.views.index' %}" target="_blank">Placement Online</a>
          </div>
          <div class="sub-links">
            <a href = "{% url 'placement.views_img.add_company_coordinator' %}" target="_blank">Add Company Coordinator</a>
          </div>
          <div class="sub-links">
            <a href="/logout" target="_blank">Logout</a>
          </div>
        </div>
      </div>
      <div class="exporter">

{% comment %}        <form class="form" enctype="multipart/form-data" method="post" action="{% url 'placement.views_img.generate_company_contact_xls' %}">
              {% csrf_token %}
              <button class="btn btn-primary" type="submit">Export</button>
        </form>  {% endcomment %}
      </div>
       {% if messages %}
       {% for message in messages %}
       {% if message.tags == 'form_error error' %}
         {# As form errors already have html p tag and class='error_field', we need to do this. #}
         {% autoescape off %}
           {{ message|safe }}
         {% endautoescape %}
       {% else %}
         {# For those messages that have a tag, the tag name equals the class name. #}
         {% if message.tags %}
           <p class="{{ message.tags }}">{{ message|safe }}</p>
         {% else %}
           {# For those messages that don't have a tag, class name is 'unknown_message'. #}
           <p class="unknown_message">{{ message|safe }}</p>
         {% endif %}
       {% endif %}
       {% endfor %}  {# End message for #}
       {% endif %}  {# End messages if #}

      <div class="uploader">
        <table class="table">
          <tr class="row">
            <td class="col-md-6">
              <div class="left-div">
                <form class="form" enctype="multipart/form-data" method="post"  action="{% url 'placement.views_img.placement_manager_view' %}" >
                  {% csrf_token %}
                  {% kwacro editable_field_div field %}
                    <div class="edit-row">
                      <div class="dabba">
                        {{field.errors}}
                        <div class="field">{{field}}</div>
                      </div>
                    </div>
                  {% endkwacro %}
                  {% usekwacro editable_field_div excel_form.excel_file %}
                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </td>
            <td class="col-md-6">
              <div class="right-div">
                <h4>
                  <a onclick=open_frame('Edit&nbsp;Company','{% url 'placement.views_img.add_company_manual' %}',800)>Enter company manually</a>
                </h4>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div id="companies">
        <form class="form" enctype="multipart/form-data" method="post" action="{% url 'placement.views_img.assign_campus_contact' %}">
        {% csrf_token %}
        <table id ="company" class="table table-striped table-bordered display compact">
          <thead>
            <tr>
              <th>Select</th>
              <th>Company Name</th>
              <th>Cluster</th>
              <th>Contact Person</th>
              <th>Designation</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Status</th>
              <th>Last Contact</th>
              <th>Person in Contact</th>
              <th>Comments</th>
              <th>When to Contact</th>
              <th>No. of Contact Persons</th>
              <th>Edit Comments</th>
              <th>Edit Company</th>
              <th>Remove</th>
            </tr>
          </thead>
         <tbody>
          <h5> Assign Company Coordinator</h5>
            {{ assign_form.company_coordinator }}<br/>
            <button class="btn btn-primary" type="submit">Assign</button>
            </tbody>
        </table>
      </form>
      </div>
    </div>
{% endblock %} {# Body #}
{% block app_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/placement/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/placement/jquery.leanModal.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/placement/dataTables.bootstrap.js"></script>
  <script type="text/javascript">

    if (!String.prototype.format) {
      String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
               return typeof args[number] != 'undefined'
                                  ? args[number]
                                  : match
                           ;
                    });
                  };
    }

    $(document).ready( function() {
        var dataset ={{ contactperson_data|safe }};
        $('#company').DataTable({
                          "data": dataset,
                          stateSave: true,
                          "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                 $('td:eq(0)', nRow).html("<input type='checkbox' class='largerCheckbox' name='assigns' value='{0}'/>".format(aData[0]));
                                 $('td:eq(1)', nRow).html("<a onclick=open_frame('{1}','/placement/contact_manager/details/{0}',800)>{1}</a>".format(aData[0],aData[1]));
                                 $('td:eq(10)', nRow).html("<a onclick=open_frame('Comments','/placement/contact_manager/edit/comments/{0}',800)>{1}</a>".format(aData[0],aData[10]));
                                 $('td:eq(13)', nRow).html( " <div class='glyphs'>\
                                                              <div class='glyph'>\
                                                              <a onclick=open_frame('Comments','/placement/contact_manager/edit/comments/{0}',800)>\
                                                              <span class='icon icon-pencil' id='edit'></span></a>\
                                                              </div>".format(aData[13]));
                                 $('td:eq(14)', nRow).html( " <div class='glyphs'>\
                                                              <div class='glyph'>\
                                                              <a onclick=open_frame('Edit&nbsp;Company','/placement/contact_manager/edit/{0}/',800)>\
                                                              <span class='icon icon-pencil' id='edit'></span></a>\
                                                              </div>".format(aData[14]));
                                 $('td:eq(15)', nRow).html("  <div class='glyph'>\
                                                              <a><span class='icon icon-remove' id='remove' style='cursor:pointer;' onclick='confirmfn({0})'></span></a>\
                                                              </div>\
                                                              </div>".format(aData[15]));
                          },
                        }).columnFilter();
       });
</script>
<script type="text/javascript">
function confirmfn(id){
  var a = confirm("Are you sure?");
  if (a==true) {window.location="/placement/contact_manager/remove/{0}".format(id)}
}
</script>
<script>
function autoResize(obj){
  var newheight;
  var newwidth;
  if(document.getElementById){
    newheight=obj.contentWindow.document.body.scrollHeight;
    newwidth=obj.contentWindow.document.body.scrollWidth;
  }
  obj.height=(newheight) + "px";
  obj.width=(newwidth) + "px"; 
}

function resizeIframe(obj) {
  obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}

function dialog_iframe(data){
    var $dialog;
    try {
        $dialog = eval(data.name);
    }catch(e){}

    if(!$dialog){
      var height,margin;
      var related_window_height = $(window).height();
      related_window_height -= (1-data.height/related_window_height)*150;
      if(related_window_height > data.height){
        height = data.height;
        margin = (related_window_height-height)/2;
      }
      else{
        margin = 50;
        height = $(window).height()-2*margin;
      }
      $('body').append("<div id='"+data.name+"-div'></div>");
      dialog_options = {
        autoOpen: false,
        dialogClass: 'dialog-class',
        title: data.title,
        position: ['center',margin],
        width: data.width,
        height: height,
        draggable: false,
        resizable: false,
        sticky: true,
        close: function(event, ui){
          eval('delete '+data.name);
          $('#'+data.name+'-div').remove();
          },
        open: function(event, ui){
          $('#'+data.name+'-div').html(""+
            "<iframe id='"+data.name+"-iframe' src='"+data.src+
            "' width='100%' height='98%' frameborder=0 onload='javascript:autoResize(this);'></iframe>"
          );
        }
      };
      if('close' in data)
        dialog_options.beforeClose = data.close;
      $dialog = $('#'+data.name+'-div')
                .html('<p>Loading...</p>')
                .dialog(dialog_options);
    }
    $('.dialog-class').css({position:'fixed'});
    $dialog.dialog('open');
    eval(data.name+'=$dialog;');
    current_dialog = $dialog;
}

function open_frame(company_name,url,width){
  dialog_iframe({
  name: 'company_details_dialog',
  title: company_name,
  width: width,
  src: url
  });
}

function close_dialog(dialog_name){
  eval(dialog_name).dialog('close');
    current_dialog = null;
}
</script>
{% endblock %} {# Scripts #}
