<!DOCTYPE HTML>
{% load macros %}
<html>
  <head>
    <title>
      Contact manager
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL}}css/placement/placement.manager.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/nucleus/style.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(function() {
      $( "#id_when_to_contact" ).datepicker({ dateFormat: "dd-mm-yy" }).val();
     });
  </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="tittle">
          <h2 >Contact Manager</h2>
        </div>
        <div class="links">
          <div class="sub-links">
            <a href="/placement/contact_manager" >Back</a>
          </div>
          <div class="sub-links">
            <a href="/" target="_blank">Channel-i</a>
          </div>
          <div class="sub-links">
            <a href="/placement/" target="_blank">Placement Online</a>
          </div>
          <div class="sub-links">
            <a href="/logout" target="_blank">Logout</a>
          </div>
        </div>
      </div>
      <div class="manual-form">
        <form method="post" action="">{% csrf_token %}
          {% macro editable_field_div field %}
            <div class="edit-row">
              <div class="dabba">
                {{field.errors}}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                       <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field-label-big">{{field.label}}</div>
                <div class="field">{{field}}</div>
              </div>
            </div>
          {% endmacro %}
          {% usemacro editable_field_div companyform.company_name %}
          {% usemacro editable_field_div contactpersonform.contact_person %}
          {% usemacro editable_field_div contactpersonform.designation %}
          {% usemacro editable_field_div contactpersonform.phone_no %}
          {% usemacro editable_field_div contactpersonform.email %}
          {% usemacro editable_field_div companyform.last_contact %}
          {% usemacro editable_field_div companyform.cluster %}
          {% usemacro editable_field_div companyform.status %}
          {% usemacro editable_field_div companyform.person_in_contact %}
          {% usemacro editable_field_div companyform.comments %}
          {% usemacro editable_field_div companyform.when_to_contact %}
          {% for  group in user.groups.all %}
            {% if group.name == 'Placement Manager' %}
                {% usemacro editable_field_div assignform.company_coordinator %}
            {% endif %}
          {% endfor %}

          <div class="edit-row">
            <div class="dabba">
              <div class="field-label-big">Change Last Contact</div>
                <div class="field">
                  <input type="checkbox" name="changelastcontact" value="1" checked />
                </div>
            </div>
          </div>
          <div class="dabba">
            <input class="input-button" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
   </body>
</html>
