{% extends "placement/base.html" %}

{% block app_content %}
<h3>Departments for verification</h3>
<hr/>
<p>
  List of all unverified students is available
  <a href="{% url placement.views_verify.unverified_list %}">
    here
  </a>
</p>

<ul class="nav nav-tabs">
  <li>
    <a href={% url placement.views_verify.branch_list %}>Branchwise</a>
  </li>
  <li class="active">
    <a href="#">Departmentwise</a>
  </li>
</ul>

<table class="sortable table table-striped table-bordered table-condensed" id="t1">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Department</th>
      <th>Verify</th>
      <th>Unverify</th>
      <th>Unlock</th>
      <th>Re-Verify</th>
      <th style="width:105px;">Verified students</th>
    </tr>
  </thead>
  <tbody>

    {% for id, name in departments %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ name }}</td>
      <td><a href="{% url placement.views_verify.verify_department 'verify' id %}">Verify</a></td>
      <td><a href="{% url placement.views_verify.verify_department 'unverify' id %}">Unverify</a></td>
      <td><a href="{% url placement.views_verify.verify_department 'unlock' id %}">Unlock</a></td>
      <td><a href="{% url placement.views_verify.verify_department 'reverify' id %}">Re-Verify</a></td>
      <td><a href="{% url placement.views_verify.verify_department 'verified' id %}">Verified Students</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
