@import '../base'

body
  overflow-y: scroll

$background-color: #edeef3

#header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  height: 40px
  line-height: 40px
  background-color: $white
  box-shadow: rgba(0,0,0,0.1) 0px 0px 15px

  #loading-div
    position: fixed
    top: 0px
    left: 50%
    margin-left: -50px
    height: 32px
    z-index: 150
    div
      margin: 3px auto
      height: 32px
      width: 32px
      background: url('/static/images/nucleus/loading.gif')
      text-align: center
      line-height: 40px

  #header-title
    float: left
    width: 110px
    margin-left: 24px
    font-size: 24px
    color: $blue-link
    font-family: 'Open Sans'
    //text-shadow: rgba(0,0,0,0.15) 1px 1px 2px

  #header-options
    float: right

    .header-option
      float: right
      margin-right: 20px
      text-decoration: none
      cursor: pointer

    #login.div-button
      margin-top: 7px

  #user-account
    float: right
    margin-right: 20px
    cursor: pointer

    #user-thumbnail
      float: right
      width: 25px
      height: 25px
      margin-top: 8px

      img
        width: auto
        height: 100%
        border-radius: 2px

  #user-name
    float: right
    font-size: 14px
    margin-right: 10px
    font-weight: bold
    color: #555

  #account-navigation
    position: fixed
    right: 10px
    top: 50px
    width: 150px
    line-height: normal
    background: $white
    border: 1px solid $border-gray
    border-radius: 2px
    display: none

    #navigation-options
      .navigation-option
        padding: 0px 10px
        height: 30px
        line-height: 30px
        cursor: pointer
        border-bottom: 1px solid $border-gray
        color: #555
        &:hover
          background: #fbfbfb
          color: $blue-link
      #logout
        border: 0px

#sidebar-tabs
  position: fixed
  top: 40px
  bottom: 0
  left: 0
  width: 150px
  z-index: 200
  //background: #3A3F51
  background: #292F42
  box-shadow: rgba(0,0,0,0.3) -3px 0px 6px inset

  .tab
    width: 125px
    padding: 12px 0px 12px 25px
    height: 20px
    line-height: 20px
    cursor: pointer
    color: #fff
    &:hover
      background-color: rgba(0, 0, 0, 0.3)

    .tab-icon
      width: 20px
      height: 20px
      i
        font-size: 18px

      .fa-home,
      .fa-calendar,
      .fa-group,
      .fa-comments,
      .fa-list-ul
        padding-top: 1px
      .fa-th-large
        padding-top: 2px

    .notices-tab-icon,
    .news-tab-icon
      margin-top: -2px
      i
        font-size: 25px
        margin-left: -3px

    .tab-name
      margin-left: 10px

  .active-tab
    background-color: rgba(0, 0, 0, 0.5)
    border-left: 2px solid $blue-link
    width: 125px
    padding: 12px 0px 12px 23px
    &:hover
      background-color: rgba(0, 0, 0, 0.5)

  #tab-arrow
    position: fixed
    top: 140px
    left: 140px
    width: 10px
    height: 20px
    padding: 12px 0px
    display: none

    div
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 10px 10px 0
      border-color: transparent $background-color transparent transparent

$footer-height: 40px

#container, #content-back, #header-search
  float: left
  min-width: 450px
  max-width: 700px
  width: 55%
  margin-left: 150px
  padding-left: 20px
  min-height: 100%

#container
  position: absolute

#content, #content-back
  margin-top: 40px
  padding-top: 10px

.large-width-content
  max-width: none !important
  width: 69.5% !important

#content
  padding-bottom: $footer-height + 20px
  min-height: 350px

#footer-container
  height: $footer-height - 11px
  position: absolute
  padding-top: 10px
  border-top: 1px solid $border-gray
  margin-top: 20px
  bottom: 0px
  left: 20px
  right: 0px

#header-search
  margin-left: 20px
  margin-left: 0px
  height: 100%

#global_search_bar
  float: left
  font-size: 15px
  width: 100%
  margin-top: 6px
  border-radius: 2px
  border: 1px solid #d5d5d5
  background-color: white
  box-shadow: inset 0px 1px 1px #eeeeee
  padding: 5px 10px
  outline: none
  color: #777

#free-area
  position: fixed
  top: 40px
  bottom: 0
  right: 0
  left: 0
  z-index: -50
  background: $background-color

  #content-back
    margin-top: 0
    padding-top: 0

  #right-column
    float: left
    height: 100%
    margin-left: 20px
    width: 220px
    z-index: 50
    //overflow-y: auto

  #chat-column
    position: absolute
    top: 0px
    right: 0px
    bottom: 0px
    width: 200px
    background-color: #fafafa
    border-left: 1px solid #d0d0d0

.appbox-container
  border-top: 1px solid #eee
  border-left: 1px solid #eee

.appbox
  width: 32%
  min-width: 210px
  border-bottom: 1px solid #eee
  border-right: 1px solid #eee
  overflow: hidden
  cursor: pointer
  background: $white
  float: left
  margin: 3px
  border: 1px solid #dddbdb
  box-shadow: rgba(0,0,0,0.05) 0 1px 1px

  .app-pic
    width: 34px
    height: 34px
    margin: 15px
    float: left
    background-size: 25px 25px

  .app-name
    float: left
    padding-left: 5px
    font-size: 13px
    color: #0072dc
    font-weight: bold
    line-height: 63px
    a
      text-decoration: none
      color: #0072dc
      &:visited, &:active
        color: #0072dc

.linkbox
  .app-name
    padding-left: 20px

.app-heading
  font-size: 14px
  font-family: $sans-serif
  font-weight: bold
  color: $red
  margin-top: 10px
  margin-bottom: 17px
  a
    color: $red

.online-users
  width: 200px
  padding-top: 5px

.online-user
  width: 200px
  padding: 5px 0px
  &:hover
    background-color: #f5f5f5

.ou-image img
  width: 25px
  height: 25px
  float: left
  margin-left: 10px
  margin-right: 5px
  border-radius: 2px

.ou-name
  width: 120px
  height: 20px
  line-height: 25px
  float: left
  overflow: hidden
  text-overflow: ellipsis

.ou-status
  width: 8px
  height: 8px
  float: right
  margin-right: 10px
  margin-top: 9px
  border-radius: 10px
  background-color: green

.search-box
  height: 25px
  width: 200px
  position: fixed
  bottom: 0px
  border-top: 1px solid #d0d0d0
  background-color: #f5f5f5

.chat-search-box
  width: 169px
  height: 25px
  float: left

.chat-search
  width: 159px
  height: 22px
  margin: 0px
  padding-left: 10px
  padding-top: 2px
  background-color: #f5f5f5
  border: 0px
  &:focus
    outline: none

.chat-settings-box
  width: 29px
  height: 30px
  box-sizing: border-box
  font-size: 18px
  padding: 2px 8px
  color: #555
  border-left: 1px solid #d0d0d0
  float: left
  cursor: pointer

.chat-boxes
  position: fixed
  display: block
  width: 100%
  height: 0px
  bottom: 0px
  right: 201px
  background-color: white
  //overflow: hidden

.chat-box
  width: 240px
  height: 300px
  display: block
  float: right
  margin-right: 10px
  margin-top: -301px
  background-color: white
  border: 1px solid #d0d0d0
  //border-bottom: 0px

.chat-box-header
  width: 240px
  height: 50px
  background: #D0D0D0

.chat-message-bar
  width: 240px
  height: 30px
  background: grey
  position: absolute
  bottom: 0px

.sub-heading
  margin-bottom: 20px
  height: 30px
  line-height: 30px
  border-bottom: 1px solid $border-gray
  font-size: 14px
  color: $red

.right-column-inner-div
  margin-top: 20px
  background: $white
  padding: 15px
  border: 1px solid $border-gray
  border-radius: 2px

#events-birthdays
  margin-top: 20px

.right-box
  margin-bottom: 10px
  background: $white
  border: 1px solid $border-gray
  border-radius: 2px
  display: none

  .right-content-title
    height: 16px
    padding: 8px 0 5px 10px
    font-size: 14px
    line-height: 16px
    color: #DD4B39
    border-bottom: 1px solid #eee
    background: $header-bg

  .right-content-information
    .event-box
      background-color: #ffffff
      border-bottom: 1px solid #eee
      padding: 5px 5px 5px 0
      cursor: pointer
      &:hover
        background: #fafaff
      .event-name1
        margin-left: 10px
        font-size: 12px
        line-height: 16px
        color: #0072dc

      .event-date1
        width: 180px
        margin-left: 10px
        font-size: 12px
        color: #6d6c6c
        line-height: 16px
        margin-top: 1px
        .date, .time
          color: #333333

  .right-content-see-more
    margin: 5px 10px
    span
      color: #0072DC
      cursor: pointer



#footer
  &, a
    color: #777
  a :hover
    text-decoration: underline
