@import '../base'

*
  margin: 0
  padding: 0
  font-family: 'Arial', sans-serif
  font-size: 13px

body
  overflow-y: scroll

#header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  height: 40px
  line-height: 40px
  background-color: $white
  box-shadow: 0px 0px 2px 1px #DDDDDD

  #header-title
    float: left
    margin-left: 10px
    font-size: 24px
    color: $blue-link

  #header-options
    float: right
    font-size: 14px

    .header-option
      float: right
      margin-right: 20px
      text-decoration: none
      cursor: pointer

  #user-account
    float: right
    margin-right: 20px

    #user-thumbnail
      float: right
      width: 25px
      height: 25px
      margin-left: 10px
      margin-top: 8px

      img
        width: auto
        height: 100%
        border-radius: 2px

    #user-name
      float: right
      font-size: 14px

#sidebar-tabs
  position: fixed
  top: 40px
  bottom: 0
  left: 0
  width: 120px
  z-index: 200
  background: #333

  .tab
    width: 108px
    padding: 10px 0px 10px 12px
    height: 20px
    line-height: 20px
    cursor: pointer
    color: #fff
    font-size: 14px
    &:hover
      background-color: rgba(0, 0, 0, 0.25)

    .tab-icon
      width: 20px
      height: 20px
      i
        font-size: 18px

      .fa-home,
      .fa-calendar,
      .fa-group,
      .fa-comments,
      .fa-list-ul
        padding-top: 1px
      .fa-th-large
        padding-top: 2px

    .notices-tab-icon,
    .news-tab-icon
      margin-top: -2px
      i
        font-size: 25px
        margin-left: -3px

    .tab-name
      margin-left: 10px

  .active-tab
    background-color: rgba(0, 0, 0, 0.45)
    border-left: 2px solid $blue-link
    width: 108px
    padding: 10px 0px 10px 10px
    &:hover
      background-color: rgba(0, 0, 0, 0.45)

  #tab-arrow
    position: fixed
    top: 140px
    left: 112px
    width: 10px
    height: 20px
    padding: 10px 0px
    display: none

    div
      width: 100%
      height: 20px
      background: url('/static/images/nucleus/css_sprites.png') -45px -70px

#content, #content-back
  float: left
  min-width: 450px
  max-width: 630px
  width: 48%
  margin-left: 120px
  padding-left: 20px
  margin-top: 40px
  padding-top: 10px
  height: 100%

.large-width-content
  max-width: 900px !important
  width: 62% !important

#header-search
  margin-left: 30px
  float: left
  min-width: 450px
  max-width: 630px
  width: 100%
  /* margin-left: 120px;
  /* padding-left: 20px;
  /* margin-top: 40px;
  /* padding-top: 10px;
  height: 100%

#global_search_bar
  float: left
  font-size: 15px
  width: 100%
  margin-top: 6px
  border-radius: 2px
  border: 1px solid #CCCCCC
  background-color: white
  box-shadow: inset 0px 1px 1px #eeeeee
  padding: 5px 10px
  outline: none
  color: #777

#free-area
  position: fixed
  top: 40px
  bottom: 0
  right: 0
  left: 0
  z-index: -50
  background: #eee

  #content-back
    margin-top: 0
    padding-top: 0

  #right-column
    float: left
    height: 100%
    margin-left: 20px
    width: 220px
    z-index: 50
    overflow-y: auto

.app-heading
  font-size: 14px
  font-family: $sans-serif
  font-weight: bold
  color: $red
  margin-top: 10px
  margin-bottom: 10px
