<!DOCTYPE html>
<html>
<head>
    <title>GATE 2016 : IITR IRS</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
  <script type='text/javascript' href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src = "{{ STATIC_URL }}js/jquery.min.js"></script>
  </head>
  <body>
  <div class='container'>
  <div class="well">
    <div>
      <div style="float:left; padding-left:290px;"><a href='/'>Channel I</a></div>
      <div style="float:left; padding-left:10px;"><a href='{% url 'nucleus.views.logout' %}'>Logout</a></div>
  </div>

  <br/><br/>
  You have succesfully filled your details required to act as Insitute Representative for GATE-JAM 2016. Click <a href="{% url 'gate.views.gate_print_pdf' %}">here</a> to print pdf of your details.
  </div>
  </div>

  </body>
  </html>
