<html>
<body style="font-size:14px;">
<table>
  <tr>
    <td style="width:25%"><img src="{{ STATIC_URL }}images/iitrlogo.jpg" style="width:60px; height:60px;"/></td>
    <td style="width:50%"><p style="text-align:center;">
          <b>INDIAN INSTITUTE OF TECHNOLOGY ROORKEE</b></p>
    </td>
    <td style="width:25%;"></td>
  </tr>
</table>
<p style="text-align:center">Willingness to act as Institue Represenative for GATE_JAM 2016</p>
<hr/>

<table padding=7>
  <tr>
    <td>Name:</td>
    <td> {{ person.name }}</td>
  </tr>

  <tr>
    <td>Designation:</td>
    <td> {{ designation }}</td>
    <td>Department:</td>
    <td> {{ department }}</td>
  </tr>
  <tr>
    <td>Mobile No:</td>
    <td>{{ mobile }}</td>
    <td>Email id: </td>
    <td>{{ email }}</td>
  </tr>
  <tr>
    <td>Grade Pay:</td>
    <td>{{ grade_pay }}</td>
    <td>Pay Band Basic</td>
    <td>{{ pay_band_basic }}</td>
  </tr>  
</table>
<p>Prefernce of examination weekends:</p>
<table>
  <tr>
    <td>Week_pref1: </td>
    <td>{{ week_pref1 }}</td>
  </tr>
  <tr>
    <td>Week_pref2: </td>
    <td>{{ week_pref2 }}</td>
  </tr>
</table>
<p>Preference of Cities"
<table>
  <tr>
    <td>City_pref1: </td>
    <td>{{ city_pref1 }}</td>
  </tr>
  <tr>
    <td>City_pref2: </td>
    <td>{{ city_pref2 }}</td>
  </tr>
  <tr>
    <td>City_pref3: </td>
    <td>{{ city_pref3 }}</td>
  </tr>
  <tr>
    <td>City_pref4: </td>
    <td>{{ city_pref4 }}</td>
  </tr>
  <tr>
    <td>City_pref5: </td>
    <td>{{ city_pref5 }}</td>
  </tr>
  <tr>
    <td>City_pref6: </td>
    <td>{{ city_pref6 }}</td>
  </tr>
</table>
<p>* WEEK 1 - January 31, 2016 - February 01, 2016</br>* WEEK 2 - February 07 - 08, 2016
</body>
</html>
