<head>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<script type='text/javascript' href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src = "{{ STATIC_URL }}jquery/jquery.min.js"></script>
{{ form.media }}
</head>
<body>
<div>
<form method='POST' class="form_itself" id="generic_form" name="generic_form">
{% csrf_token %}
{{ form.uniform }}
<div class='submit_button' id='{{ name|default:"generic_form" }}_submit'> 
  <input type='submit' value='{{ submit|default:"Submit" }}' class="btn btn-primary"/>
  &nbsp;&nbsp;
  <input type='button' value='Reset' onclick='clear_fields();' class="btn">
</div>
</div>
</form>
</body>
