{% extends "base.html" %}

{% block title %} Lost and Found {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/lostfound/general.css"/>
    {% block css %}
    {% endblock css %}
{% endblock styles %}

{% block body %}
<!--Container Begins-->
    <div id="container">
<!--Header Begins-->
       <div id="header">
        <div id="header_content">
          <a href="/lostfound/">
            <div id="logo">
              <div class="orange">l</div>
              <div class="grey" id="O1">o</div>
              <div class="orange">st</div>
              <div class="grey">&nbsp;and f</div>
              <div class="orange" id="O2">o</div>
              <div class="grey">und</div>
            </div>
          </a>
          <div id="topright_links">
            <div> <a href="/"> CHANNEL-I </a> </div>
            <div> <a href="http://www.iitr.ac.in/"> IITR HOME </a> </div>
            <div> <a href="/nucleus/logout/"> LOGOUT </a> </div>
          </div>
        </div>
      </div>
<!--Header Ends-->
<!--Navigation Bar begins-->
      <div id="navigation_bar">
        <div id="navigation_links">
          <a href="/lostfound/"> <div> HOME </div> </a>
          <a href="/lostfound/lost"> <div> REPORT LOST </div> </a>
          <a href="/lostfound/all/lost"> <div> ALL LOST ITEMS </div> </a>
          <a href="/lostfound/found"> <div> REPORT FOUND </div> </a>
          <a href="/lostfound/all/found"> <div> ALL FOUND ITEMS </div> </a>
         </div>
        <div id="search_box">
          <div name="search_box" id="adv_search_form">
            <img id="search_icon" src="{{STATIC_URL}}images/lostfound/search_icon.jpg"/>
            <input type="text" name="search_query" id="search_query" placeholder="Search"/>
            <input type="submit" name="Go" value="Go" id="submit_button" />
            <div id="adv_search">
              <br/>
              <input type="radio" name="categoryItem" value="lost" id="filter_lostitems" checked="checked"/>
              <label for="filter_lostitems">In Lost Items</label><br/>
              <input type="radio" name="categoryItem" value="found" id="filter_founditems"/>
              <label for="filter_founditems">In Found Items</label><br/>
              <br/>
            </div>
           </div>
        </div>
      </div>
<!--Navigation bar ends-->
      <div id="content_header">
        {% block content_header %}
        {% endblock content_header %}
      </div>
<!-- Main Content Begins-->
      <div id="main_content">
        <div id="messages">
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'form_error error' %}
            {# As form errors already have html p tag and class='error_field', we need to do this. #}
                {% autoescape off %}
                  {{ message|safe }}
                {% endautoescape %}
              {% else %}
            {# For those messages that have a tag, the tag name equals the class name. #}
                {% if message.tags %}
                  <p class="{{ message.tags }}">{{ message|safe }}</p>
                {% else %}
              {# For those messages that don't have a tag, class name is 'unknown_message'. #}
                  <p class="unknown_message">{{ message|safe }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}  {# End message for #}
          {% endif %}
        </div>
        {% block main_content %}
        {% endblock %}
      </div>
<!--Main Content Ends-->
<!--Footer begins-->
      <div id="footer">
        Credits: <a href="http://www.iitr.ac.in/IMG/">Information Management Group</a> &copy; {% now "Y" %}
      </div>
<!--Footer Ends-->
    </div>
<!--Container Ends-->
{% endblock body %}

{% block scripts %}
<!--Script Begins-->
    <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lostfound/general.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lostfound/search.js"></script>
    {% block script %}
    {% endblock script %}
<!--Script Ends-->
{% endblock scripts %}
