{% extends "news/base.html" %}

{% block search %}
  <form action="." method="GET">
    <input type="text" name="q" id="id_q" PLACEHOLDER="Search here..." />
    <input type="hidden" name="models" value="news.news" id="id_models_0"/>
    <input type="submit" value="Search"/>
  </form>
{% endblock %}

{% block main %}
 <div id="container">
 {% for pk,title,image_path,text,article_date,source in items %}    
    <div id="item_{{ pk }}" class="item">
        <div class="item_title">
          <span>
            <b>{{title}}</b>
          </span>
         <div clear="both"></div>
        </div>
        <div class="item_desc">
          {% if not image_path == "noimage" %}
            <img src="{{ MEDIA_URL }}news/{{ image_path }}">
          {% endif %}
          <span style="color:#394246;">
            <p> 
             {{ text }} 
            </p>
          </span>
        </div>
         <a class="item_link" href="/news/item/{{pk}}"> Read more</a>    <!--href="/news/item/{{pk}}" onclick = "show_item({{pk}});-->
        <div id="detail_tag">
          <p style="float:left;font-size:12px;">Source: <b>{{ source }}</b></p>
          <p style="float:left;color:grey;"><b>{{ article_date }}</b></p>
        </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}


