<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/news/base.css"> 

  <style type="text/css">
    #news_item{
      width:900px;
      padding:20px;
      float:left;
    } 
    #news_item_image{
      width:300px;
      align:left;
      float:left;
      margin:10px;
    }
    #related_news{
      width:400px;
      height:780px;
      position:fixed;
      right:10px;
      top:5px;
      border-left:1px;
      overflow-y:scroll;
    }
  </style>
</head>
<body>
  <div id="news_item" class="news_item">
   <div class="item_title" style="width:900px;"><b><h3> {{ title }} </h3></b>
    <span style="float:right;color:grey;"><b>Published_on:{{ article_date }} | source:{{ source }}</b></span>
   </div>
   <div style="clear:both;"></div>
    <div class="item_image"</div>
    <div class="item_content" style="padding:10px;">
      <img id="news_item_image" src="{{ MEDIA_URL }}news/{{ image }}">
      <p>{{content|safe}}</p>
    </div>
  </div>
  <div id="related_news">
  <h3>Related News:<h3>
  {% for item in related %}
    <div id="item_{{ item.pk }}" class="item">
        <div class="item_title">
          <span>
            <b>{{ item.title|safe|escape }}</b>
          </span>
         <div clear="both"></div>
        </div>
        <div class="item_desc">
          {% if not item.object.image_path == "noimage" %}
            <img src="{{ MEDIA_URL }}news/{{ item.object.image_path }}">
          {% endif %}
          <span style="color:#394246;">
            <p>
             {{ item.object.description_text|safe }}
            </p>
          </span>
        </div>
         <a class="item_link" href="/news/item/{{ item.pk }}"> Read more</a>    <!--href="/news/item/{{pk}}" onclick = "show_item({{pk}});-->
        <div id="detail_tag">
          <p style="float:left;font-size:12px;">Source: <b>{{ item.object.source }}</b></p>
          <p style="float:left;color:grey;"><b>{{ item.object.article_date }}</b></p>
        </div>
    </div>
  {% endfor %}
  </div>
  <!--div id="related_news">
    {% if related %}
      Related:
      <ul>
        {% for item in related %}
          <li><a href="/news/item/{{ item.pk }}"> {{ item.title }} </a> </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div-->
</body>
</html>
