{% extends "facapp/base.html" %}


<!------------------------------ the content block ------------------------------>

{% block content %}

    {{ user }}
    <br /><br />
                     <!-------------------------------- load the already saved sections ---------------------------->
    {% if sections %}
      {% for section in sections %}
        {{ section.title }}<br />
        <div contentEditable="true" id="{{ section.title }}">{{ section.content|safe }}</div>
        <button type="submit" ht="{{ section.title }}" onclick="return sendData(this);" class="btn btn-lg btn-succes" name="submit" >save</button><br /><br /><br />
      {% endfor %}
    {% endif %}
                      <!-------------------------------- show new requested sections -------------------------------->
    <div id="new_sections" ></div>

                      <!--------------------------------  load the new sections ------------------------------------>
    <a href="#" onclick="show_titles()" style="text-decoration:none" >new</a>
    <div id="titles_list" style="display:none" >
      {% for title in titles_list %}
        <div onclick="return get_fields(this)">{{ title }}</div>
      {% endfor %} 
    </div>


    <br /><br /><br />
{% endblock %}



<!----------------------------the scripting block-------------------------------->

{% block scripting %}
  <script type="text/javascript">

  function sendData(elem){
      var classy = $(elem).attr("ht");
      var inputs = {
          "title" : classy,
          "content" : $("#" + classy).html(),
      };
            $.ajax({
              data: inputs,
              dataType: 'html',
              type: "POST",
              url: "",
              success: function(data){
              $("#" + classy).html(data);
              console.log("success");
              }
            });
            return false;
  }

  </script>
  <script type="text/javascript">
  function show_titles(){
    $("#titles_list").css("display","block");
  }
  </script>
  <script type="text/javascript">
  function get_fields(elem){
    console.log("sent");
    title = $(elem).html();
    console.log(title);
    var inputs = {
      "title" : title,
    };
    $.ajax({
      data: inputs,
      datatype: 'html',
      type: "POST",
      url: "/facapp/fields/" + title + "/",
      success: function(data){
//        $("#new_sections").append(data);
        $("#new_sections").append(title + "<br />");
        $("#new_sections").append('<div id="' + title + '" contentEditable="true" ></div>');
        res = data.split(',');
        len = res.length-1;
        for(var i = 0; i < len ; i++)
        {
          field = res[i].split(':');
          $("#" + title ).append(field[0] + " dummy content <br />");
        }
//        $("#new_sections").append("</div>");
        $("#new_sections").append('<button ht="' + title + ' type="" name="">save</button> <br /><br />');
      }
    });
  }
  </script>
{% endblock %}
