{% extends "facapp/base.html" %}

{% block model_details %}
	    <li>Taught {{ l.class_name}} with {{ l.no_of_students }} students in semester {{ l.semester }}, course {{ l.title }}, course code {{ l.course_code}}
      for {{ l.lecture_hours }} lecture hour(s), {{ l.practical_hours }} practical hour(s) and {{ l.tutorial_hours }} tutorial hour(s). Priority : {{ l.priority }}</li>

{% endblock %}

{% block model_details_to_delete %}
	    Taught {{ model_to_delete.class_name}} in semester {{ model_to_delete.semester }}, course {{ model_to_delete.title }}, course code {{ model_to_delete.course_code}}
{% endblock %}
