{% extends "img_website/base.html" %}

{% block head %}
	<meta name="author" content="">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock head %}

{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}

{% block links %}
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/"> HOME </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/works/"> WORKS </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/blog/"> BLOG </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/about/"><span class="active"> ABOUT </span></a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/status/"> STATUS </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/team/"> TEAM </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/contact/"> CONTACT </a> </li>
{% endblock links %}

{% block body %}
	<!-- CONTENT: IMAGE AND QUOTE -->
	<div class="row content content2">

		<div class="row quote_container">
			<div class="container">
				<div class="row quote fadediv">
					<!--<div class="span10 offset1">
						<div class="quote1">

						</div>
					</div>-->

					<div class="span10 offset1">
						<div class="quote2">
							WE ARE A BUNCH OF PEOPLE
						</div>
					</div>

					<div class="span10 offset1">
						<div class="quote3">
							WHO WORK TOGETHER
						</div>
					</div>

					<div class="span10 offset1">
						<div class="quote4">
							TO MAKE STUFF SIMPLER
						</div>
					</div>
				</div>
			</div>


			<a href="#whoweare">
				<div class="downstrip">
					<div class="container">
						<div class="row">
							<div class="span1 arrow offset6"> <img src="{{ STATIC_URL }}images/img_website/arrow.png" /> </div>
							<div class="span2 offset2 arrow">  </div>
						</div>
					</div>
				</div> <!-- end row strip -->
			</a>


		</div> <!-- end container-->

	</div> <!-- end row content1 -->



	<!-- CONTENT: WHO WE ARE -->
	<div id="whoweare" class="row strip">

		<div class="container">

			<div class="row">

				<div class="span2 offset1 blackstrip" style="width:182px;">

				</div>

			</div>

		</div> <!-- end container -->

	</div> <!-- end row strip -->

	<div class="row heading">

		<div class="container">

				<div class="row">

					<div class="strip_heading offset1">
					<span>Who we are</span>
					<br/>
					<span style="font-size:14px; color:gray; font-weight:normal;">Meet the vanguard of IMG</span>
					</div>

				</div>

		</div> <!-- end container -->

	</div> <!-- end row heading -->

	<div class="row whoweare_content">

		<div class="container">

			<div class="row">

				<div class="span10 offset1">

					<div class="whoweare_content_box">
						<span>01'</span>
						<p> We started out in 2001, and have never looked back since then.</p>
					</div> <!-- end whoweare_content_box -->

						<hr />

					<div class="whoweare_content_box">
					 	<span>	{{ count }}</span>
						<p>sharpies, all with the firm resolve: “Work hard, party harder!”</p>
					</div> <!-- end whoweare_content_box -->

						<hr />

					<div class="whoweare_content_box">
						<span>	21</span>
						<p> applications up and running on channel i, the intranet website.</p>
					</div> <!-- end whoweare_content_box -->

						<hr />

					<div class="whoweare_content_box">
						<span id="likes"></span>
                                                <script>
                                                    likes = String({{ page_likes }}/1000);
                                                    likes_displayed = likes.substring(0,4);
                                                    if(likes_displayed[3]==0)
                                                      likes_displayed = likes.substring(0,2);
                                                    document.getElementById("likes").innerHTML = likes_displayed;
                                                </script>
						<p>thousand social media followers, who love us and our work.</p>
					</div> <!-- end whoweare_content_box -->

					<div class="row">
						<img src="{{ STATIC_URL }}images/img_website/team.jpg" style="padding:27px;"/>
					</div>

				</div> <!-- end span11 offset1 -->

			</div>

		</div> <!-- end container -->

	</div> <!-- end row whoweare_content -->


	<!-- CONTENT: THE WORK CULTURE -->
	<div id="workculture" class="row strip">

		<div class="container">

			<div class="row">

				<div class="span2 offset1 blackstrip" style="width:203px;">

				</div>

			</div>

		</div> <!-- end container -->

	</div> <!-- end row strip -->

	<div class="row heading">

		<div class="container">

				<div class="row">

					<div class="strip_heading offset1">
					<span>What we do</span>
					<br/>
					<span style="font-size:14px; color:gray; font-weight:normal;">A glimpse of our work culture</span>
					</div>

				</div>

		</div> <!-- end container -->

	</div> <!-- end row heading -->

	<div class="row whoweare_content">

		<div class="container">

			<div class="row">

				<div class="span11 offset1">

					<div class="whatwedo_content_box">
						<img src="{{ STATIC_URL }}images/img_website/bulb.png" />

						<p><span>FULL OF IDEAS</span><br/><br/>There just isn't enough time to implement all the ideas, the place is brimming with! But, we work incessantly to implement most of them.</p>
					</div> <!-- end whoweare_content_box -->


					<div class="whatwedo_content_box">
						<img src="{{ STATIC_URL }}images/img_website/sleep_deprived.png" />

						<p><span>SLEEP DEPRIVED</span><br/><br/> We turn nocturnal to meet our deadlines and achieve our goals. Going to sleep is probably the last thing on our plate. </p>
					</div> <!-- end whoweare_content_box -->


					<div class="whatwedo_content_box">
						<img src="{{ STATIC_URL }}images/img_website/geeky.png" />

						<p><span>GEEKY AT HEART</span><br/><br/>Despite having members from almost all branches in IIT, and sundry regions across the country, we all share one common trait of being a technical enthusiast.</p>
					</div> <!-- end whoweare_content_box -->

				</div> <!-- end span11 offset1 -->

			</div>

		</div> <!-- end container -->

	</div> <!-- end row whoweare_content -->

<!-- CONTENT: BIT OF HISTORY -->

	<div id="history" class="row strip">

		<div class="container">

			<div class="row">

				<div class="span2 offset1 blackstrip" style="width:206px;">

				</div>

			</div>

		</div> <!-- end container -->

	</div> <!-- end row strip -->

	<div class="row heading">

		<div class="container">

				<div class="row">

					<div class="strip_heading offset1">
					<span>History</span>
					<br/>
					<span style="font-size:14px; color:gray; font-weight:normal;">A timeline since the beginning</span>
					</div>

				</div>

		</div> <!-- end container -->

	</div> <!-- end row heading -->

	<div class="row history">

		<div class="container">

			<div class="row">
				
				<div class="span11 offset1">
				
					<img id="timeline_pic" src="{{ STATIC_URL }}images/img_website/timeline.png" />
				
				</div>

			</div> <!-- end row -->

		</div> <!-- end container -->

	</div> <!-- end row history -->


<!-- CONTENT: BACK TO TOP -->

	<div id="history" class="row strip">

		<div class="container">

			<div class="row">

				<div class="span2 offset2 blackstrip" style="width:767px;">

				</div>

			</div>

		</div> <!-- end container -->

	</div> <!-- end row strip -->

	<div class="row backtotop">

		<div class="container">

			<div class="row">

				<div class="span8 offset2">

					<p>
						Well, guess that is pretty much it!
						<br/>
						have a good day!
					</p>
					<a href="#header_top">
						<div class="backtotop_link">
							<img src="{{ STATIC_URL }}images/img_website/thin_arrow.png" />
							<br/>
							<span class="backtotop_text">
							back to top
							</span>
						</div>
					</a>

				</div>

			</div>

		</div>

	</div>

{% endblock body %}
