{% extends "img_website/static_blog.html" %}

{% block blog_post_title %}
								<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_blog/{{ post.slug|urlencode }}/" class="read_more"> <h3> {{ post.title }}</h3></a>
{% endblock blog_post_title %}

{% block create_post %}
<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_blog/create/" class="create_post">Add New Blog Post</a>
{% endblock create_post %}

{% block readmore %}
							<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_blog/{{ post.slug|urlencode }}/" class="read_more"> Read more </a>
{% endblock readmore %}

{% block pub %}
							<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_blog/{{ post.slug }}/update/" class="update_post">Update</a>
							<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_blog/{{ post.slug }}/delete/" class="update_post">Delete</a>
              {% if post.state == "Unpublished" %}
              <form action='{{ IMG_WEBSITE_BASE_URL }}/blog/{{ post.slug }}/publish_now/' method="post">
              {% csrf_token %}
              <input type="submit" class="state_post" value="Publish Now">
              </form>
              {% else %}
              <form action='{{ IMG_WEBSITE_BASE_URL }}/blog/{{ post.slug }}/unpublish_now/' method="post">
              {% csrf_token %}
              <input type="submit" class="state_post" value="Unpublish Now">
              </form>
              {% endif %}
{% endblock pub %}
