{% extends "img_website/base.html" %}

{% block head %}
{% endblock head %}

{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}

{% block links %}
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/"> HOME </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/works/"><span class="active"> WORKS </span></a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/blog/"> BLOG </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/about/"> ABOUT </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/status/"> STATUS </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/team/"> TEAM </a> </li>
								<li> <a href="{{ IMG_WEBSITE_BASE_URL }}/contact/"> CONTACT </a> </li>
{% endblock links %}

{% block body %}
	<div class="row blog">

		<div class="container blog_container">

			<div class="row">

				<div class="span7 offset1 articles_list shadow">

					<div class="span7 article">

						<div class="article_title">
							<div class="article_title_text">
								<h3>{{ work.title }}</h3>
							</div>
						</div> <!-- end artcle_title -->
					  {% comment %}
						<div class="article_image">
							<img src="{{ MEDIA_URL }}{{ work.image }}" />

						</div>
            {% endcomment %}

						<div class="article_content">

							<div class="article_content_text article_content_text_work" style="width:100%;word-wrap:break-word;">
                {{ work.content|safe }}
							<br/>
             <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fimg.channeli.in/works/{{ work.slug|urlencode }}/&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px; float:left;" allowTransparency="true"></iframe><style>.fbook{position: absolute; font-color:#ddd; top:-1668px; font-size:10;}</style></style><a href="http://www.howtoaddlikebutton.com" class="fbook">http://www.howtoaddlikebutton.com</a> <a href="http://www.druckerverwaltung.de" class="fbook">Drucker Test</a> <a href="http://www.profistaubsauger.de" class="fbook">Staubsauger Test</a><style>.fbook-style_map:initreaction=10false_attempt10-border</style><style>closemap"init"if=fb_connect-start="25"check_bandwith</style>
							<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html" style="width:130px; height:20px; float:left;"></iframe>
              <hr style="margin-bottom:0px;">

							</div>

							<!--<div class="article_content_image">

								</div> -->


						</div> <!-- end article_content -->


					</div> <!-- end article -->


					<div class="next-previous">
					  {% block next-prev %}
            {% ifnotequal work_prev "" %}
						  <a href="{{ IMG_WEBSITE_BASE_URL }}/works/{{ work_prev.slug }}/" class="nextpost"> Next Post </a>
            {% endifnotequal %}
            {% ifnotequal work_next "" %}
						  <a href="{{ IMG_WEBSITE_BASE_URL }}/works/{{ work_next.slug }}/" class="previous"> Previous Post </a>
					  {% endifnotequal %}
           {% endblock next-prev %}
					</div>

				</div> <!-- end span8 articles_list -->

				<div class="span2 sidebar" style="margin-top: 120px;">


					<div class="span2 archives_list">
						<span class="archives_heading">WORKS</span>

						<div class="year_content">
							<div class="archives_content tab" id="archives_content_2014">

								<ul class="archives_list">
                {% block works-list %}
                  {% for work in work_list %}
									  <li class="expand"><a href="{{ IMG_WEBSITE_BASE_URL }}/works/{{ work.slug }}/">	{{ work.title }} </a>
									  </li>
                  {% endfor %}
                {% endblock works-list %}
								</ul>

							</div> <!-- end archives_content tab -->


						</div> <!-- end year_content -->


					</div> <!-- end span2 archive_list -->


				</div> <!-- end span2 sidebar -->

			</div> <!-- end row -->

		</div> <!-- end container -->

	</div> <!-- end row blog -->
{% endblock body %}
