{% extends "img_website/static_works.html" %}

{% block create_post %}
<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_works/create/" class="create_post">Add New Work</a>
{% endblock create_post %}

{% block work_title %}
						<h3>
							<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_works/{{ work.slug|urlencode }}">{{ work.title }}</a></h3>
{% endblock work_title %}

{% block pub %}
              <a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_works/{{ work.slug|urlencode }}" class="read_more"> Read more </a>
							<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_works/{{ work.slug }}/update/" class="update_post">Update</a>
							<a href="{{ IMG_WEBSITE_BASE_URL }}/dynamic_works/{{ work.slug }}/delete/" class="update_post">Delete</a>
              {% if work.state == "Unpublished" %}
              <form action='{{ IMG_WEBSITE_BASE_URL }}/works/{{ work.slug }}/publish_now/' method="post">
              {% csrf_token %}
              <input type="submit" class="state_post" value="Publish Now">
              </form>
              {% else %}
              <form action='{{ IMG_WEBSITE_BASE_URL }}/works/{{ work.slug }}/unpublish_now/' method="post">
              {% csrf_token %}
              <input type="submit" class="state_post" value="Unpublish Now">
              </form>
              {% endif %}
{% endblock pub %}
