{% extends "games/base.html" %}
{% block text %}
  {% if page_lost == 1 %}
    <h2>Dude, You have lost the page. </h2>
  {% endif %}

{% endblock %}
{% block moregames %}
  <div id="left_arrow" class="bottom-slider">
    <div class="leftside_arrow">
    </div>
  </div>
  <div id="scroll_slider" class="bottom-slider">
   <div id="slider" style="width:{{total_width}}px;">
     {% for game,game_dict in channeli_games %}
       <a class="slider_name" target="" href="/games/{{ game_dict.url }}">  
  
       <div class="slider_item">
          <img class="slider_image" src="{{ STATIC_URL }}images/games/icons/{{game}}.png"/>
          <div >
            <div class="slider_name" target="_blank" href="/games/{{ game_dict.url }}">{{ game_dict.name }}</div>  
          </div> 
       </div>
       </a>
     {% endfor %}
   </div>
  </div>
  <div id="right_arrow" class="bottom-slider">
    <div class="rightside_arrow">
    </div>
  </div>
{% endblock %}
{% block scripts %}
 <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>   
 <script type="text/javascript" src="{{ STATIC_URL }}js/games/index.js">
  </script>  

{% endblock %}

