body {
background:#767676;
margin:0;
font-family:Trebuchet MS,verdana;
}
#container {
background:#FFF;
margin:0 auto 0 auto;
width:960px;
height:750px;
padding-left:15px;
}
#header {
font-family:Cambria,Calibri,Trebuchet MS;
font-size:92px;
color:#000;
float:left;
height:200px;
margin-left:180px;
background:#FFF;
}
#reg {
font-family:Calibri,Trebuchet MS;
font-size:72px;
color:#000;
float:left;
height:200px;
background:#FFF;
text-decoration:overline;
margin-top:20px;
font-weight:bold;
width:600px;
}
#main {
clear:both;
width:600px;
/*float:left;
/*width:760px;*/
font-weight:bold;
margin:0 auto 0 auto;
background:#FFF;
}
#footer {
margin:0 auto 0 auto;
clear:both;
padding-top:30px;
font-size:10px;
color:#777;
text-align:center;
}
#header_text {
font-family: Calibri;
font-size: 50px;
padding-top: 30px;
padding-left: 23px;
font-weight: bold;
}
