{% block DTD %}
<!DOCTYPE html>
{% endblock DTD %}

{% load compress %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <title>
      {% block title %}
        Channel i
      {% endblock title %}
    </title>
    <link rel="shortcut icon" href="{% block favicon_url %}{{ STATIC_URL }}images/favicon.ico{% endblock %}">
    {% block head %}
    {% endblock head %}
    {% block styles %}
    {% endblock styles %}
    {% block pre_scripts %}
    {% endblock pre_scripts %}

  </head>
  <body>
    {% block body %}
    {% endblock body %}
    <!--[if IE]>
      <script type="text/javascript" src="{{ STATIC_URL }}js/es5-shim.min.js"></script>
    <![endif]-->
    {% block scripts %}
      <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    {% endblock scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/piwik.js"></script>
  </body>
</html>
