{% block DTD %}
<!doctype html>
{% endblock DTD %}

{% load compress %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <title>
      {% block title %}
        Channel I
      {% endblock title %}
    </title>
    <link rel="shortcut icon" href="{% block favicon_url %}{{ STATIC_URL }}images/favicon.ico{% endblock %}">
    {% block head %}
    {% endblock head %}
    {% compress css file %}
      {% block styles %}
      {% endblock styles %}
    {% endcompress %}
    {% compress js %}
      {% block pre_scripts %}
      {% endblock pre_scripts %}
    {% endcompress %}

  </head>
  <body>
    {% block body %}
    {% endblock body %}
    {% compress js %}
      <!--[if IE]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/es5-shim.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
      {% block scripts %}
      {% endblock scripts %}
    {% endcompress %}
  </body>
</html>
