<div id="footer">
  <div id="footer-copyright">
     &copy; {% now "Y" %} <a href="{% link_url "imglink" %}" target="_blank" title="Information Management Group">IMG, IIT Roorkee</a>
  </div>
  <div class="fb-like"
    data-href="http://www.facebook.com/IMGIITRoorkee?ref=hl"
    data-send="false" data-layout="button_count" data-width="450"
    data-show-faces="true" data-font="arial" ></div>
  <div id="footer-links">
    <a class="footer-link" href="/terms/" target="_blank">Terms of Use</a>
    <a class="footer-link" href="/about/" target="_blank" style="margin-left:0px">About Channel i</a>
  </div>
</div>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
