.br-widget {
  height: 25px;
  width: 293px;
  display: inline-block;
  padding: 12px 0px 0px 16px;
}
.br-widget a {
  display: block;
  width: 50px;
  height: 16px;
  float: left;
  background-color: #e3e3e3;
  margin: 1px;
}
.br-widget a.br-active,
.br-widget a.br-selected {
  background-color: #59a6d6;
}
.br-widget .br-current-rating {
  line-height: 1.1;
  float: left;
  padding: 6px 20px 0 0;
  color: #646464;
}
.text_body{
  margin: 0 auto;
  width: 527px;
  overflow:auto;
  padding: 51px;
  margin-top: 60px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
}
body{
  background:#eee !important;
}
h3{
  margin-top:0px !important;
  text-align:center;
  margin-bottom:20px !important;
  font-style:italic;
}
h3 span{
  font-style:normal;
}
h4{
  text-align:center;
  margin:22px auto !important;
}
#id_bhawan{
  margin-left: 6px;
  height: 30px;
  width:189px;
  border-radius: 4px;
}
#id_room_no{
  width:189px;
  height:30px;
  border-radius:4px;
  border:1px solid rgb(176,176,176);
  padding-left:5px;
}
.submit_btn{
  margin-left: 71px;
  display: block;
  width: 189px;
  float: left;
  margin-top: 20px;
}
img{
  width: 80px;
  margin: 0 auto;
  display: block;
  margin-bottom: 17px;
}
.msg{
 text-align:center;
}
.note{
  display:inline-block;
  margin-top:15px;
}
.note_text{
  text-align: center;
}
