@charset "utf-8";
/* CSS Document */

button {
	background: #3db9e7;
	background: -moz-linear-gradient(top,  #4ccaed,  #2ea1d5);
	background: -webkit-gradient(linear, left top, left bottom, from(#4ccaed), to(#2ea1d5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ccaed', endColorstr='#2ea1d5');
	border: solid #2c84a4 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 0px;
}

button:active {
	background: -moz-linear-gradient(top, #2ea1d5, #4ccaed);
	background: -webkit-gradient(linear, left top, left bottom, from(#2ea1d5), to(#4ccaed));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ea1d5', endColorstr='#4ccaed');
}

button img {
	vertical-align:middle;
}

button .text {
	color: #fff;
	text-shadow:#2c84a4 1px 0px 1px;
	border-right: solid #3ebae8 1px;
	padding:6px;
	float:left;
}

button .image {
	padding:6px;
	float:left;
}
