{% extends "dialog_base.html" %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript">
    $('body').ready(function(){
        $('#id_user_type').change();
      }
    );
    function user_type_changed(select){
     if(select.value == 'student')
       $('#div_id_enrollment_no').show();
     else
       $('#div_id_enrollment_no').hide();
    }
  </script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/fonts.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/style.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/helpcenter/login_help.css" type="text/css">
  {{ form.media.css }}
  <style type="text/css">
    #content{
      margin-left:20px;
    }
    #heading{
      margin:20px 10px;
      font:13px "Tahoma","Arial",sans-serif;
      color:#202020;
    }
    #username_extra
    {
      position:relative;
      top:4px;
      margin-left:5px;
      font:13px "Tahoma","Arial",sans-serif;
      color:#202020;
    }
  </style>
{% endblock %}

{% block body %}
   <div id="content">
     {% if option == None %}
       <div class="point">
         You need <a href="http://mail.iitr.ac.in/iwc" target="_blank">IITR Webmail</a> credentials to sign into Channel i.
       </div>
       <div class="point">
         Please Choose one option:<br>
       </div>
       <div class="point">
         1) <a href="?option=get_one">I don't have a Webmail account.</a>
       </div>
       <div class="point">
         2) <a href="?option=contact_isc">I forgot username or password of my Webmail account.</a>
       </div>
       <div class="point">
         3) <a href="?option=contact_isc">I am not able to log into Webmail using correct username and password.</a>
       </div>
       <div class="point">
         4) <a href="?option=change_pass">My Webmail password is "abc123".</a>
       </div>
       <div class="point">
         5) <a href="?option=ask_help">I am able to log into Webmail but still not able to sign into Channel i.</a>
       </div>
     {% else %}{% if option == 'get_one' %}
       <div class="point">
         Please contact/visit ISC (Information SuperHighway Centre) and get your Webmail account made.
       </div>
     {% else %}{% if option == 'contact_isc' %}
       <div class="point">
         Please contact/visit ISC (Information SuperHighway Centre) and get you problem soved.
       </div>
     {% else %}{% if option == 'change_pass' %}
       <div class="point">
         You should change your password in Webmail under 'Options' tab. Then sign into Channel i.
       </div>
     {% else %}
       <div id="heading">Please fill up this form so that we can solve your problem as soon as possible.</div>
       <form action="" method="POST" class="uniForm">{% csrf_token %}
         {{ form.uniform }}
         <input type="submit" class="input-button" style="margin-left:10px" name="submit" value="Submit"/>
       </form>
     {% endif %}{% endif %}{% endif %}{% endif %}
     {% if option != 'ask_help' and option != None %}
       <form action="" method="POST">{% csrf_token %}
         <input type="submit" class="input-button" style="margin-left:10px" name="close" value="Ok!"/>
       </form>
     {% endif %}
   </div>
{% endblock body %}
