


.question-title
  font-weight: bold
  padding-bottom: 5px
  color: #444 !important
  &:hover
    color: #0072dc !important

.question-description
  color: #707070
  padding-top: 3px

.feed-bottom-line
  background: #F9F9F9
  min-height: 5px
  border-top: 1px solid #EEE
  padding: 7px 10px
  color: #333
  display: block
  text-decoration: none

.answers-number
  color: #444
  font-weight: bold
  text-decoration: none
  &:hover
    color: #0072dc

.person-name-no-text
  color: #0072dc
  text-decoration: none
  margin-right: 4px
  margin-top: -1px
  &:hover
    text-decoration: underline
   
.feed-question
  padding: 10px
  border: 1px solid #DDD
  box-shadow: 0px 1px 2px #EEE

.clear
  clear: both

.feed-answer-box
  padding: 10px
  border: 1px solid #DDD
  box-shadow: 0px 1px 2px #EEE

.question-title-box
  border-bottom: 1px solid #eee

.answer-line
  padding: 5px 0px
  font-weight: bold
  color: #484848

#forum-category
  margin-top: 20px
  background: white
  padding: 15px
  border: 1px solid #d0d0d0
  border-radius: 2px

.category
  margin-top: 4px
  height: 15px
  cursor: pointer
  padding: 4px 0px 4px 8px
  color: #606060
  &:hover
    background: #f4f4f4

#add-question-div
  border-top: 1px solid #eee
  margin-top: 10px

.add-question
  text-decoration: none

.category-link
  text-decoration: none

.answer-box
  color: #484848

.feed-box-big
  background: white
  padding: 10px
  border-radius: 2px
  border: 1px solid #d0d0d0
  margin-top: 10px

.question-page-title
  font-weight: bold
  font-size: 16px
  margin-bottom: 5px

.question-page-description
  font-size: 13px
  margin-bottom: 5px

.tags
  margin-bottom: 10px

.question-tag
  float: left
  border-radius: 2px
  background-color: #eee
  padding: 2px 5px
  margin-right: 3px
  color: #333
  cursor: pointer
  &:hover
    background: #e0e0e0

.clear
  clear: both

.grey-button
  background-color: #eee
  color: #aaa
  box-shadow: none
  border: 1px solid #ccc
  cursor: pointer
  border-radius: 2px
  font-family: "Arial"
  font-size: 13px
  font-weight: bold
  height: 28px
  line-height: 22px
  padding: 1px 8px
  text-align: center
  height: 25px

.blue-button
  background-color: #309bff
  color: white
  box-shadow: none
  border: 1px solid #2582da
  cursor: pointer
  border-radius: 2px
  font-family: "Arial"
  font-size: 13px
  font-weight: bold
  height: 28px
  line-height: 22px
  padding: 1px 8px
  text-align: center
  height: 25px

.follow-question-button
  float: left
 
.followers-number
  float: left
  height: 25px
  line-height: 25px
  margin-left: 5px
  font-weight: bold
  color: #444

.hr
  margin-top: 10px
  margin-bottom: 10px
  height: 1px
  background: #d0d0d0

.answer-field
  width: 540px
  height: 80px
  padding: 10px 10px
  border: 1px solid #d0d0d0
  background: #f7f7f7
  border-radius: 2px

.submit-button
  float: right
  margin-top: 10px
  margin-bottom: 10px

#answer_form
  padding: 10px
