@font-face {
    font-family: 'harabara';

   src:url('./fonts_used/Harabara.ttf') format('truetype');
    }


* {
  margin:0px;
  padding:0px
}
#cke_ckbody{margin-top:20px;}
body{background-color:#edeae3;}
#main{
  width:900px;
 
  margin:0px auto
}
#header{
  height:50px;
  background:#edeae3;
}
#header_inner{
  width:900px;
  height:100%;margin:0px auto
}
#header_left{
  width:60%;
  height:100%;
  float:left;
}
#header_right{
  width:40%;
  height:100%;
  padding-top:3px;
  float:left;
  text-align:right;
}
#header_right a{
  width:150px;
  height:20px;
  text-decoration:none;
  display:block;
  float:right;
  color:black;
  font-family:harabara;
  font-size:20px;
  letter-spacing:1px;
}
#footer{
  width:100%;
  float:left;
  margin:auto;
  height:20px;
  text-align:center;
  padding-top:10px;
  border-top:2px solid black;
}

.category{
  height:auto;
  overflow:visible;
  width:25%;
  float:left;
}

.a
{
height:20px;
width:100%;

}

