xtras/*~
*~
*.pyc
*.swp
\#*
vle/quickstart/public/searchindex/*
vle/quickstart/public/searchindextags/*
vle/quickstart/public/searchindexans/*
vle/quickstart/public/searchindexfiles/*
vle/quickstart/public/log.txt
vle/quickstart/public/qotd.txt
vle/quickstart/public/log_qotd.txt
vle/quickstart/public/latest.xml
vle/quickstart/application/files/*
lectut/uploads/*
lectut/lectut_profs_logs.txt
alumen/uploads/*
meeting_minutes/upload/*
scienceday/upload/*
scienceday/tmp/*
staffsportsmeet/upload/*
staffsportsmeet/tmp/*
convocation/upload/*
forminator/dms/protected/runtime/*
