<html>
  <head>
    <title>JukeBox</title>
  </head>

  <body>
    <form action="search/" method="get">
      <input type="text" name="q">
      <input type="submit" value="Search">
    </form>
    <br>
    <a href="trending/">Trending</a>
    <a href="artists/">Artists</a>
    <a href="albums/">Albums</a>
    <br>
    {% if user.is_active %}
      {{ user.username }}
      <br>
      <form action="playlist/create/" method="get">
        <input type="text" name="name">
        <input type="submit" value="Create">
      </form>
      <a href="logout/">Logout</a>
    {% else %}
      <a href="login/">Login</a>
    {% endif %}










<!--    <div id="append">
    <input type="text" id="q">
    </div>
  </body>
  <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery.min.js"></script>
  <script>
    $("#q").keyup(
        function(){
          $.get("example/",
            function(data){
                  alert("data: "+data.success);
                });
              });
  </script>
-->


</html>
