<html>
  <head>
    <title>JukeBox Search</title>
  </head>

  <body>
  {% for res in songs %}
    <p>Song Name --- {{res.song}}</p>
    <p>Album ---{{res.album}}</p>
    Artist ---
    {% for artist in res.artists.all %}
      {{artist}} , &nbsp;
    {% endfor %}
    <br><br>
  {% endfor%}


<hr>


  {% for res in albums %}
    <p>Album ---{{res.album}}</p>
    Artist ---
    {% for artist in res.artists.all %}
      {{artist}} , &nbsp;
    {% endfor %}
    <br><br>
  {% endfor%}

<hr>

  {% for res in artists %}
    <p>Artist ---{{res.artist}}</p>
  {% endfor%}
  </body>
</html>
