.generic_form
{
width:300px;
}
#generic_form_submit
{
  margin-top:15px;
}
label 
{
float:left;
font-family:myriad pro;
text-align-center;
padding-left:5px;
padding-top:5px;
}

select
{
float:left;
      margin-left:70px;
height:30px;
border:1px solid #e2e2e2;
       font-size:14px;
}


textarea
{
float:left;
width:177px;
height:88px;
      margin-left:75px;background-color:#f0f0f0;
	border:1px solid #b9b9b9;
}
textarea:focus
{
 background-color:#ffffff;
	border:1px solid #b9b9b9;
    -webkit-box-shadow: 0 0 1px #b9b9b9;
    -moz-box-shadow: 0 0 1px #b9b9b9;
 
}
input[type="text"], input[type="email"], input[type="number"]
{
float:right;
      margin-left:5px;
      font-family:myriad pro;
      background-color:#f0f0f0;
	border:1px solid #b9b9b9;
  padding:6px 0px 0px 0px;      
}
input[type="text"]:focus, input[type="email"]:focus, input[type"number"]:focus
{
  text-align:left;
	font-size:14px;
	font-family:myriad pro;
	background-color:#ffffff;
	border:1px solid #b9b9b9;
    -webkit-box-shadow: 0 0 1px #b9b9b9;
    -moz-box-shadow: 0 0 1px #b9b9b9;
    border:1px solid #b9b9b9;
}
input[type="file"]
{
  height:24px;
   padding-top:0px;
      font-family:myriad pro;
      background-color:#f0f0f0;
	border:1px solid #b9b9b9;
  padding:6px 0px 0px 0px;      
}
input[type="file"]:focus
{
   padding-top:0px;
  text-align:left;
	font-size:14px;
	font-family:myriad pro;
	background-color:#ffffff;
	border:1px solid #b9b9b9;
    -webkit-box-shadow: 0 0 1px #b9b9b9;
    -moz-box-shadow: 0 0 1px #b9b9b9;
    border:1px solid #b9b9b9;
}
input[type="submit"]
{
margin:0 auto;
  text-align:center;
     font-family:myriad pro;

}
#id_days_till_expiry
{
  margin-left:23px;
}
#id_category
{
    margin-left:53px;
width:184px;
}
#id_sub_category
{
    margin-left:29px;
width:184px;
}
#id_item_image
{
   width:182px;
   margin-left:40px;
   padding-top:0px;
}
.submit_button
{
  position:absolute;
left:50%;    
margin:0 auto;
width:160px;
}
.btn
{
	margin-left:-9px;
	margin-top:3px;
	background-color:#eeeeee;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	--border-radius:0px;
	font-size:16px;
	font-family:myriad pro;
	color:#444;
	border:1px solid #dadada;
height:30px;
       line-height:25px;

}
.btn:hover
{
	border:1px solid #dadada;
	background-color:#cacaca;
color:#ffffff;
/*	-webkit-box-shadow: 0 1px 1px -1px black;
	-moz-box-shadow: 0 1px 1px -1px black;
	box-shadow: 0 1px 1px -1px black;*/
}
.btn-primary
{
	margin-left:-9px;
	background-color:#3b8df2;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	--border-radius:0px;
	font-size:16px;
	font-family:myriad pro;
	color:#ffffff;
	border:1px solid #3b8df2;
}
.btn-primary:hover
{
	border:1px solid #0072ff;
	background-color:#0072ff;
/*	-webkit-box-shadow: 0 1px 1px -1px black;
	-moz-box-shadow: 0 1px 1px -1px black;
	box-shadow: 0 1px 1px -1px black;*/
}
#id_status
{
   width:184px;
   font-size:14px;
}
#old_image
{
    max-width:225px;
    font-family:myriad pro;
}
select
{
 max-height:30px;
	margin-bottom:10px;
	text-align:center;
	font-family:myriad pro;
	font-size:14px;
	overflow: hidden;
	background: url(../../images/buysell/arrow.png) no-repeat right #fefefe;
	background-size:10px 10px;
	background-position:167px 10px;
	background-color:#f0f0f0;
	border:1px solid #b9b9b9;
}
#div_sub_category select:focus
{
	text-align:left;
	font-size:14px;
	font-family:myriad pro;
	background-color:#ffffff;
	border:1px solid #b9b9b9;
    -webkit-box-shadow: 0 0 1px #b9b9b9;
    -moz-box-shadow: 0 0 1px #b9b9b9;
    border:1px solid #b9b9b9;
}

#editForm{
    margin-left: 28% !important;
}