#content{
    float: left;
    margin: 0px 0 0 0px;
    width:100%;
    }/**
#content form,#content p{
    margin-left:0px;
    }**/
form p{
    margin:2px;
    }

#heading{
 font-family:Trebuchet MS;
 font-size:18px;
 margin-left:12px;
 margin-top:12px;
}
	
#maintext{
 font-family:times,serif;
 font-size:12px;
 margin-left:12px;
}

#div_item_name{
 margin-left:12px;
 margin-bottom:12px;
}

#id_item_name{
float:right;
margin-right:12px;
width:400px;
}

#div_condition{
 margin-left:12px;
 margin-bottom:12px;
}
#id_condition{
float:right;
margin-right:12px;
width:400px;
}


#div_price_lower{
 margin-left:12px;
 margin-bottom:12px;
}
#id_price_lower{
float:right;
margin-right:12px;
width:400px;
}


#div_price_upper{
 margin-left:12px;
 margin-bottom:12px;
}
#id_price_upper{
float:right;
margin-right:12px;
width:400px;
}


#div_contact{
 margin-left:12px;
 margin-bottom:12px;
}
#id_contact{
float:right;
margin-right:12px;
width:400px;
}


#div_email{
 margin-left:12px;
 margin-bottom:12px;
}
#id_email{
float:right;
margin-right:12px;
width:400px;
}

#generic_form_submit{
 margin-left:12px;
 margin-bottom:12px;
}
#generic_form_reset{
 margin-left:12px;
 margin-bottom:12px;
}
