{% extends "base.html" %}

{% block scripts %}
  {% if calendar %}
    {{ form.media.js }}
  {% else %}
    {{ block.super }}
  {% endif %}
  <script type="text/javascript">
    parent.display_messages({{ django_messages }});
  </script>
{% endblock %}

{% block styles %}
  {{ form.media.css }}
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/style.sass" type="text/sass"/>
  <style type="text/css">
  </style>
{% endblock %}

{% block body %}
  <form class="uniForm" id='add-event-form' action="" method="POST">{% csrf_token %}

    <div id="div_id_calendar" class="ctrlHolder focused">
      <label for="id_calendar" class="requiredField">
        Calendar<span class="asteriskField">*</span>
      </label>
      <select class="select" id="id_calendar" name="calendar_name"  onchange="$('input[name=reset]').click();">
        <option value="">---------</option>
        {% for cal in calendars %}
         <option value='{{ cal.name }}' {% if cal.name == calendar.name %}selected='selected'{% endif %}>{{ cal.verbose_name }}</option>
        {% endfor %}
      </select>
    </div>

    <input type="submit" name="reset" style="display:none;"/>
    {% if calendar %}
      {{ form.uniform }}
      <input class="input-button" style="margin-left:10px;" type="submit" name="submit" value="Submit"/>
    {% endif %}
  </form>
{% endblock %}
