{% extends "base.html" %}

{% block scripts %}
  {{ form.media.js }}
  <script type="text/javascript">
    parent.display_messages({{ django_messages }});
  </script>
{% endblock %}

{% block styles %}
  {{ form.media.css }}
  <link rel="stylesheet" href="{{ STATIC_URL }}sass/nucleus/style.sass" type="text/sass"/>
  <style type="text/css">
    .cke{
      margin-left:10px !important;
    }
  </style>
{% endblock %}

{% block body %}
  <form action="" method="POST" class="uniForm">{% csrf_token %}
    {{ form.uniform }}
    <input class="input-button" style="margin-left:10px;" type="submit" name="submit" value="Submit"/>
  </form>
{% endblock %}
