{% extends "feeds/base.html" %}

{% block link %}
  {{ event.link }}
{% endblock %}

{% block target %}_self{% endblock %}

{% block feed_line %}
{% if event.added_by == "" %}
  An event was added to {{ event.shown_calendar_name }}.
{% else %}
  {{ event.uploader.html_name }} added an event.
{% endif %}
{% endblock %}

{% block feed_description %}
  <div class='event-type-head'>
    {{ event.date }}
    <div class='event-shown-calendar-name'>
      <div style='clear:both'></div>
      <div class='shown-cal-name'>
        {{ event.shown_calendar_name }}
      </div>
     </div>
  </div>
  <div class='event'>
    <div class='event-time-title'>
      <div class='event-time'>{% if event.time %}{{ event.time }}{% else %}Event Title{% endif %}</div>
      <div class='event-name'>{{ event.title }}</div>
      <div style='clear:both'></div>
    </div>
  {% if event.duration %}
    <div class='event-duration'>
      <div class='event-left'>Duration</div>
      <div class='event-right'>{{ event.duration }}</div>
      <div style='clear:both'></div>
    </div>
  {% endif %}
  {% if event.added_by %}
    <div class='event-by'>
      <div class='event-left'>By</div>
      <div class='event-right'>{{ event.added_by }}</div>
      <div style='clear:both'></div>"
    </div>
  {% endif %}
  {% if event.place %}
    <div class='event-place'>
      <div class='event-left'><div title='Venue' class='event-place-icon'></div></div>
      <div class='event-right'>{{ event.place }}</div>
      <div style='clear:both'></div>
    </div>
  {% endif %}
  {% if event.description %}
    <div class='event-short-description'>
      <div class='event-left'><div title='Description' class='event-detail-icon'></div></div>
      <div class='event-right'>{{ event.description }}</div>
      <div style='clear:both'></div>
    </div>
  {% endif %}
  </div>
{% endblock %}
