.query-box
{
  padding:10px 10px 10px 5px;
  border-top:1px solid #dddbdb;
  margin-bottom:15px;
  overflow:auto;
}

.query-main,.feedback-main
{
  padding-bottom:10px;
  overflow:auto;
}

.query-main
{
  cursor:pointer;
}

.query-main-content
{
  float:left;
  width:97.5%;      
}

.feedback-main
{
  border-bottom:0px;
}  
.replies
{
  border-top:1px solid #e8e8e8;
}  
.seen
{
  float:left;
}

.profile-pic
{
  width:40px;
  height:40px;
  background-color:#dddbdb;
  float:left;
  margin:0px 10px 0px 10px;
}

.person-name
{
  float:left;
  color:#0072dc;
  font-family:"Tahoma","Arial";
  font-size:13px;
}
  

.posted
{
  float:right;
  color:#797979;
  font-size:12px;
  margin-left:10px;
  font-family:"Tahoma","Arial";
}


.query-app-name
{
  float:right;
  color:#0072dc;
  font-family:"Tahoma","Arial";
  font-size:12px;
}

.query-app-name a
{
  text-decoration:none;
  color:#0072dc;
}  


.query-text
{
  margin-top:26px;
  margin-left:72px;
  color:#484848;
  font-size:12px;
  max-width:500px;
  min-width:275px;
  font-family:"Tahoma","Arial";
  text-align:justify;
} 

.query-text a, .reply-text a
{
  color:#0072dc;
  text-decoration:none;
}

.reply-main
{
  padding:7px 10px 7px 33px;
  overflow:auto;
  border-bottom:1px solid #e8e8e8;
}

.profile-pic-small
{
  float:left;
  width:30px;
  height:30px;
  margin-right:10px;
  border:1px solid #dddbdb;
}

.reply-text
{
  float:left;
  color:#484848;
  font-size:12px;
  max-width:500px;
  min-width:275px;
  font-family:"Tahoma","Arial";
  text-align:justify;
}

.write-reply
{
  padding:7px 10px 7px 33px;
  overflow:auto;
}


.reply-box
{
  float:left;
  color:#484848;
  font-size:12px;
  height:28px;
  width:350px;
  max-width:500px;
  background-color:#ffffff;
  font-family:"Tahoma","Arial";
  border:1px solid #dddbdb;
} 
  

.helpcenter-header {
  font-size: 14px;
  font-family: "Tahoma";
  color: #DD4B39;
  margin-bottom: 10px;
}

.min-max{
  float:right;
  margin-left:5px;
  color:#666;
  cursor:pointer;      
}        
