<label for="id_name">Name Of Student:</label></th><td><input name="name" value="Anshul Agrawal" readonly="readonly" maxlength="20" type="text" id="id_name" /></td></tr>
<tr><th><label for="id_branch">Branch:</label></th><td><input readonly="readonly" type="text" name="branch" value="B. Tech. (Computer Science &amp; Engineering) and M. Tech. (Information Technology)" id="id_branch" /></td></tr>
<tr><th><label for="id_semester">Semester:</label></th><td><input readonly="readonly" type="text" name="semester" value="UG20" id="id_semester" /></td></tr>
<tr><th><label for="id_graduation">Graduation:</label></th><td><input readonly="readonly" type="text" name="graduation" value="UG" id="id_graduation" /></td></tr>
<tr><th><label for="id_category">Category:</label></th><td><input readonly="readonly" type="text" name="category" value="GEN" id="id_category" /></td></tr>
<tr><th><label for="id_fathers_name">Father&#39;s name:</label></th><td><input readonly="readonly" type="text" name="fathers_name" value="Anil Kumar Agrawal" id="id_fathers_name" /></td></tr>
<tr><th><label for="id_fathers_occupation">Father&#39;s Occupation:</label></th><td><input type="text" name="fathers_occupation" value="practice" id="id_fathers_occupation" /></td></tr>
<tr><th><label for="id_home_address">Permanent address:</label></th><td><input type="text" name="home_address" value="311, silver mall,a block,8-a rnt marg,indore" id="id_home_address" /></td></tr>
<tr><th><label for="id_bhawan">Bhawan name:</label></th><td><select name="bhawan" id="id_bhawan">
<option value="AZB">Azad Bhawan</option>
<option value="CTB">Cautley Bhawan</option>
<option value="GNB">Ganga Bhawan</option>
<option value="GVB">Govind Bhawan</option>
<option value="JWB">Jawahar Bhawan</option>
<option value="RKB">Radhakrishnan Bhawan</option>
<option value="RJB">Rajendra Bhawan</option>
<option value="RGB" selected="selected">Rajiv Bhawan</option>
<option value="RVB">Ravindra Bhawan</option>
<option value="MVB">Malviya Bhawan</option>
<option value="SB">Sarojini Bhawan</option>
<option value="KB">Kasturba Bhawan</option>
<option value="IB"> Indra Bhawan</option>
</select></td></tr>
<tr><th><label for="id_room_no">Room no:</label></th><td><input type="text" name="room_no" value="B-202" id="id_room_no" /></td></tr>
<tr><th><label for="id_bank_name">Student&#39;s Bank Name:</label></th><td><select name="bank_name" id="id_bank_name">
<option value="PNB" selected="selected">Punjab National Bank</option>
<option value="SBI">State Bank Of India</option>
</select></td></tr>
<tr><th><label for="id_account_no">Student&#39;s Account no.</label></th><td><input type="text" name="account_no" value="40" id="id_account_no" /></td></tr>
<tr><th><label for="id_guardians_name">Guardians name:</label></th><td><input id="id_guardians_name" type="text" name="guardians_name" maxlength="20" /></td></tr>
<tr><th><label for="id_guardians_occupation">Guardians occupation:</label></th><td><input id="id_guardians_occupation" type="text" name="guardians_occupation" maxlength="20" /></td></tr>
<tr><th><label for="id_guardians_address">Guardians address:</label></th><td><input type="text" name="guardians_address" id="id_guardians_address" /></td></tr>
<tr><th><label for="id_fathers_income">Fathers income:</label></th><td><input type="text" name="fathers_income" id="id_fathers_income" /></td></tr>
<tr><th><label for="id_guardians_income">Guardians income:</label></th><td><input type="text" name="guardians_income" id="id_guardians_income" /></td></tr>
<tr><th><label for="id_mothers_income">Mothers income:</label></th><td><input type="text" name="mothers_income" id="id_mothers_income" /></td></tr>
<tr><th><label for="id_other_scholarship_amount">Other scholarship amount:</label></th><td><input type="text" name="other_scholarship_amount" id="id_other_scholarship_amount" /></td></tr>
<tr><th><label for="id_other_scholarship_details">Other scholarship details:</label></th><td><input type="text" name="other_scholarship_details" id="id_other_scholarship_details" /></td></tr>
<tr><th><label for="id_previous_aid_amount">Previous aid amount:</label></th><td><input type="text" name="previous_aid_amount" id="id_previous_aid_amount" /></td></tr>
<tr><th><label for="id_previous_aid_session">Previous aid session:</label></th><td><input type="text" name="previous_aid_session" id="id_previous_aid_session" /></td></tr>
<tr><th><label for="id_work_bhawan_details">Work bhawan details:</label></th><td><input type="text" name="work_bhawan_details" id="id_work_bhawan_details" /></td></tr>

