
{% extends "nucleus/home_student_old.html" %}

   {% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/placement/styles.css">
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/tabs.js"></script>-->
{% endblock %}  {# End styles block #}

{% block profile_pic %}
<img src="{% url placement.media.photo %}"/>
{% endblock %}  {# End profile_pic block #}

{% block header_text %}
Student Loan Aid Scholarship
{% endblock %}

{% block app_scripts %}
<script type="text/javascript">
  $("#facebook_form textarea").attr("maxlength", "70");
</script>

<script>
    $(".add-more").click(function(){ 
     var new_field = '<textarea name="other-scholarship-detail"></textarea>';
    $(this).before(new_field);
    });
</script>
}

{% endblock %}

{% block header_links %}
<div id="header_app_links">
  <nav>
          <a href="{% url nucleus.views.logout %}">Logout</a>
  </nav>
</div>
{% endblock %}  {# End header_links block #}

{% block app_content %}
<div>
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <div class="fieldWrapper">
         {{ form.name.errors }}
          <label for="id_name">Name Of Student:</label>
          {{ form.name }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.branch.errors }}
          <label for="id_branch">Student's Branch:</label>
          {{ form.branch }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.semester.errors }}
          <label for="id_semester">Semester:</label>
          {{ form.semester }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.graduation.errors }}
          <label for="id_graduation">Graduation:</label>
          {{ form.graduation }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.caegory.errors }}
          <label for="id_category">Cateory:</label>
          {{ form.category }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.fathers_name.errors }}
          <label for="id_fathes_name">Father's Name:</label>
          {{ form.fathers_name }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.fathers_occupation.errors }}
          <label for="id_fathers_occupation">Father's Occupation:</label>
          {{ form.fathers_occupation }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.home_address.errors }}
          <label for="id_home_address">Permanent Address:</label>
          {{ form.home_address }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.bhawan.errors }}
          <label for="id_bhawan">Bhawan:</label>
          {{ form.bhawan }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.room_no.errors }}
          <label for="id_room_no">Room no:</label>
          {{ form.room_no }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.bank_name.errors }}
          <label for="id_bank_name">Bank name:</label>
          {{ form.bank_name }}
        </div>
        <br/>
        <div class="fieldWrapper">
          {{ form.account_no.errors }}
          <label for="id_account_no">Bank Account no.:</label>
          {{ form.account_no }}
        </div>
        <br/>
       <div class="fieldWrapper">
        <p>If father not alive, guardian's name, occupation and permanent address:</p>
           {{ form.home_address.errors }}
          <label for="id_guardians_name">Guardian's Name:</label>
          {{ form.guardians_name }}
          <br/>
          {{ form.guardians_occupation.errors }}
          <label for="id_guardians_occupation">Guardian's Occupation:</label>
          {{ form.guardians_occupation }}
          <br/>
          {{ form.home_address.errors }}
          <label for="id_guardians_address">Guardian's Address:</label>
          {{ form.home_address }}
           </div>
           <br/><br/>
          <div class="fieldWrapper">
          <p>Current monthly income ... must be attached in all other cases</p>
          <br/>
          {{ form.fathers_income.errors }}
          <label for="id_fathers_income">Father's Income:</label>
          {{ form.fathers_income }}
          <br/>
          {{ form.mothers_income.errors }}
          <label for="id_mothers_income">Mother's Income:</label>
          {{ form.mothers_income }}
          <br/>
          {{ form.guardians_income.errors }}
          <label for="id_guardians_income">Guardian's Income:</label>
          {{ form.guardians_income }}
          <br/>
           </div>
          <br/><br/>
          <div class="fieldWrapper">
          <p>Whether receipent of any other ....</p>
          <br/>
          {{ form.other_scholarship_details.errors }}
          <label for="id_other_scholarship_details">Details:</label>
          {{ form.other_scholarship_details }}
          <br/>
          <textarea name="other-scholarship-detail"></textarea>
          <br/>
          <a href="javascript: return null;" class="add-more">Add More</a>
          </div>
          <br/><br/>
          <div class="fieldWrapper">
          <p>
          <p>Details of Aid Sanctioned . . .<br/>
          {{ form.previous_aid_amount.errors }}
          <label for="id_previous_aid_amount">Previous Aid amount:</label>
          {{ form.previous_aid_amount }}
          <br/>
          {{ form.previous_aid_session.errors }}
          <label for="id_previous_aid_session">Session:</label>
          {{ form.previous_aid_session }}
          <br/>
           </div>
         <br/><br/>
          <div class="fieldWrapper">
          <p>
          <p>Details of bhawan....<br/>
          {{ form.other_work_bhawan_details.errors }}
          <label for="id_work_bhawan_details">Details:</label>
          {{ form.work_bhawan_details }}
          <br/>  
<input type="submit" value="Submit" />
</form>
</div>
{% endblock  %}


{% block left_sidebar %}
<!--<div id="content_left" style="width: 200px; height: 1000px">
</div>-->
{% endblock %}  {# End left_sidebar block #}

