/* line 3, ../../sass/nucleus/style.sass */
body {
  font-family: "Tahoma", sans-serif;
  font-size: 13px;
  color: #202020;
}

/* line 8, ../../sass/nucleus/style.sass */
.tab-color {
  color: white;
}

/* line 11, ../../sass/nucleus/style.sass */
.button1, .button3 {
  border-radius: 1px;
  background-color: #0068d0;
  padding: 3px 10px;
  color: white;
  text-align: center;
  font-family: "Tahoma";
  font-size: 13px;
  cursor: pointer;
}

/* line 21, ../../sass/nucleus/style.sass */
.button1:hover {
  background-color: #0072dc;
}

/* line 24, ../../sass/nucleus/style.sass */
.button3 {
  border-style: none;
  margin-top: 10px;
}
/* line 25, ../../sass/nucleus/style.sass */
.button3:hover {
  background-color: #0072dc;
}

/* line 30, ../../sass/nucleus/style.sass */
.button1 {
  height: 16px;
}

/* line 33, ../../sass/nucleus/style.sass */
.button2 {
  height: 16px;
  line-height: 17px;
  padding: 3px 8px;
  text-align: center;
  font-family: "Arial";
  font-size: 11px;
  cursor: pointer;
  background-color: whitesmoke;
  background-image: -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -moz-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -ms-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -o-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid gainsboro;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: #666666;
}
/* line 53, ../../sass/nucleus/style.sass */
.button2:hover {
  color: #444444;
  box-shadow: 0px 0.5px 1px #d5d5d5;
  border: 1px solid #cfcfcf;
}
/* line 57, ../../sass/nucleus/style.sass */
.button2:active {
  box-shadow: none;
  background-color: #f1f1f1;
  border: 1px solid #cfcfcf;
}

/* line 62, ../../sass/nucleus/style.sass */
textarea {
  resize: none;
  overflow-y: auto;
}

/* line 68, ../../sass/nucleus/style.sass */
.edit-line {
  height: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
}

/* line 73, ../../sass/nucleus/style.sass */
.checkbox-div {
  height: 20px;
  margin: 10px;
}

/* line 78, ../../sass/nucleus/style.sass */
.field select {
  height: 25px;
  width: 190px;
  background-color: white;
  border: #dddbdb 1px solid;
  float: left;
  font-family: "Tahoma", "Myriad Pro";
  font-size: 13px;
  line-height: 25px;
  color: #303030;
}
/* line 89, ../../sass/nucleus/style.sass */
.field input[type=text], .field input[type=password] {
  height: 25px;
  width: 190px;
  background-color: white;
  border: #dddbdb 1px solid;
  float: left;
  font-family: "Tahoma", "Myriad Pro";
  font-size: 13px;
  line-height: 25px;
  color: #303030;
}
/* line 99, ../../sass/nucleus/style.sass */
.field textarea {
  background-color: white;
  border: #dddbdb 1px solid;
  font-family: "Tahoma", "Myriad Pro";
  font-size: 13px;
  line-height: 18px;
  color: #303030;
}

/* line 107, ../../sass/nucleus/style.sass */
.textarea-field {
  background-color: white;
  border: #dddbdb 1px solid;
  font-family: "Tahoma", "Myriad Pro";
  font-size: 13px;
  line-height: 18px;
  color: #303030;
}

/* line 116, ../../sass/nucleus/style.sass */
.field textarea {
  width: 300px;
  height: 100px;
}
/* line 120, ../../sass/nucleus/style.sass */
.field input[type=text], .field input[type=password] {
  width: 183px;
  padding: 0px 0px 0px 5px;
}

/* line 124, ../../sass/nucleus/style.sass */
.checkbox-div input {
  position: relative;
  top: 5px;
  margin-top: 5px;
  width: 50px;
  height: 18px;
}

/* line 131, ../../sass/nucleus/style.sass */
.field input[type=checkbox] {
  margin-top: 5px;
  width: 18px;
  height: 18px;
}

/* line 136, ../../sass/nucleus/style.sass */
.checkbox-div span {
  height: 20px;
}

/* line 139, ../../sass/nucleus/style.sass */
.field-label-big {
  float: left;
  height: 25px;
  width: 155px;
  font-family: "Tahoma", "Myriad Pro";
  font-size: 13px;
  line-height: 25px;
  margin-right: 10px;
  color: #202020;
  cursor: pointer;
}

/* line 150, ../../sass/nucleus/style.sass */
.field-label {
  float: left;
  height: 25px;
  width: 100px;
  font-family: "Tahoma", "Myriad-Pro";
  font-size: 13px;
  line-height: 25px;
  margin-right: 10px;
}

/* line 159, ../../sass/nucleus/style.sass */
.dialog-class iframe {
  border: 0px;
}

/* line 162, ../../sass/nucleus/style.sass */
.input-button {
  box-shadow: none;
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #309bff;
  border-radius: 2px;
  font-family: "Arial";
  color: white;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  padding: 1px 8px;
  text-align: center;
}

/* line 178, ../../sass/nucleus/style.sass */
.div-button {
  box-shadow: none;
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #309bff;
  border-radius: 2px;
  font-family: "Arial";
  color: white;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  padding: 1px 8px;
  text-align: center;
  height: 25px;
}

/* line 195, ../../sass/nucleus/style.sass */
.input-button:hover, .div-button:hover {
  background: #309bff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #309bff 0%, #1685ed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #309bff), color-stop(100%, #1685ed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #309bff 0%, #1685ed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #309bff 0%, #1685ed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #309bff 0%, #1685ed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #309bff 0%, #1685ed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#309bff', endColorstr='#1685ed',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0px 1px 1px #606060;
}

/* line 214, ../../sass/nucleus/style.sass */
.input-button:active, .div-button:active {
  box-shadow: none;
  background-color: black;
}

/* line 218, ../../sass/nucleus/style.sass */
#messages-div {
  position: absolute;
  top: 15px;
  left: 150px;
  right: 130px;
  text-align: center;
}
/* line 224, ../../sass/nucleus/style.sass */
#messages-div span, #messages-div p {
  color: #468847;
  background-color: #dff0d8;
  padding: 8px 14px 8px 14px;
  margin: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #dff0d8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
/* line 235, ../../sass/nucleus/style.sass */
#messages-div .info {
  color: #a88809;
  background-color: #fffdcd;
  border: 1px solid #e4e3ca;
}
/* line 239, ../../sass/nucleus/style.sass */
#messages-div .error {
  background-color: #f2dede;
  color: #b94a48;
  border: 1px solid #eed3d7;
}

/* line 244, ../../sass/nucleus/style.sass */
.errorlist {
  background-color: #f2dede;
  color: #b94a48;
  border: 1px solid #eed3d7;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 5px 8px 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 252, ../../sass/nucleus/style.sass */
.error {
  background-color: #f2dede;
  color: #b94a48;
  border: 1px solid #eed3d7;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 5px 8px 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 5px;
  margin: 0px 10px;
  position: relative;
  top: 5px;
}

/* line 264, ../../sass/nucleus/style.sass */
.errorlist {
  margin-bottom: 10px;
}

/* line 267, ../../sass/nucleus/style.sass */
.field-label-span {
  font: 13px "Tahoma";
  margin-left: 10px;
}

/* line 271, ../../sass/nucleus/style.sass */
#footer {
  font-family: "Arial", "Tahoma";
}

/* line 274, ../../sass/nucleus/style.sass */
#footer-copyright {
  float: left;
}

/* line 277, ../../sass/nucleus/style.sass */
.fb-like {
  float: left;
  margin-left: 10px;
  position: relative;
  top: -3px;
  overflow: hidden;
}

/* line 284, ../../sass/nucleus/style.sass */
#footer-links {
  float: right;
}

/* line 287, ../../sass/nucleus/style.sass */
.footer-link {
  float: right;
  margin-left: 20px;
}

/* line 291, ../../sass/nucleus/style.sass */
#footer a {
  text-decoration: none;
}
/* line 293, ../../sass/nucleus/style.sass */
#footer a:hover {
  text-decoration: underline;
}
