			*
			{margin:0px;padding:0px;}
		
			#news
			{
				width:500px;
				height:500px;
				padding-left:300px;
				padding-top:100px;
			}
			#news_table
			{
				width:500px;
				height:500px;
			}
			#types_row
			{
				height:50px;
			}
			#channels_row
			{
				height:50px;
			}
			#data
			{
				font-size:25x;
			}
			a{
				text-decoration:none;
				color:grey;
				text-align:left;;
			}
